@model MOF.Etimad.Monafasat.ViewModel.QuantitiesTemplateModel
@{
   var count = 0;
}
@foreach (var item in Model.grids)
{
   count++;
   <div class="card-header" role="tab" id='headingOne@(count)'>
      <h4 class="m-0 p-2">
         <a data-toggle="collapse" name="collapseHeader" href="#collapse@(count)" aria-expanded="false" aria-controls="collapse@(count)" onclick="loadTables(this, @Model.TenderID,  @(item.gridTables.Count() > 0 ? item.gridTables[0].TableId : "0"), @item.FormId)">
            @(item.FormName + (string.IsNullOrEmpty(item.TemplateName) ? " " : (" - " + item.TemplateName)))
            <i class="material-icons pull-left">keyboard_arrow_down</i> 
         </a>
      </h4>
   </div>
   <div id="collapse@(count)" class="collapse" role="tabpanel" aria-labelledby='collapse@(count)' data-parent="#accordion">
      <div class="row">
         <div class="col-12">
            <ul id="tableHeaderContainer_@item.FormId" class="nav nav-pills">
               @foreach (var obj in item.gridTables.Where(a => !string.IsNullOrEmpty(a.TableId) && a.TableId != "0").ToList())
               {
                  <li class="nav-item"><a class="nav-link text-center" id="tableIndex_@obj.TableId" href="#tableIndex_@obj.TableId" onclick="  changeTable(event,@Model.TenderID, @obj.TableId, @obj.FormId)" data-toggle="tab">@obj.TableName</a></li>
               }
            </ul>
         </div>
      </div>
      <div id="tableContainDiv_@(item.FormId)">
      </div>
   </div>
}
@{ count++; }
<div class="card-header" role="tab" id='headingOne@(count)'>
   <h4 class="m-0 p-2">
      <a data-toggle="collapse" name="collapseHeader" id="costheading" href="#collapseCostTable" aria-expanded="false" aria-controls="collapseCostTable" onclick="LoadCoastsTable(@Model.TenderID, 0, 0)">
         جدول التكاليف
         <i class="material-icons pull-left">keyboard_arrow_down</i> 
      </a>
   </h4>
</div>
<div id="collapseCostTable" class="collapse" role="tabpanel" aria-labelledby='collapse@(count)' data-parent="#accordion">
   <div class="row">
      <div class="col-12">
         <div id="collapseCostTable"></div>
      </div>
   </div>
</div>
<script>
   function changeTable(event, tenderId, tableId, formId) {
      $("#tableContainDiv_" + formId).find("#form0").find('.validation-error').html('');
      $("#tableContainDiv_" + formId).find("#form0").find('[type=submit]').click();
      var testcount = $("#tableContainDiv_" + formId).find("#form0").find('.validation-error:not(:empty)');
      if (testcount.length == 0) {
         Tender.resource_url = '/Offer/GetApplyOfferTableQuantityItems?tenderId=' + tenderId + '&OfferId= @Model.OfferId' + '&quantityTableId=' + tableId + '&formId=' + formId + '&isReadOnly=@Model.IsReadOnly';
      }
      else {
         event.stopPropagation();
         AlertFun("رجاءا مراجعة البيانات المدخلة", alertMessageType.Danger);
      }
   }
   function LoadCoastsTable(tenderId, tableId, formId) {
      $('a[name=collapseHeader][aria-expanded=true]:not([id=costheading])').click();
      var token = $('input[name=__RequestVerificationToken]').val();
      $('#loader').show();
      $.get('/Offer/GetCoastsTablForApplyOfferAsync?tenderId=' + tenderId + '&offerId=@Model.OfferId' + '&tableId=' + tableId + '&formId=' + formId + '&isReadOnly=true', {
         __RequestVerificationToken: token,
      }).done(function (data) {
         $('#loader').hide();
         $('#LoadingSite').fadeOut();
         $("#collapseCostTable").html(data);
         $('#loader').hide();
      }).fail(function () {
         $('#loader').hide();
         $('#LoadingSite').fadeOut();
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');
      });
   }
   function loadTables(e, tenderId, tableId, formId) {
      if ($(e).attr('aria-expanded') == 'true') {
         $("#tableContainDiv_" + formId).html('');
         return;
      }
      else
         $('a[name=collapseHeader][aria-expanded=true]').click();
      $('#loader').show();
      var token = $('input[name=__RequestVerificationToken]').val();
      $.post('/Offer/GetApplyOfferQuantityTableViewComponent?tenderId=' + tenderId + '&offerId=@Model.OfferId' + '&tableId=' + tableId + '&formId=' + formId + '&isReadOnly=@Model.IsReadOnly', {
         __RequestVerificationToken: token,
      }).done(function (data) {
         $("#tableContainDiv_" + formId).html(data);
         $('#tableHeaderContainer_' + formId + ' li a').removeClass('active');
         $('#tableHeaderContainer_' + formId + ' li a').removeClass('show');


         $('#tableHeaderContainer_' + formId + ' li a').first().addClass('active');
         $('#tableHeaderContainer_' + formId + ' li a').first().addClass('show');
         $('#loader').hide();
      }).fail(function () {
         $('#LoadingSite').fadeOut();
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');
      });
   }  
</script>
