@model MOF.Etimad.Monafasat.ViewModel.CommitteeUserModel

@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.UsersAssign;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.AssignUsers</li>
      </ol>
   </nav>
}
<div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">
               @MOF.Etimad.Monafasat.Resources.BranchResources.Messages.ConfirmDeletion
            </h5>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
               <i class="material-icons">clear</i>
            </button>
         </div>
         <div class="modal-body">
            <p>
               @MOF.Etimad.Monafasat.Resources.BranchResources.Messages.ConfirmSupplierDeletion
               <input type="hidden" name="hiddenValueUser" id="hiddenValueUser" value="" />
               <input type="hidden" name="hiddenValueRole" id="hiddenValueRole" value="" />

                  @*<input type="hidden" name="hiddenValueBranchIdString" id="hiddenValueBranchIdString" value="@(Model.BranchId)" />*@
            </p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link btn-success" id="SaveModel" @@click="confirmDelete()">    @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Deleted    </button>
            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Cancel</button>
         </div>
      </div>
   </div>
</div>

<form method="POST">
   <input type="hidden" id="CommitteeId" name="CommitteeId" value="@Model.CommitteeId" />

   <div class="row" id="divBranches">

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <div class="card">
            <div class="card-body">
               <div>
                  <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.CommitteeInfo</h4>
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.CommitteeName
                           </div> <div class="col-8 etd-item-info"><span>@(Model.CommitteeModel.CommitteeName)</span></div>
                        </div>
                     </li>

                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Address

                           </div> <div class="col-8 etd-item-info"><span>@(Model.CommitteeModel.Address)</span></div>
                        </div>
                     </li>

                  </ul>
               </div>
               <div class="">
                  <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.SearchUsers <a class="btn p-2 btn-outline-primary pull-right" data-toggle="collapse" href="#SearchInBlocked" role="button" aria-expanded="false" aria-controls="SearchInBlocked"><i class="material-icons">search</i> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search</a></h4>
                  <div class="clearfix"></div>
                  <div class=" collapse" id="SearchInBlocked">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group bmd-form-group">
                              <label for="UserName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.UserName </label>
                              <input type="text" id="UserName"  v-model="searchCriteria.UserName" maxlength="50" autocomplete="off" class="form-control">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group bmd-form-group">
                              <label for="Email" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Email</label>
                              <input type="text" id="Email" name="Email" v-model="searchCriteria.Email" maxlength="50" autocomplete="off" class="form-control">
                           </div>
                        </div>
                        @if (Model.CommitteeModel.CommitteeTypeId == (int)Enums.CommitteeType.OpenOfferCommittee)
                        {

                           <div class="col-12">
                              <div class="form-group bmd-form-group">
                                 <label for="RoleName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.RoleName</label>
                                 <select id="RoleName1" v-model="searchCriteria.RoleName1" class="selectpicker" data-style="select-with-transition" title=@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.All data-size="7">
                                    <option value=""> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.All</option>
                                    <option value="@(RoleNames.OffersOppeningManager)"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OffersOppeningManager</option>
                                    <option value="@(RoleNames.OffersOppeningSecretary)"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OffersOppeningSecretary</option>
                                 </select>
                              </div>
                           </div>
                        }
                        else if (Model.CommitteeModel.CommitteeTypeId == (int)Enums.CommitteeType.CheckOfferCommittee)
                        {

                           <div class="col-12">
                              <div class="form-group bmd-form-group">
                                 <label for="RoleName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.RoleName</label>
                                 <select id="RoleName1" v-model="searchCriteria.RoleName1" class="form-control" data-style="select-with-transition" title=@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.All data-size="7">
                                    <option value=""> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.All</option>
                                    <option value="@(RoleNames.OffersCheckManager)"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OffersCheckManager</option>
                                    <option value="@(RoleNames.OffersCheckSecretary)"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OffersCheckSecretary</option>
                                 </select>
                              </div>
                           </div>

                        }
                        <div class="col-12">
                           <button class="btn btn-sm btn-primary" @@click="search" type="button"><i class="material-icons">search</i>  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Search</button>
                           <button class="btn btn-sm " type="button" @@click="Emptysearch"><i class="material-icons">close</i> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Clear </button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="" id="divUserName">
                  <h4 class="text-primary">تعيين مستخدم</h4>
                  <div class="form-group bmd-form-group">
                     <label asp-for="UserName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.UserName</label><span class="text-danger">*</span>

                     <select v-model="userId" name="userName" id="userId" data-style="select-with-transition" @@change="GetUserRoles()" class="selectpicker">
                        <option value="">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseChoose </option>
                        <option v-for="user in users" :key="user.userId" :value="user.userName">{{user.name}}</option>
                     </select>
                     <span v-if="!userId || userId == '' " id="rfvUserName" style="display:none" class="text-danger">@MOF.Etimad.Monafasat.Resources.CommitteeResources.ErrorMessages.UserRequired</span>

                  </div>
               </div>
               <div class="" id="divRoleName">
                  <div class="form-group bmd-form-group">


                     <label asp-for="RoleName" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <select name="RoleName" id="RoleName" asp-for="RoleName" class="form-control" data-style="select-with-transition" v-model="RoleName">
                        <option value="">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseChoose </option>
                        <option v-for="r in userCurrentRoles" :key="r.roleName" :value="r.roleName">{{r.roleNameAr}}</option>
                     </select>
                     <span asp-validation-for="RoleName" class="text-danger"></span>
                  </div>
               </div>
               <button type="submit" onclick="validateForm()" class=" btn btn-primary btn-sm">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save
               </button>
            </div>
         </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
         <div class="card">
            <table id="CommitteeTable" class="table table-striped text-center" aria-describedby="assign users grid">
               <thead class="text-center">
                  <tr>
                     <th scope="col" class="text-center">#</th>
                     <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.UserName </th>
                     <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.UserId </th>
                     <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email </th>
                     <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.RoleName</th>
                     <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Operations </th>
                  </tr>
               </thead>
               <tbody class="text-center" v-if="invitedcommittees && invitedcommittees.length > 0">
                  <tr v-for="(branch, index) in invitedcommittees">
                     <td class="text-center">
                        {{index + 1}}
                     </td>
                     <td class="text-center">
                        {{branch.userName}}
                     </td>
                     <td class="text-center">
                        {{branch.userId}}
                     </td>
                     <td class="text-center">
                        {{branch.email}}
                     </td>
                     <td class="text-center">
                        {{branch.roleName}}
                     </td>
                     <td class="text-center">
                        <div style="text-align: center;">
                           <div style="text-align: center;">
                              <button type="button" @@click="removeCommittee(branch.id,index)" class="btn-sm btn btn-danger btn-just-icon btn-round"><i class="material-icons">remove</i><div class="ripple-container"></div></button>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
               <tbody v-else>
                  <tr>
                     <td colspan="9" class="text-center">
                        <i class="text-primary material-icons" style="font-size:3rem">report</i>
                        <br />
                        @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
                     </td>
                  </tr>
               </tbody>
            </table>
            <pagination :visible_pages="3" ref="vpaginator" :resource_url="committeeresource_url" @@update="updateCommitteeResource"></pagination>
         </div>
      </div>
   </div>

   <div>
      <button class="btn btn-outline-primary btn-link pull-right" type="button" onclick="window.location= '@Url.Action("Index","Committee" , new { committeeTypeId = Model.CommitteeTypeIdString })'">
         @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
      <div class="clearfix"></div>
   </div>
</form>

@section scripts {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>

      var Join = new Vue({
         el: '#divBranches',
         data: {
            searchCriteria: {},
            invitedcommittees: [],
            users: @Html.Raw(Json.Serialize(Model.Users)),
            userCurrentRoles: [],
            userId: 0,
            RoleName: '',
            totalCount: 0,
            currentPage: 1,
            selectedUser: 1,
            enquiryIdString: '',
            loading: '@Html.Raw(MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Loading)',
            pageSize: 10,
            committeeresource_url: "/Committee/GetCommitteeUsersAsync?committeeId=@Model.CommitteeId",
            queryString: ''
         },
         updated: function () {
            $('#userId').selectpicker('refresh');
            $('#RoleName').selectpicker('refresh');
         },
         methods: {
            updateCommitteeResource: function (data) {
               this.invitedcommittees = data;
               //this.enquiryIdString = data.length > 0 ? data[0].enquiryIdString : 'enquiryIdString';
               this.totalCount = this.totalCount;
               this.currentPage = this.$refs.vpaginator.currentPage;
               this.pageSize = this.$refs.vpaginator.pageSize;
            }
            ,
         removeCommittee: function ( id,index) {
            
            this.invitedcommittees.splice(index, 1);
            var token = $('input[name=__RequestVerificationToken]').val();
            $.post('/Committee/RemoveAssignedUserAsync', { userId: id, committeeId: @Model.CommitteeId, __RequestVerificationToken: token }).done(function (result) {
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.UserDeletedSuccessfully)', alertMessageType.Success)
               window.location.reload();
            }).fail(function (error) {
               $('#LoadingSite').fadeOut();
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');

            });
         },
            GetUserRoles: function (_value) {
               Join.userCurrentRoles = [];
               var userid = this.userId;
                if (!this.userId) {
                  return false;
               }
               var token = $('input[name=__RequestVerificationToken]').val();
               $.post('/Committee/GetUserRolesByIdAndCommitteeType', { userName: userid,  CommitteeTypeId:@Model.CommitteeModel.CommitteeTypeId, __RequestVerificationToken: token }).done(function (result) {
                  Join.userCurrentRoles = result;
               }).fail(function (error) {
                  $('#LoadingSite').fadeOut();
                  AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');
               });
            },
            Emptysearch: function () {
               $('#LoadingSite').fadeIn();
               this.searchCriteria = {};
               this.RoleName1 = '';
               $('#RoleName1').val('');
               $('#RoleName1').selectpicker('refresh');
               var queryString = 'CommitteeId=@Model.CommitteeId' + '&CommitteeTypeId=@(Model.CommitteeModel.CommitteeTypeId)';
               $.get('/Committee/GetUsersByCommitteeType?' + queryString).done(function (result) {
                  $('#LoadingSite').fadeOut();
                  Join.users = result;
                  $('#userId').selectpicker('refresh');
               }).fail(function (error) {
                  $('#LoadingSite').fadeOut();
                  AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');
                  $('#userId').selectpicker('refresh');
               });
            },
            search: function () {
               $('#LoadingSite').fadeIn();
               var queryString = '';
               queryString = 'CommitteeId=@Model.CommitteeId' + '&CommitteeTypeId=@(Model.CommitteeModel.CommitteeTypeId)&UserName=' + (!this.searchCriteria.UserName ? '' : this.searchCriteria.UserName) + '&EMail=' + (!this.searchCriteria.Email ? '' : this.searchCriteria.Email) + '&RoleName=' + (!this.searchCriteria.RoleName1 ? '' : this.searchCriteria.RoleName1);
               $.get('/Committee/GetUsersByCommitteeType?' + queryString, function (res) {                
                  Join.users = res;
                  $('#userId').selectpicker('val',res);
                  $('#userId').selectpicker('refresh');
               }).done(function (result) {                 
                  $('#LoadingSite').fadeOut();
                  Join.users = result;
                  $('#userId').selectpicker('val', result);
                  $('#userId').selectpicker('refresh');
                  }).fail(function (error) {                     
                  $('#LoadingSite').fadeOut();
                  AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ErrorMessage)', 'danger');
                  });               
               $('#userId').selectpicker('val', null);
               $('#userId').selectpicker('refresh');

            },
            confirmDelete: function () {


            },
            showDialog: function (userId, roleName) {
               if (typeof (userId) !== "undefined" && userId !== "" && typeof (roleName) !== "undefined" && roleName !== "") {
                  $("#DeleteConfirmationModal #hiddenValueUser").val(userId);
                  $("#DeleteConfirmationModal #hiddenValueRole").val(roleName);
                  $("#DeleteConfirmationModal").modal("show");
               }
            }
         }

      });
      function GetUserRoles() {
         Join.GetUserRoles($("#userId").val());
      }
      function confirmDelete() {
         Join.confirmDelete();
      }

      function validateForm() {
         
         var r = $("#UserName").val();
         if ($("#UserName").val("")) {
            $("#rfvUserName").show();
         }
         if($("#RoleName").val() != "" && $("#userName").val() != "") {
            $('#LoadingSite').fadeIn();
         }
      }
   </script>
}
