@model MOF.Etimad.Monafasat.ViewModel.TenderPlaintCommunicationRequestModel
@using res = MOF.Etimad.Monafasat.Resources;
@{
   ViewData["Title"] = res.CommunicationRequest.DisplayInputs.PlaintRequestrReview;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.TenderDetails</li>
         <li class="breadcrumb-item active" aria-current="page">@res.CommunicationRequest.DisplayInputs.PlaintRequestrReview</li>
      </ol>
   </nav>
}

<div class="card">
   <div class="card-body">
      @await Component.InvokeAsync("VendorPlaintRequest", new { tenderIdString = Model.CommunicationRequestId })
   </div>
</div>
<div class="row">
   <div class="col-12">
      <button class="btn btn-outline-primary btn-link pull-right" type="button" onclick="window.location= '@Url.Action("DetailsForSupplier","Tender" , new { STenderId = Model.EncryptedTenderId })'">
         @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
   </div>
</div>

<script>
   $(document).ready(function () {
      $('.agencyLogo').hide();
   })
</script>
