@using MOF.Etimad.Monafasat.SharedKernel;
@using res = MOF.Etimad.Monafasat.Resources

@model MOF.Etimad.Monafasat.ViewModel.OfferLocalContentDetailsModel

<div class="card">
   <div class="card-body">
      <h5 class="text-dark-green">تفاصيل المحتوي المحلي للمنشأة</h5> <div class="row">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="list-group form-details-list">
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-6 etd-item-title">
                        منشأة صغيرة او متوسطة
                     </div>
                     <div class="col-4 etd-item-info">
                        <span id="spanSmallAndMedium">@Model.IsSmallOrMediumCorporation</span>
                        @if ((User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersPurchaseSecretary) || Model.IsDirectPurchaseMember) && Model.TenderStatusToViewUpdateButton)
                        {
                           <button type="button" onclick="UpdateIfCorporationSmallOrMedium('@Model.OfferIdString', event)" class="pull-right btn btn-sm btn-primary">تحديث</button>
                        }
                     </div>
                     <div class="col-2 etd-item-title">
                        <span id="spamLocalContentDesiredPerce"> @Model.CorporationSizeDate</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-6 etd-item-title">
                        المنشأة مدرجة في سوق المال
                     </div>
                     <div class="col-4 etd-item-info">
                        <span id="spanIsIncludedInMoneyMarket"> @Model.IsIncludedInMoneyMarket</span>
                        @if ((User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersPurchaseSecretary) || Model.IsDirectPurchaseMember) && Model.TenderStatusToViewUpdateButton)
                        {
                           <button type="button" onclick="UpdateIsCorporatioIncludedInMoneyMarket('@Model.OfferIdString', event)" class="pull-right btn btn-sm btn-primary">تحديث</button>
                        }
                     </div>
                     <div class="col-2 etd-item-title">
                        <span id="spamLocalContentDesiredPerce"> @Model.IsIncludedInMoneyMarketDate</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-6 etd-item-title">
                        نسبة المحتوي المحلي
                     </div>
                     <div class="col-4 etd-item-info">
                        <span id="spanLocalContentPerce"> @Model.LocalContentPercentage</span>
                        @if ((User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersPurchaseSecretary) || Model.IsDirectPurchaseMember) && Model.TenderStatusToViewUpdateButton)
                        {
                           <button type="button" onclick="UpdateLocalContentPercentage('@Model.OfferIdString', event)" class="pull-right btn btn-sm btn-primary">تحديث</button>
                        }
                     </div>
                     <div class="col-2 etd-item-title">
                        <span id="spamLocalContentDesiredPerce"> @Model.BaseLineDate</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-6 etd-item-title">
                        نسبة المحتوي المحلي المستهدفة
                     </div>
                     <div class="col-4 etd-item-info">
                        <span id="spamLocalContentDesiredPerce"> @Model.LocalContentDesiredPercentage</span>
                        @if ((User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersPurchaseSecretary) || Model.IsDirectPurchaseMember) && Model.TenderStatusToViewUpdateButton)
                        {
                           <button type="button" onclick="UpdateLocalContentDesiredPercentage('@Model.OfferIdString', event)" class="pull-right btn btn-sm btn-primary">تحديث</button>
                        }
                     </div>
                     <div class="col-2 etd-item-title">
                        <span id="spamLocalContentDesiredPerce"> @Model.LocalContentDesiredPercentageDate</span>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
