@using res = MOF.Etimad.Monafasat.Resources
@using MOF.Etimad.Monafasat.SharedKernel;
@model MOF.Etimad.Monafasat.ViewModel.OfferDetailsForCheckingTwoFilesModel

<div class="card">
   <div class="card-body">
      <div class="col-md-12">
         <div class="row">
          
            @if (User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed))
            {
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group has-success bmd-form-group">
                     <label class="label bmd-label-static">@res.OfferResources.DisplayInputs.TechnicalEvaluation </label><span class="text-danger">*</span>
                     <select asp-for="TechnicalOfferStatusId" name="TechnicalOfferStatusId" data-live-search="false" id="technicalOfferStatusId" class="selectpicker" data-style="select-with-transition">
                        <option value="">--@res.OfferResources.Messages.SelectStatus --</option>
                        <option value="@Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.IdenticalOffer)"> @res.OfferResources.DisplayInputs.Matching</option>
                        <option value="@Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.NotIdenticalOffer)">  @res.OfferResources.DisplayInputs.NotMatching</option>
                     </select>
                  </div>
                  <span class="bmd-help text-danger position-relative" id="spanTechnicalResult">@res.OfferResources.ErrorMessages.SelectTechnicalEvaluation </span>
               </div>
            }
            else
            {
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="form-group has-success bmd-form-group">
                     <label class="label bmd-label-static">@res.OfferResources.DisplayInputs.TechnicalEvaluation </label><span class="text-danger">*</span>
                     <label class="label bmd-label-static"> : @Model.TechnicalOfferStatusString</label>
                  </div>
               </div>
            }
         </div>
         <div class="row" id="divRejectionReason">
            @if (User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed))
            {
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ConditionsBookletPrice" id="lblRejectionReason" class="label bmd-label-static">@res.SharedResources.DisplayInputs.RejectedReason</label><span class="text-danger">*</span>
                     <input asp-for="RejectionReason" name="RejectionReason" type="text" class="form-control" id="txtRejectionReason" />
                     <span id="RejectionReasonSpan" class="bmd-help text-danger position-relative" style="display:none"> @res.QualificationResources.ErrorMessages.EnterRejectedReason</span>
                  </div>
               </div>
            }
            else
            {
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ConditionsBookletPrice" class="label bmd-label-static">@res.SharedResources.DisplayInputs.RejectedReason</label>
                     <label> : @Model.RejectionReason</label>
                  </div>
               </div>
            }
         </div>
         @if (User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed))
         {

            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ConditionsBookletPrice" class="label bmd-label-static">@res.SharedResources.DisplayInputs.Notes</label>
                     <input asp-for="Notes" name="Notes" type="text" class="form-control" id="txtNotes"/>
                  </div>
               </div>
            </div>
         }
         else
         {
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="ConditionsBookletPrice" class="label bmd-label-static">@res.SharedResources.DisplayInputs.Notes</label>
                  <label> : @Model.Notes</label>
               </div>
            </div>
         }
      </div>
   </div>
</div>

<div class="row">
   <div class="col">
      @{
         @if (User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed))
         {
            <button type="submit" onclick="return validateForm();" class="btn btn-primary">
               @res.SharedResources.DisplayInputs.Save
            </button>
         }
      }
   </div>
</div>
@section scripts{
   <script type="text/javascript">
   $(document).ready(function () {
      if (@Model.TechnicalOfferStatusId == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.IdenticalOffer) || $('#PreQualificationResultId option:selected').val() == "") {
         $('#divRejectionReason').attr('hidden', true);
      }
      $('.selectpicker').selectpicker('refresh');
   })
   </script>
}


