@model MOF.Etimad.Monafasat.ViewModel.OfferReportModel
<link rel="icon" href="~/Etimad-UI/assets/imgs/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script src="~/Etimad-UI/assets/js/vue-app/vue@2.5.2.js"></script>
<script>
   document.title = "تقرير العروض";
   (function () {
      var link = document.createElement('link');
      link.id = 'dynamic-favicon';
      link.rel = 'shortcut icon';
      link.href = '~/Etimad-UI/assets/imgs/favicon.ico';
      document.getElementsByTagName('head')[0].appendChild(link);
   })();
   function printData() {
      window.print();
      window.close();
   }
   function saveData() {
      var sourceHTML = document.getElementById("printDiv").innerHTML;
      var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
      var fileDownload = document.createElement("a");
      document.body.appendChild(fileDownload);
      fileDownload.href = source;
      fileDownload.download = 'document.doc';
      fileDownload.click();
      document.body.removeChild(fileDownload);
   }
</script>
<button id="printButton" onclick="printData();" class="btn btn-success d-print-none" style="margin:20px;">طباعة / حفظ</button>
<div id="printDiv" class="row" dir="rtl" style="margin:20px;">
   <div class="col-sm-12 text-center d-print-none">
      <img alt="" class="rounded mx-auto" src="~/Etimad-UI/assets/imgs/favicon.ico" />
      <hr />
   </div>
   <h2 class="col-sm-12 text-center">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.OffersReport</h2>
   <h6 class="col-sm-12 text-center" style="margin-top:20px;">
      @string.Format(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersReportHead, Model?.TenderName)
   </h6>
   <div class="col-sm-12">
      <br />
   </div>
   <table class="col-sm-12 table text-center table-bordered">
      <caption></caption>
      <tr>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.CompanyName</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.CommercialNumber</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.BuyingDate</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Phone</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Fax</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.PostOffice</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.City</th>
         <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.PostalCode</th>
      </tr>
      @for (int i = 0; i < Model?.Companies.Count; i++)
      {
         <tr>
            <td>@Model?.Companies[i].CompanyName</td>
            <td>@Model?.Companies[i].CommercialNumber</td>
            <td>@Model?.Companies[i].BuyingDate</td>
            <td>@Model?.Companies[i].Phone</td>
            <td>@Model?.Companies[i].Fax</td>
            <td>@Model?.Companies[i].PostOffice</td>
            <td>@Model?.Companies[i].City</td>
            <td>@Model?.Companies[i].PostalCode</td>
         </tr>
      }
   </table>
</div>
