@using res = MOF.Etimad.Monafasat.Resources
@model MOF.Etimad.Monafasat.ViewModel.TenderDatesModel
<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:10px;">
   <ul class="list-group form-details-list">
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
            </div>
            <div class="col-8 etd-item-info">
               <span>@(Model.TenderName)</span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>@(string.IsNullOrEmpty(Model.ReferenceNumber) ? MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotFound : Model.ReferenceNumber)</span>

            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>@(string.IsNullOrEmpty(Model.TenderNumber) ? MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotFound : Model.TenderNumber)</span>
            </div>
         </div>
      </li>
   </ul>
</div>

<div class="col-lg-4 col-sm-6 col-xs-12" id="divLastOfferEnqueryDate">
   <div class="form-group form-check etd-calendar-group">
      <label asp-for="LastEnqueriesDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
      <input asp-for="LastEnqueriesDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="lastEnquiesDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
      <span class="form-control-feedback">
         <i class="material-icons">calendar_today</i> 
      </span>
   </div>
   <span class="badge badge-warning" id="lastEnquiesDateVac" style="display:none">@res.TenderResources.ErrorMessages.WeekendDate </span>
   <span asp-validation-for="LastEnqueriesDate" class="text-danger"></span>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12" id="divLastOfferPresentationDate">
   <div class="form-group form-check etd-calendar-group">
      <label asp-for="LastOfferPresentationDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
      <input asp-for="LastOfferPresentationDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="lastOfferPressentationDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
   </div>
   <span class="badge badge-warning" id="lastOfferPressentationDateVac" style="display:none"> @res.TenderResources.ErrorMessages.WeekendDate </span>
   <span asp-validation-for="LastOfferPresentationDate" class="text-danger"></span>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12" id="divLastOfferPresentationTime">
   <div class="form-group form-check etd-calendar-group">
      <label asp-for="LastOfferPresentationTime" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
      <input asp-for="LastOfferPresentationTime" type="text" class="form-control timepicker" id="lastOfferPresentationTime" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Time" />
      <span asp-validation-for="LastOfferPresentationTime" class="text-danger"></span>
   </div>
</div>
@if ((Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase && Model.OffersOpeningAddressId != null) || (Model.TenderTypeId != (int)Enums.TenderType.NewDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.Competition))
{
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="form-group form-check etd-calendar-group">
         <label asp-for="OffersOpeningDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
         <input asp-for="OffersOpeningDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask offersOpeningDate" id="offersOpeningDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
      </div>
      <span class="badge badge-warning" id="offersOpeningDateVac" style="display:none"> @res.TenderResources.ErrorMessages.WeekendDate </span>
      <span asp-validation-for="OffersOpeningDate" class="text-danger"></span>
   </div>
   <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="form-group form-check etd-calendar-group">
         <label asp-for="OffersOpeningTime" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
         <input asp-for="OffersOpeningTime" type="text" class="form-control timepicker offersOpeningDate" id="offersOpeningTime" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Time">
         <span asp-validation-for="OffersOpeningTime" class="text-danger"></span>
      </div>
   </div>
}
@if (Model.TenderTypeId == (int)Enums.TenderType.NewDirectPurchase || Model.TenderTypeId == (int)Enums.TenderType.FirstStageTender || Model.TenderTypeId == (int)Enums.TenderType.Competition)
{
   <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group form-check etd-calendar-group">
         <label asp-for="OffersCheckingDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
         <input asp-for="OffersCheckingDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask offersCheckingDate" id="offersCheckingDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
      </div>
      <span class="badge badge-warning" id="offersCheckingDateVac" style="display:none"> @res.TenderResources.ErrorMessages.WeekendDate </span>
      <span asp-validation-for="OffersCheckingDate" class="text-danger"></span>
   </div>
   <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group form-check etd-calendar-group">
         <label asp-for="OffersCheckingTime" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
         <input asp-for="OffersCheckingTime" type="text" id="offersCheckingTime" class="form-control timepicker" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Time">
         <span asp-validation-for="OffersCheckingTime" class="text-danger"></span>
      </div>
   </div>
}
