@model List<MOF.Etimad.Monafasat.ViewModel.TenderTypeWithAddedValueModel>
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AddedValueDashboard;
}

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AddedValueDashboard</li>
      </ol>
   </nav>
}

<div class="card">
   <div class="card-body">
      <h4 class="text-primary">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AddedValueDashboard
      </h4>
      @if (Model.Any())
      {
         <form asp-controller="Tender" asp-action="EditAddedValue" method="post" id="EditValueForm">
            @for (int i = 0; i < Model.Count; i++)
            {
               <input hidden asp-for="@Model[i].Id" />
               <input hidden asp-for="@Model[i].Name" />
               <ul class="list-group form-details-list">
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-4 etd-item-title">
                           <b>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderType</b>
                        </div>
                        <div class="col-8 etd-item-info">
                           <div class="row">
                              <div class="col-6 text-center"><b>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.BuyingCost</b></div>
                              <div class="col-6 text-center"><b>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InvitationCost</b></div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col-4 etd-item-title">
                           @Model[i].Name
                        </div>
                        <div class="col-8 etd-item-info">
                           <div class="row">
                              <div class="col-6">
                                 <input type="text" asp-for="@Model[i].BuyingCost" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OnlyRiyalsValue" class="form-control allownumericwithdecimal" style="display: initial;">
                              </div>
                              <div class="col-6">
                                 <input type="text" asp-for="@Model[i].InvitationCost" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.OnlyRiyalsValue" class="form-control allownumericwithdecimal" style="display: initial;">
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            }
            <div class="row">
               <div class="col-12">
                  <button policy="EditAddedValuePolicy" type="submit" class="btn btn-primary">
                     @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save
                  </button>
                  <button type="button" class="btn btn-outline-primary btn-link pull-right" onclick="goBack()">
                     @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButtonToMain
                  </button>
                  <div class="clearfix"></div>
               </div>
            </div>
         </form>

      }
   </div>
</div>

@section scripts{
   <script>
      $("#EditValueForm").submit(function (e) {
         $('#loader').show();
         return true;
      })
   </script>
}
