@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep;
}
<h2>PlacesStep</h2>
<ul>
   <li class="">
      <div>
         <h4><a href="#"><span class="step-num">3</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep</a> <strong class="step-count">(3 - 5)</strong></h4>
      </div>
      <div class="col col-11 pull-right">
         <div class="row">
            <div class="col-12 "><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Execution</h4><hr /></div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="exampleInput1" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ExecutionPlace<span class="text-danger">*</span></label>
                  <div class="form-check">
                     <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InsideKSA
                        <span class="circle">
                           <span class="check"></span>
                        </span>
                     </label>
                     <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OutsideKSA
                        <span class="circle">
                           <span class="check"></span>
                        </span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Area<span class="text-danger"></span></label>
                  <select data-live-search="true" class="selectpicker" data-style="select-with-transition" multiple title="Multi Select with Search" data-size="7">
                     <option value="1" data-tokens="ketchup mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px; font-size;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="frosting" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                  </select>
               </div>
            </div>
            <div class="col-lg-8 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="name" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Details<span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="4" id="exampleInputTextarea"></textarea>
               </div>
            </div>
            <div class="col-12 "><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Category</h4><hr /></div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EstablishingActions<span class="text-danger"></span></label>
                  <select data-live-search="true" class="selectpicker" data-style="select-with-transition" multiple title="Multi Select with Search" data-size="7">
                     <option value="1" data-tokens="ketchup mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px; font-size;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="frosting" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                  </select>
               </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MaintenanceOperationActions<span class="text-danger"></span></label>
                  <select data-live-search="true" class="selectpicker" data-style="select-with-transition" multiple title="Multi Select with Search" data-size="7">
                     <option value="1" data-tokens="ketchup mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px; font-size;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="frosting" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                  </select>
               </div>
            </div>
            <div class="col-12 "><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MaintenanceOperationActions</h4><hr /></div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MaintenanceOperationActions<span class="text-danger"></span></label>
                  <select data-live-search="true" class="selectpicker" data-style="select-with-transition" multiple title="Multi Select with Search" data-size="7">
                     <option value="1" data-tokens="ketchup mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="mustard" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px; font-size;font-size: 0.75rem;'>Relish</span>"></option>
                     <option data-tokens="frosting" data-content="<span class='badge badge-pill badge-primary' style='margin-right: 5px;font-size: 0.75rem;'>Relish</span>"></option>
                  </select>
               </div>
               <div class="form-group bmd-form-group">
                  <label for="name" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Details <span class="text-danger">*</span></label>
                  <textarea class="form-control" rows="4" id="exampleInputTextarea"></textarea>
               </div>
               <div class="btn-group">
                  <button class="btn btn-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Add</button>
               </div>
            </div>
            <div class="col-lg-8 col-sm-6 col-xs-12">
               <h5 class="text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Activities</h5>
               <div id="accordion" role="tablist">
                  <div class="card card-collapse">
                     <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                           <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Collapsible Group Item #1
                              <i class="material-icons pull-right">keyboard_arrow_down</i> 
                           </a>
                        </h5>
                     </div>
                     <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                     </div>
                  </div>
                  <div class="card card-collapse">
                     <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Collapsible Group Item #2
                              <i class="material-icons pull-right">keyboard_arrow_down</i> 
                           </a>
                        </h5>
                     </div>
                     <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                     </div>
                  </div>
                  <div class="card card-collapse">
                     <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                           <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Collapsible Group Item #3
                              <i class="material-icons pull-right">keyboard_arrow_down</i> 
                           </a>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <button class="btn btn-default">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Previous</button>
               <button class="btn btn-primary">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SaveContinue
               </button>
            </div>
            <div class="col">
               <a href="@Url.Action("Index", "Tender")" class="btn pull-right btn-default etd-search-btn" id="btnBack">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
               </a>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </li>
</ul>
<ul>
   <li>
      <div>
         <h4><a href=""><span class="step-num">1</span>جداول الكميات</a></h4>
      </div>
      <div class="col col-11 pull-right">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12 form form-newsletter">
               <div class="form-group bmd-form-group pull-left">
                  <input type="text" id="txtCommitteeName" name="CommitteeName" maxlength="50" placeholder="إسم الجدول" class="form-control">
                  <input type="hidden" name="CommitteeTypeId" value="1">
               </div>
               <div class="input-group-prepend pull-right">
                  <button type="button" name="button" class="btn btn-primary btn-just-icon" rel="tooltip" data-placement="top" title="" data-original-title="إضافة جدول">
                     <i class="material-icons">add</i> 
                     <div class="ripple-container">
                     </div>
                  </button>
               </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
               <div class="table-responsive">
                  <table class="table" summary="desc">
                     <thead>
                        <tr>
                           <th scope="col" class="">رقم الجدول</th>
                           <td>65165</td>
                           <th scope="col" class="">إسم الجدول</th>
                           <td>جدول أصناف الأثاث</td>
                           <th scope="col" class="">تاريخ الإنشاء</th>
                           <td>12/12/2015 <i class="material-icons text-primary">calendar_today</i> </td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="text-center padd0" style="padding:0;" colspan="6">
                              <table class="table" summary="desc">
                                 <thead style="background-color: #e0efe8;">
                                    <tr>
                                       <th scope="col">اسم الصنف </th>
                                       <th scope="col">الكمية</th>
                                       <th scope="col">الوحدة</th>
                                       <th scope="col">التفاصيل</th>
                                       <th scope="col">كراسة الشروط</th>
                                       <th scope="col"></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>اسم الصنف </td>
                                       <td>الكمية</td>
                                       <td>الوحدة</td>
                                       <td>التفاصيل</td>
                                       <td><a href="" class="btn btn-warning btn-sm">تنزيل الملف</a></td>
                                       <td><button class="btn btn-just-icon btn-danger btn-round btn-sm btn-link"><i class="material-icons">clear</i> </button></td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <input type="text" class="form-control" id="publisher" value="">
                                       </td>
                                       <td>
                                          <input type="text" class="form-control" id="publisher" value="">
                                       </td>
                                       <td>
                                          <input type="text" class="form-control" id="publisher" value="">
                                       </td>
                                       <td>
                                          <input type="text" class="form-control" id="publisher" value="">
                                       </td>
                                       <td>
                                          <input type="file" class="form-control" id="publisher" value="">
                                       </td>
                                       <td>
                                          <button class="btn btn-just-icon btn-primary btn-round btn-sm" el="tooltip" data-placement="top" title="" data-original-title="إضافة صنف"><i class="material-icons">add</i> </button>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </li>
</ul>
<ul>
   <li class="">
      <div>
         <h4><a href="#"><span class="step-num">4</span>المرفقات</a></h4>
      </div>
      <div class="col col-11 pull-right">
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
               <div class="form-group form-file-upload form-file-multiple bmd-form-group">
                  <input type="file" multiple="" class="inputFileHidden">
                  <div class="input-group">
                     <input type="text" class="form-control inputFileVisible" placeholder="Multiple Files" multiple="">
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-round btn-info">
                           <i class="material-icons">layers</i> 
                        </button>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </li>
</ul>
