@model MOF.Etimad.Monafasat.ViewModel.TenderRelationsModel
@using MOF.Etimad.Monafasat.SharedKernel;
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep;
   var showInvitationTab = (Model.PreQualificationId != null || Model.TenderTypeId == (int)Enums.TenderType.FirstStageTender || Model.TenderTypeId == (int)Enums.TenderType.SecondStageTender || Model.TenderTypeId == (int)Enums.TenderType.NewDirectPurchase || Model.TenderTypeId == (int)Enums.TenderType.ReverseBidding ||
             Model.TenderTypeId == (int)Enums.TenderType.LimitedTender || Model.TenderTypeId == (int)Enums.TenderType.FrameworkAgreement || Model.TenderTypeId == (int)Enums.TenderType.Competition ||
             Model.TenderTypeId == (int)Enums.TenderType.NationalTransformationProjects) && Model.InvitationTypeId == (int)Enums.InvitationType.Specific;
   var showDatesTab = Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects && Model.TenderCreatedByTypeId != (int)Enums.TenderCreatedByType.AgenciesRelatedByVRO;
   var isOldTypes = Model.TenderTypeId == (int)Enums.TenderType.CurrentTender || Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase || Model.TenderTypeId == (int)Enums.TenderType.NationalTransformationProjects;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item"><a href="@Url.Action("TenderIndexUnderOperationsStage", "Tender")">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderstablishedStageTenders</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep</li>
      </ol>
   </nav>
}
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
   <ul class="wizSteps">
      <li>
         <div>
            @if (Model.TenderTypeId == (int)Enums.TenderType.SecondStageTender)
            {
               <h4><a id="hBasicStep" href="@Url.Action("BasicSecondStageData", "Tender", new { id = Model.TenderIdString })"><span class="step-num">1</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainInformation</a></h4>
            }
            else
            {
               <h4><a id="hBasicStep" href="@Url.Action("BasicTenderData", "Tender", new { id = Model.TenderIdString })"><span class="step-num">1</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainInformation</a></h4>
            }
         </div>
         <div class="clearfix"></div>
      </li>
      @if (showDatesTab == true || User.UserIsVRO())
      {
         <li class="">
            <div>
               <h4><a id="hDetailsStep" href="@Url.Action("TenderDates", "Tender", new { tenderId = Model.TenderIdString })"><span class="step-num">2</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DetailsStep</a></h4>
            </div>
            <div class="clearfix"></div>
         </li>
      }
      <li class="active">
         <div>
            <h4 id="hRelationStep">
               <a href="@Url.Action("RelationsStep", "Tender", new { tenderId = Model.TenderIdString })">


                  <span class="step-num">3</span>

                  <label style="color:#009688;font-weight: bold;"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep<p class="step-count">(3 - 5)</p></label>


               </a>
            </h4>
         </div>
         <div class="col col-11 pull-right">
            <div class="row" id="relationalForm">
               <input type="hidden" asp-for="TenderIdString" />
               <input type="hidden" id="tenderId" asp-for="TenderId" />
               <input type="hidden" id="tenderTypeId" asp-for="TenderTypeId" />
               <input asp-for="TenderStatusId" id="hfTenderStatus" type="hidden" />
               <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:10px;">
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>@(Model.TenderName)</span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>@(string.IsNullOrEmpty(Model.ReferenceNumber) ? MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotFound : Model.ReferenceNumber)</span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>@(string.IsNullOrEmpty(Model.TenderNumber) ? MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotFound : Model.TenderNumber)</span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="col-12 "><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Execution</h4></div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label asp-for="InsideKSA" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <div class="form-check">
                        <label class="form-check-label">
                           <input asp-for="InsideKSA" id="InsideKSA1" name="InsideKSA" onclick="showareas();" checked="checked" class="form-check-input" type="radio" value="true">
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InsideKSA
                           <span class="circle">
                              <span class="check"></span>
                           </span>
                        </label>
                        <label class="form-check-label">
                           <input class="form-check-input" type="radio" onclick="showcountries();" id="InsideKSA2" asp-for="InsideKSA" name="InsideKSA" value="false">
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OutsideKSA
                           <span class="circle">
                              <span class="check"></span>
                           </span>
                        </label>
                     </div>
                     <span asp-validation-for="InsideKSA" id="InsideKSASpan" class="text-danger"></span>
                  </div>
               </div>
               <div class="col-lg-8 col-sm-6 col-xs-12" id="divTenderAreas">
                  <div class="form-group bmd-form-group">
                     <label asp-for="Areas" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <select asp-for="TenderAreaIDs" name="TenderAreaIDs" data-live-search="true" id="dD_TenderAreas" class="selectpicker" required
                             asp-items="@(new SelectList(Model.Areas, "Id", "Name"))" data-style="select-with-transition" data-size="7"></select>
                  </div>
                  <span asp-validation-for="TenderAreaIDs" class="text-danger"></span>
               </div>
               <div class="col-lg-8 col-sm-6 col-xs-12" id="divTenderCountries">
                  <div class="form-group bmd-form-group">
                     <label asp-for="Countries" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <select asp-for="TenderCountriesIDs" name="TenderCountriesIDs" data-live-search="true" id="dD_TenderCountries" class="selectpicker" required
                             asp-items="@(new SelectList(Model.Countries, "Id", "Name"))" data-style="select-with-transition" data-size="7"></select>
                  </div>
                  <span asp-validation-for="TenderCountriesIDs" class="text-danger"></span>
               </div>
               <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label asp-for="Details" class="label bmd-label-static"></label>
                     <textarea asp-for="Details" id="txtDetails" class="form-control" maxlength="1024" rows="3"></textarea>
                  </div>
                  <span asp-validation-for="Details" class="text-danger"></span>
               </div>
               <div class="col-12 "><hr /><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CategoryField</h4></div>
               <div class="col-lg-6 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label label asp-for="ConstructionWorks" class="label bmd-label-static"></label>
                     <select asp-for="TenderConstructionWorkIDs" data-live-search="true" class="selectpicker"
                             asp-items="@ViewBag.ListOfConstructioWorks" data-style="select-with-transition" data-size="7"></select>
                  </div>
                  <span asp-validation-for="TenderConstructionWorkIDs" class="text-danger"></span>
               </div>
               <div class="col-lg-6 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label label asp-for="MaintenanceWorks" class="label bmd-label-static"></label>
                     <select asp-for="TenderMentainanceRunnigWorkIDs" data-live-search="true" class="selectpicker"
                             asp-items="@(new SelectList(Model.MaintenanceWorks, "MaintenanceRunningWorkId", "Name"))" data-style="select-with-transition" data-size="7"></select>
                  </div>
                  <span asp-validation-for="TenderMentainanceRunnigWorkIDs" class="text-danger"></span>
               </div>
               <div class="col-12 "><hr /><h4 class="title text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderActivity</h4></div>
               <div class="col-lg-6 col-sm-6 col-xs-6">
                  <div class="form-group bmd-form-group">
                     <label label asp-for="TenderActivitieIDs" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <select asp-for="TenderActivitieIDs" name="TenderActivitieIDs" id="tenderActivitieIDs" data-live-search="true" class="selectpicker" data-style="select-with-transition" required
                             asp-items="@ViewBag.ListOfActivities" multiple data-size="7" onchange="CheckIfHaveYearsAndContainsTawreed()"></select>
                  </div>
                  <span asp-validation-for="TenderActivitieIDs" class="text-danger"></span>
               </div>
               @if (Model.ActivityVersionId >= (int)Enums.ActivityVersions.Sprint7Activities)
               {
                  <div class="col-lg-4 col-sm-6 col-xs-6" id="divHasTawreedCheckBox">
                     <div class="form-group bmd-form-group">
                        <label asp-for="IsTawreed" class="label bmd-label-static"></label>
                        <div class="form-check">
                           <label class="form-check-label">
                              <input class="form-check-input" asp-for="IsTawreed" type="checkbox" name="IsTawreed" id="checkIsTawreed">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.IsTenderContainsTawreed
                              <span class="form-check-sign">
                                 <span class="check"></span>
                              </span>
                           </label>
                        </div>
                     </div>
                  </div>}
               @if (Model.TenderTypeId != (int)Enums.TenderType.CurrentTender && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects &&
Model.TenderTypeId != (int)Enums.TenderType.Competition && Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding)
               {
                  @if (Model.ActivityVersionId >= (int)Enums.ActivityVersions.Sprint7Activities)
                  {
                     <div class="col-lg-6 col-sm-6 col-xs-6" style="display:none" id="divTemplateYears">
                        <div class="form-group bmd-form-group">
                           <label label asp-for="TemplateYears" class="label bmd-label-static"></label><span class="text-danger">*</span>
                           <select asp-for="TemplateYears" name="TemplateYears" id="tb_TemplateYears" data-live-search="true" class="selectpicker" data-style="select-with-transition" required
                                   data-size="7">
                              <option value="1" selected> السنة الاولى</option>
                              <option value="2"> السنة الثانية</option>
                              <option value="3"> السنة الثالثة</option>
                              <option value="4"> السنة الرابعة</option>
                              <option value="5"> السنة الخامسة</option>
                           </select>
                        </div>
                        <span asp-validation-for="TemplateYears" class="text-danger"></span>
                     </div> }
                  else
                  {
                     <div class="col-lg-4 col-sm-6 col-xs-12" style="display:none" id="divTemplateYears">
                        <div class="form-group bmd-form-group">
                           <label asp-for="TemplateYears" class="label bmd-label-static"></label><span class="text-danger">*</span>
                           <input asp-for="TemplateYears" class="form-control noSpecial" name="TemplateYears" id="tb_TemplateYears" />
                           <span class="bmd-help"></span><span asp-validation-for="TemplateYears" class="text-danger"></span>
                        </div>
                     </div>
                  }
               }
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label asp-for="ActivityDescription" class="label bmd-label-static"></label>
                     <textarea asp-for="ActivityDescription" name="ActivityDescription" class="form-control" rows="6" maxlength="1024"></textarea>
                  </div>
                  <span asp-validation-for="ActivityDescription" class="text-danger"></span>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <button class="btn btn-default" id="btnPrivious" type="button" onclick="RedirectBack('@Model.TenderTypeId','@((int)Enums.TenderType.NationalTransformationProjects)')">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Previous</button>
                  <button id="btnSubmit22" class="btn btn-primary pull-right">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SaveContinue
                  </button>
                  <button type="button" id="btnCancel" class="btn btn-danger" hidden="hidden">
                     @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel
                  </button>
               </div>

            </div>
         </div>
         <div class="clearfix"></div>
      </li>
      @if (Model.TenderStatusId == (int)Enums.TenderStatus.Established)
      {
         <li class="">
            <div>
               <h4 id="hQuantatysStep"><a href="@Url.Action("QuantitiesTableStep", "Tender", new { id = Model.TenderIdString })"><span class="step-num">4</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.QuantitiesTables</a></h4>
            </div>
            <div class="clearfix"></div>
         </li>
         @if (Model.TenderTypeId == (int)Enums.TenderType.NationalTransformationProjects || Model.TenderTypeId == (int)Enums.TenderType.CurrentTender || Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase)
         {
            <li class="">
               <div>
                  <h4><a id="hAttachmentStep" href="@Url.Action("AttachmentsStep", "Tender", new { id = Model.TenderIdString })"><span class="step-num">5</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderFiles</a></h4>
               </div>
               <div class="clearfix"></div>
            </li>
         }
         else
         {
            <li class="">
               <div>
                  <h4><a id="hdnTemplatesStep" href="@Url.Action("UpdateConditionsTemplate", "Tender", new { tenderIdString = Model.TenderIdString })"><span class="step-num">5</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderFiles</a></h4>
               </div>
               <div class="clearfix"></div>
            </li>
         }
         @if (showInvitationTab == true)
         {
            <li class="">
               <div>
                  <h4><a id="hInvitationsStep" href="@Url.Action("SendInvitationsStep", "Tender", new { tenderIdString = Model.TenderIdString })"><span class="step-num">6</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Invitations</a></h4>
               </div>
               <div class="clearfix"></div>
            </li>
         }
      }
      else
      {
         @if (Model.TenderTypeId != (int)Enums.TenderType.Competition && Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding)
         {
            <li class="">
               <div>
                  <h4><a id="hQuantatysStep" href="#"><span class="step-num">4</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.QuantitiesTables</a></h4>
               </div>
               <div class="clearfix"></div>
            </li>
         }
         <li class="">
            <div>
               <h4><a id="hAttachmentStep" href="#"><span class="step-num">5</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderFiles</a></h4>
            </div>
            <div class="clearfix"></div>
         </li>
         @if (showInvitationTab == true)
         {
            <li class="">
               <div>
                  <h4><a id="hInvitationsStep" href="#"><span class="step-num">6</span>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Invitations</a></h4>
               </div>
               <div class="clearfix"></div>
            </li>
         }
      }
   </ul>
   <div class="row">
      <div class="col">
         <a asp-controller="Tender" asp-action="Index" class="btn h6 pull-right btn-outline-primary" id="btnBack" style="font-size:0.8em">
            @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButtonToMain
         </a>
      </div>
   </div>
   <script>
        var YearsActivities = [];
         @if (Model != null && Model.ActivitiesWithYears != null)
         {
            @:YearsActivities = @Html.Raw(Json.Serialize(Model.ActivitiesWithYears))
         }
         function CheckIfHaveYearsAndContainsTawreed() {
           @if (Model.TenderTypeId != (int) Enums.TenderType.CurrentTender
                && Model.TenderTypeId != (int) Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int) Enums.TenderType.NationalTransformationProjects)
           {
              <text>
            var tenderActivitieIDsNumbers = [];
            var tenderActivitieIDs = $('#tenderActivitieIDs').val()
            for (var i = 0; i < tenderActivitieIDs.length; i++) {
               tenderActivitieIDsNumbers.push(Number(tenderActivitieIDs[i]));
            }

            if (YearsActivities.some(ele => tenderActivitieIDsNumbers.includes(ele))) {
               $("#divTemplateYears").show();
               if (@Model.ActivityVersionId >= @((int)Enums.ActivityVersions.Sprint7Activities)) {
                  $("#tb_TemplateYears").val('1');
                  $("#tb_TemplateYears").attr('selectedIndex', 1);
                  $("#tb_TemplateYears").selectpicker("refresh");
               }
            }
            else {
               $("#divTemplateYears").css("display", "none");
               if (@Model.ActivityVersionId >= @((int)Enums.ActivityVersions.Sprint7Activities)) {
                  $("#tb_TemplateYears").val('1');
                  $("#tb_TemplateYears").attr('selectedIndex', 1);
                  $("#tb_TemplateYears").selectpicker("refresh");
               }
               else {
                  $("#tb_TemplateYears").val('');
               }
            }
              </text>
           }

            if (@Model.ActivityVersionId >= @((int)Enums.ActivityVersions.Sprint7Activities)) {
               CheckForTawreed()
            }
         }
      function CheckForTawreed() {
         var activitieIDs = $('#tenderActivitieIDs').val()
         $.get('/Tender/CheckIfActivityCabHasTawreed?ActivityIdsString=' + activitieIDs + "&&ActivityVersionId=" + @Model.ActivityVersionId).done(function (result) {
            if (result == false) {
               $("#checkIsTawreed").prop("checked", false);
               $("#divHasTawreedCheckBox").css("display", "none");
             } else {
               $("#divHasTawreedCheckBox").show();
            }
         }).fail(function (error) {
            console.log(error.statusText);
         });
      }


        function RedirectBack(typee, nationalType) {
           $('#LoadingSite').fadeIn();
           if (typee == nationalType && '@User.UserIsRelatedVRO()' == 'True') {
              window.location = "@Url.Action("BasicTenderData", "Tender", new {id = Model.TenderIdString})";
           } else {
              window.location = "@Url.Action("TenderDates", "Tender", new {tenderId = Model.TenderIdString})";
            }
         return false;
      }
      $(document).ready(function () {

         if (@Model.ActivityVersionId >= @((int)Enums.ActivityVersions.Sprint7Activities)) {
            CheckForTawreed()
         }
         var templateYears = '@Model.TemplateYears';

       @if (Model.TenderTypeId != (int)Enums.TenderType.CurrentTender
               && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects)
               {
                      <text>
         var tenderActivitieIDsNumbers = [];
         var tenderActivitieIDs = $('#tenderActivitieIDs').val()
         for (var i = 0; i < tenderActivitieIDs.length; i++) {
            tenderActivitieIDsNumbers.push(Number(tenderActivitieIDs[i]));
         }

         if (YearsActivities.some(ele => tenderActivitieIDsNumbers.includes(ele))) {
            $("#divTemplateYears").show();
            $("#divTemplateYears").css("display", "block");
         }
         else {
            $("#divTemplateYears").css("display", "none");
            $("#tb_TemplateYears").val('');
         }
         </text>
          }
         if ($("input[name='InsideKSA']:checked").val()=="true") {
            $("#divTenderCountries").hide();
            $("#divTenderAreas").show();
         }
         else {
            $("#divTenderCountries").show();
            $("#divTenderAreas").hide();
         }
      });
      $("#btnSubmit22").click(function () {
         @if ( Model.TenderTypeId != (int)Enums.TenderType.CurrentTender
        && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects)
         {
            @: var Condition = $("#tb_TemplateYears").val() > 5 || $("#tb_TemplateYears").val()  <= 0
            <text>
           var tenderActivitieIDsNumbers = [];
           var tenderActivitieIDs = $('#tenderActivitieIDs').val()
          for (var i = 0; i < tenderActivitieIDs.length; i++) {
              tenderActivitieIDsNumbers.push(Number(tenderActivitieIDs[i]));
           }
           if (YearsActivities.some(ele => tenderActivitieIDsNumbers.includes(ele))) {
              if ($("#tb_TemplateYears").val() == '') {
                 AlertFun('يجب ادخال عدد السنوات', alertMessageType.Danger);
                 return false;
              }
              if (Condition) {
                 AlertFun(' يجب ان لا تتخطى عدد السنوات خمسة سنوات', alertMessageType.Danger);
                 return false;
              }
           }
           else {
              $("#tb_TemplateYears").val('');
              $("#divTemplateYears").css("display", "none");
           }
            </text>
        }
         if ($("#txtDetails").val().length > 1024) {
             AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.DetailsValiation)', alertMessageType.Danger);
             return false;
         }
         if ($('input[type=radio][name=InsideKSA]:checked').val() == "true") {
            var TenderAreaIDs_isvalid = $("select[name='TenderAreaIDs'] option:selected").length > 0;
            var TenderActivitieIDs_isvalid = $("select[name='TenderActivitieIDs'] option:selected").length > 0;
            var TenderAreaIDs_error = $("span[data-valmsg-for='TenderAreaIDs']");
            var TenderActivitieIDs_error = $("span[data-valmsg-for='TenderActivitieIDs']");
            TenderAreaIDs_error.text("");
            TenderActivitieIDs_error.text("");
            if (!TenderAreaIDs_isvalid || (!TenderActivitieIDs_isvalid)) {
               if (!TenderAreaIDs_isvalid)
                  TenderAreaIDs_error.text("@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.EnterTenderAreas)");
               if (!TenderActivitieIDs_isvalid)
                  TenderActivitieIDs_error.text("@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.EnterTenderActivities)");
               return false;
            }
         }
         else {
            var TenderCountryIDs_isvalid = $("select[name='TenderCountriesIDs'] option:selected").length > 0;
            var TenderActivitieIDs_isvalid = $("select[name='TenderActivitieIDs'] option:selected").length > 0;
            var TenderCountryIDs_error = $("span[data-valmsg-for='TenderCountriesIDs']");
            var TenderActivitieIDs_error = $("span[data-valmsg-for='TenderActivitieIDs']");
            TenderCountryIDs_error.text("");
            TenderActivitieIDs_error.text("");
            if (!TenderCountryIDs_isvalid || !TenderActivitieIDs_isvalid) {
               if (!TenderCountryIDs_isvalid)
                  TenderCountryIDs_error.text("@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.EnterTenderCountries)");
               if (!TenderActivitieIDs_isvalid)
                  TenderActivitieIDs_error.text("@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.EnterTenderActivities)");
               return false;
            }
         }
         $('#LoadingSite').fadeIn();
      });
      function showcountries() {
         $("select[name='TenderAreaIDs']").val('').selectpicker("refresh");
         $("#divTenderCountries").show();
         $("#divTenderAreas").hide();
         $("#divTenderCountries").prop('required', true);
         $("#divTenderAreas").prop('required', false);
      }
      function showareas() {
         $("select[name='TenderCountriesIDs']").val('').selectpicker("refresh");
         $("#divTenderCountries").hide();
         $("#divTenderAreas").show();
         $("#divTenderCountries").prop('required', false);
         $("#divTenderAreas").prop('required', true);
      }
      jQuery(function ($) {
         $('#relationalForm').bind('submit', function () {
            if ($('#relationalForm').valid())
               $('#LoadingSite').fadeIn();
         })
      });
   </script>
}
@section scripts
   {
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
