
@model MOF.Etimad.Monafasat.ViewModel.TenderInvitationDetailsModel


@{
   Layout = "~/Views/Shared/_Layout-ETD.cshtml";

}
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails;
}
@Html.AntiForgeryToken()
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.TenderDetails</li>
      </ol>
   </nav>
}
<div class="card">
   <div class="card-body">
      <div class="row">
         <div class="col-md-6 col-sm-12 col-xs-12">
            <ul class="list-group form-details-list">
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>
                           @Model.ReferenceNumber
                        </span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>
                           @Model.TenderNumber
                        </span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
                     </div>
                     <div class="col-8 etd-item-info"> 
                        <span>
                           @Model.TenderName
                        </span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderType
                     </div>
                     <div class="col-8 etd-item-info"> 
                        <span>
                           @Model.TenderTypeName
                        </span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Agency
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>
                           @Model.AgencyName
                        </span>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="col-md-6 col-sm-12 col-xs-12">
            <ul class="list-group form-details-list">
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate
                     </div>
                     <div class="col-8 etd-item-info"> 
                           @(Model.LastEnqueriesDate.HasValue ? Model.LastEnqueriesDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("ar-SA")) : "")<br />
                           @(Model.LastEnqueriesDate.HasValue ? Model.LastEnqueriesDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US")) : "") 
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastOfferPresentationDate
                     </div>
                     <div class="col-8 etd-item-info">   
                              @(Model.LastOfferPresentationDate.HasValue ? Model.LastOfferPresentationDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("ar-SA")) : "")<br />
                              @(Model.LastOfferPresentationDate.HasValue ? Model.LastOfferPresentationDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US")) : "")
                           
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersOpeningDate
                     </div>
                     <div class="col-8 etd-item-info">
                        @if (Model.OffersOpeningDate.HasValue)
                        {
                           @(Model.OffersOpeningDate.HasValue ? Model.OffersOpeningDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("ar-SA")) : "")<br />
                           @(Model.OffersOpeningDate.HasValue ? Model.OffersOpeningDate.Value.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-US")) : "")
                        }
                        else
                        {
                           <span>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotExist</span>
                        }
                     </div>

                  </div>
               </li>
            </ul>
         </div>
         <div class="col-12">
            <div class="form-group bmd-form-group">
               <label for="name" class="label bmd-label-static"></label>
               <div class="form-check">
                  <div class="form-check">
                     <label class="form-check-label text-primary">
                        <input class="form-check-input" id="confirmCanSend" type="checkbox" onchange="canSend();" value="">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ConfirmTheRequestToJoinTheVendorList
                        <span class="form-check-sign">
                           <span class="check"></span>
                        </span>
                        <span class="text-danger text-right w-100 d-block">*</span>
                     </label>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="">
   <button class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '/Tender/AllSuppliersTenders'">
      @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
      <div class="ripple-container"></div>
   </button>

   <div class="row">
      <div class="col-12 form-group">
         <button type="button" class="btn btn-primary pull-left" name="button" disabled id="JoiningTenderBut">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.JoiningToTender</button>
      </div>
   </div>

   <div class="clearfix"></div>
</div>

@section scripts{
   <script>
         $(document).ready(function () {
            $("#JoiningTenderBut").on("click", function () {
               $('#LoadingSite').fadeIn();
               var token = $('input[name=__RequestVerificationToken]').val();
               $.ajax({
                  type: "POST",
                  url: "/Tender/SendRequestToApplayForTender/",
                  data: { tenderId: '@Model.TenderIdString', __RequestVerificationToken: token },
                  success: function (data) {

                     $('#LoadingSite').fadeOut();
                     if (data == "true") {
                        //$('#JoiningTenderBut').attr("disabled", true)
                        AlertFun('@Html.Raw(@MOF.Etimad.Monafasat.Resources.TenderResources.Messages.SendRequestToJoiningATander)', alertMessageType.Success);
                        }
                        else {
                           AlertFun('@Html.Raw(@MOF.Etimad.Monafasat.Resources.TenderResources.Messages.youHaveAlreadyARequest)', alertMessageType.Danger);
                     }
                     window.location = '/Tender/AllSuppliersTenders';
                  },
                  error: function (error) {
                     $('#LoadingSite').fadeOut();
                     if (error.responseText != "Logout") {
                        AlertFun(error.responseJSON.message, alertMessageType.Danger);
                        window.location.reload();
                     }
                     else if (error.responseText == "Logout") {
                        window.location = '/account/logout'; return;
                     }
                  }
               });
            });
         });

      function canSend() {
         if ($("#confirmCanSend").prop('checked') == true) {

            $('#JoiningTenderBut').prop('disabled', false);
         } else {

            $('#JoiningTenderBut').prop('disabled', true);

         }

      }


   </script>
}
