@{
   ViewBag.Title = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AwardStageTenders;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item" aria-current="page">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Tenders</li>
         <li class="breadcrumb-item active" aria-current="page">@( (string)ViewBag.Title)</li>
      </ol>
   </nav>
}
@section pagecontrols{
   <div class="dropdown">
      <span class="d-block pull-left" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search"><button id="searchBtnColaps" class="btn btn-outline-primary btn-link btn-just-icon" data-toggle="collapse" href="#Search" role="button" aria-expanded="false" aria-controls="Search"><i class="material-icons">search</i> </button></span>
   </div>
}
<form class="form">
   @Html.AntiForgeryToken()
   <div id="TenderGrid" class="etd-cards" v-cloak>
      <div class="clearfix"></div>
      <div class="row tendar-navigation position-relative" style="min-height:0px;">
         <div class="etd-sorting-cont">
            @Html.Partial("~/Views/Tender/Partials/_TendersGridSorts.cshtml")
         </div>
      </div>
      <div class="row" style="position:relative">
         <div class="collapse col-lg-4 col-md-4 col-sm-12 col-xs-12 " id="Search">
            @Html.Partial("~/Views/Tender/Search/_AwardingStageIndexSearchForm.cshtml")
         </div>
         <div class="animated  delay-2s col-md-12 col-sm-12 col-xs-12" id="cardsresult">
            <div class="row" v-if="Tenders && Tenders.length > 0">
               <div class="monafasa-item col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12" v-for="(tender, $index) in Tenders">
                  <div class="card">
                     <div class="card-body">
                        <div class="row">
                           <div class="agncy_logo col-12">
                              <div class="dropdown pull-right">
                                 <button class="btn btn-primary btn-link btn-just-icon" title="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i> <div class="ripple-container"></div></button>
                                 <div class="dropdown-menu dropdown-menu-left" x-placement="bottom-end">
                                    @Html.Partial("~/Views/Tender/DirectPurchase/Partials/_TenderIndexAwardingDiretPurchaseStageActions.cshtml")
                                 </div>
                              </div>
                              <h6 class="m-3">
                                 @Html.Partial("~/Views/Tender/Partials/_TenderCardStatus.cshtml")
                                 <button v-if="tender.changeRequestStatusIds.length > 0 && (tender.tenderStatusId == @((int)Enums.TenderStatus.OffersAwardedConfirmed) || tender.tenderStatusId == @((int)Enums.TenderStatus.OffersAwardedPending)  || tender.tenderStatusId == @((int)Enums.TenderStatus.OffersAwardedRejected)|| tender.tenderStatusId == @((int)Enums.TenderStatus.OffersAwarding))" type="button" class="btn btn-sm btn-info btn-link btn-just-icon popover-status m-0" data-container="body" data-toggle="popover" data-placement="left" data-content='  @Html.Partial("_TenderChangeRequestStatus.cshtml")'>
                                    <i class="material-icons">info</i> 
                                    <div class="popover-content d-none">
                                       @Html.Partial("_TenderChangeRequestStatus.cshtml")
                                    </div>
                                 </button>
                              </h6>
                           </div>
                           <div class="clearfix"></div>
                           @Html.Partial("_TenderCardContent.cshtml")
                        </div>
                     </div>
                     <div class="card-footer row">
                        @Html.Partial("~/Views/Tender/DirectPurchase/Partials/_AwardingTenderForDirectPurchaseCardFooter.cshtml")
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12" v-else>
               @Html.Partial("~/Views/Shared/_NoData.cshtml")
            </div>
            <div class="col-12 m-5 m-auto">
               <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
</form>
<!--endtBody-->
@section scripts{
   <script>
      var cardsCont = document.getElementById('cardsresult');
      $('button[type="reset"]').click(function () {
         $(".selectpicker").val('default');
         $(".selectpicker").selectpicker("refresh");
      });
      $(function () {
         $("input").keypress(function (event) {
            if (event.which === 13) {
               event.preventDefault();
               $("#searchBtn").click();
            }
         });
         toggleViewCards();
         $('#searchBtnColaps').click(function () {
            var _cards = $('#cardsresult');
            var _grid = $('#gridresult');
            if (_cards.hasClass('col-md-12')) {
               _cards.removeClass('col-md-12');
               _cards.addClass('col-md-8');
               _cards.find('.monafasa-item').removeClass('col-md-6');
               _cards.find('.monafasa-item').addClass('col-md-12');
               _cards.find('.monafasa-item').removeClass('col-lg-6');
               _cards.find('.monafasa-item').addClass('col-lg-12');
               _cards.find('.monafasa-item').removeClass('col-xl-4');
               _cards.find('.monafasa-item').addClass('col-xl-6');
            } else if (_cards.hasClass('col-md-8')) {
               _cards.addClass('col-md-12');
               _cards.removeClass('col-md-8 ');
               _cards.find('.monafasa-item').addClass('col-md-6');
               _cards.find('.monafasa-item').removeClass('col-md-12');
               _cards.find('.monafasa-item').addClass('col-lg-6');
               _cards.find('.monafasa-item').removeClass('col-lg-12');
               _cards.find('.monafasa-item').addClass('col-xl-4');
               _cards.find('.monafasa-item').removeClass('col-xl-6');
            }
              $('#closeSearch').on("click",function () {

              $('#searchBtnColaps').click()
            });
         });
      });
      function toggleViewCards() {
         cardsCont.classList.remove('fadeOut');
         cardsCont.classList.add('bounceInLeft');
      }
      var Tender = new Vue({
         el: '#TenderGrid',
         data: {
            Tenders: [],
            tenderStatusList: [],
            areasList: [],
            selectedStatus: '',
            selectedAreaList: [],
            selectedTenderId: 0,
            selectedRowStatus: '',
            totalCount: 0,
            currentPage: 1,
            pageSize: @((int)Enums.PageSize.Twelve),
            resource_url: '/Tender/GetTendersForAwardingStageIndexAsync',
            queryString: '',
            sort: "CreatedAt",
            sortDirection: "DESC",
            checkSecretry: "NewMonafasat_OffersCheckSecretary",
            checkManger: "NewMonafasat_OffersCheckManager"
         },
         created: function () {
            this.getTenderStatus();
         },
         methods: {
            updateResource: function (data) {
               data.forEach(function (item) {
                  if (item.submitionDate) {
                     item.submitionDate = item.submitionDate.slice(0, 10); //.split('T')[0]
                     item.submitionDate = item.submitionDate == "0001-01-01" ? false : (item.tenderStatusId == 1 ? " " : item.submitionDate);
                  }
               });
               this.Tenders = data;
               this.totalCount = this.$refs.vpaginator.totalCount;
               this.currentPage = this.$refs.vpaginator.currentPage;
               this.pageSize = this.$refs.vpaginator.pageSize;
               var _cards = $('#cardsresult');
               if (_cards.hasClass('col-md-12')) {
                  _cards.find('.monafasa-item').addClass('col-md-6');
                  _cards.find('.monafasa-item').removeClass('col-md-12');
                  _cards.find('.monafasa-item').addClass('col-lg-6');
                  _cards.find('.monafasa-item').removeClass('col-lg-12');
                  _cards.find('.monafasa-item').addClass('col-xl-4');
                  _cards.find('.monafasa-item').removeClass('col-xl-6');
               } else if (_cards.hasClass('col-md-8')) {
                  _cards.find('.monafasa-item').removeClass('col-md-6');
                  _cards.find('.monafasa-item').addClass('col-md-12');
                  _cards.find('.monafasa-item').removeClass('col-lg-6');
                  _cards.find('.monafasa-item').addClass('col-lg-12');
                  _cards.find('.monafasa-item').removeClass('col-xl-4');
                  _cards.find('.monafasa-item').addClass('col-xl-6');
               }
               $('[data-toggle="tooltip"]').tooltip();
            },
            percentageLeft: function (pubDate, lastDate, remainingDays, remainingHours) {
               return calculateCardPercentage(pubDate, lastDate, remainingDays, remainingHours);
            },
            detailsUrl: function (id, statusId, displayOnlyMode) {
               if (displayOnlyMode == undefined) {
                  displayOnlyMode = true;
               }
               return '/Tender/Details?tenderIdString=' + id;
            },
            OffersReport: function (tenderId) {
               return '/Tender/OffersReport?tenderIdString=' + tenderId;
            },
            cancelLink: function (STenderId) {
               return '/Tender/CancelTender?STenderId=' + STenderId;
            },
            showOpenOffersReport(tenderStatus) {
               return (tenderStatus != @Html.Raw((int)Enums.TenderStatus.UnderEstablishing) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.Established)&&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.Pending) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.Rejected)&&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.Canceled) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.Approved) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.OffersOppening) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.OffersOppenedPending) &&
                  tenderStatus != @Html.Raw((int)Enums.TenderStatus.OffersOppenedRejected));
            },
            openAwardOffersReport: function (tenderId) {
               return '/Tender/AwardingReport?tenderIdString=' + tenderId;
            },
            awardTenderOffers: function (tenderId) {
               return '/Tender/AwardTenderOffers?tenderIdString=' + tenderId;
            },
            reOpenRejecterdTender: function (tenderId) {
               return '/Tender/TenderAwarding?tenderIdString=' + tenderId;
            },
            confirmAwardOffersAward: function (tenderId) {
               return '/Tender/TenderAwarding?tenderIdString=' + tenderId;
            },
            tenderAwarding: function (tenderId) {
               return '/Tender/TenderAwarding?tenderIdString=' + tenderId;
            },
            getTenderStatus: function () {
               $.get('/Tender/GetStatusAsync').done(function (result) {
                  console.log(result);
                  Tender.tenderStatusList = result;
                  setTimeout(function () {
                     $('#statusList').selectpicker('refresh');
                  }, 1000);
               }).fail(function (error) {
                  console.log(error.statusText);
               });
               $.get('/Tender/GetAreasAsync').done(function (result) {
                  Tender.areasList = result;

                  setTimeout(function () {
                     $('#areaList').selectpicker('refresh');
                  }, 1000);
               }).fail(function (error) {
                  console.log(error.statusText);
               });
               $.get('/Tender/GetFinancialYear', null, function (result) {
                  Tender.financialYearList = result;
                  setTimeout(function () {
                     $('#financialYear').selectpicker('refresh');
                  }, 1000);
               }).fail(function (error) {
                  console.log(error.statusText);
               });
               $.get('/Tender/GetAllAgenciesAsync').done(function (result) {
                  Tender.agencyList = result;
                  setTimeout(function () {
                     $('#agencyId').selectpicker('refresh');
                  }, 1000);
               }).fail(function (error) {
                  console.log(error.statusText);
               });
            },
            suppliersReport: function (tenderId) {
               return '/Offer/SuppliersReport?tenderIdString=' + tenderId;
            },
            SortBySubmissionDate: function () {
               if (this.sort = "CreatedAt") {
                  if (this.sortDirection == "DESC")
                     this.sortDirection = "ASC";
                  else
                     this.sortDirection = "DESC"
               }
               else {
                  this.sort = "CreatedAt";
                  this.sortDirection = "ASC";
               }
               this.search();
            },
            SortByOfferOpeningDate: function () {
               if (this.sort = "OffersOpeningDate") {
                  if (this.sortDirection == "DESC")
                     this.sortDirection = "ASC";
                  else
                     this.sortDirection = "DESC"
               }
               else {
                  this.sort = "OffersOpeningDate";
                  this.sortDirection = "ASC";
               }
               this.search();
            },
             getTendersBySelectedPageSize: function () {
               this.pageSize  = $('#itemsPerPage').val();
               this.search();
            },
            search: function () {
               this.queryString = $('form').serialize();
               var createdDate = "";
               var lastEnqueriesDatelastEnqueriesDate = "";
               this.queryString = this.queryString + '&TenderStatusId=' + this.selectedStatus + '&AgencyId=' + this.selectedAgency + '&TenderTypeId=' + $('#TenderTypeId').val() + '&TenderName=' + $('#TenderName').val()
                  +'&TenderNumber=' + $('#TenderNumber').val() + '&TenderTypeString=' + $('#hdnTenderTypeString').val()
                  + '&Sort=' + this.sort + '&SortDirection=' + this.sortDirection + '&PageSize=' + this.pageSize;
               this.resource_url = '/Tender/GetTendersForAwardingStageIndexAsync' + '?' + this.queryString;
            },
            clear: function () {
               $("#statusList, #areaList,#agencyId , #CreatedBy, #UserId").val('default');
               $("#statusList, #areaList,#agencyId , #CreatedBy, #UserId").selectpicker("refresh");
               this.search();
            }
         },
         updated: function () {
            $("#statusList, #areaList,#agencyId , #CreatedBy, #UserId").val(null);
            var _cards = $('#cardsresult');
            if (_cards.hasClass('col-md-12')) {
               _cards.find('.monafasa-item').addClass('col-md-6');
               _cards.find('.monafasa-item').removeClass('col-md-12');
               _cards.find('.monafasa-item').addClass('col-lg-6');
               _cards.find('.monafasa-item').removeClass('col-lg-12');
               _cards.find('.monafasa-item').addClass('col-xl-4');
               _cards.find('.monafasa-item').removeClass('col-xl-6');
            } else if (_cards.hasClass('col-md-8')) {
               _cards.find('.monafasa-item').removeClass('col-md-6');
               _cards.find('.monafasa-item').addClass('col-md-12');
               _cards.find('.monafasa-item').removeClass('col-lg-6');
               _cards.find('.monafasa-item').addClass('col-lg-12');
               _cards.find('.monafasa-item').removeClass('col-xl-4');
               _cards.find('.monafasa-item').addClass('col-xl-6');
            }
            $('.popover-status').each(function () {
               var content = $(this).find('.popover-content').html();
               $(this).attr('data-content', content);
            });
            $(function () {
               $('[data-toggle="popover"]').popover({
                  trigger: 'hover',
                  html: true
               })
            })
            $('[data-toggle="tooltip"]').tooltip();
         }
      });
   </script>
}
