@using MOF.Etimad.Monafasat.SharedKernel;


<link href="~/Etimad-UI/assets/scss/Etimad/tendersCard.min.css" rel="stylesheet" />

<div class="animated  delay-2s col-12 col-md-9 mt-3" id="cardsresult">
   <div class="row justify-content-center" v-if="Tenders && Tenders.length > 0">

      <div class="col-12 col-md-12 mb-4" v-for="(tender, $index) in Tenders">
         <div class="tender-card card rounded card mt-0 mb-0" v-bind:data-ref="tender.referenceNumber">
            <div class="row">
               <div class="col-12 col-md-9 p-0">
                  <div class="tender-metadata border-left border-bottom">
                     <div class="row">
                        <div class="col-12">
                           <div class="row ">
                              <div class="col-6">
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderPublishDate:  <span>{{tender.submitionDate.split('T')[0]}}</span>

                              </div>
                              <div class="col-6 text-left">
                                 <span class="badge badge-primary"> {{tender.qualificationTypeName}}</span>
                              </div>
                              <div class="col-12">
                                 <h3> 
                                    <a :href="tenderDetailsUrl(tender.tenderIdString)" v-bind:data-original-title="[tender.qualificationName]">
                                       {{tender.qualificationName.length > 100 ?  tender.qualificationName.substring(0,100) + '...' :tender.qualificationName }}
                                    </a> 
                                 </h3>
                              </div>
                              <div class="col-12">
                                 <p class="pb-2">
                                    {{tender.agencyName}}
                                    <a class="pull-right" :href="`PrequalificationVisitorDetails/${tender.tenderIdString}`">
                                       @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Details
                                    </a>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-3 p-0">
                  <div class="tender-chart border-bottom">
                     <div class="cont-bar" v-bind:data-bar="tender.qualificationReferenceNumber" v-bind:data-pct="parseInt(tender.remainingDays) < 0 ? 0 : parseInt(tender.remainingDays)">
                        <svg class="svg-bar" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                           <circle r="90" cx="100" cy="100" :class="tender.qualificationReferenceNumber" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                           <circle :class="tender.qualificationReferenceNumber" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48"></circle>
                        </svg>
                     </div>
                     <div class="text-center text-chart-indicator">

                        <template v-if="tender.remainingDays > 0 || tender.remainingHours > 0 || tender.remainingMins > 0">
                           {{ tender.remainingDays }} @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Day

                           {{ tender.remainingHours}} @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Hour

                           {{ tender.remainingMins}} @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Minute

                        </template>
                        <template v-else>
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Ended
                        </template>

                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-12 p-0">
                  <div class="tender-date border-left">
                     <div class="row">
                        <div class="col-12 col-md-3">
                           <label class="col-12 p-0 mb-3">
                              @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationNumber
                           </label>
                           <span>{{tender.qualificationReferenceNumber}}</span>
                        </div>
                        <div class="col-12 col-md-3">
                           <label class="col-12 p-0 mb-3">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate
                           </label>
                           <span data-toggle="tooltip" data-placement="bottom" :title="tender.lastEnqueriesDateHijri">
                              <i>
                                 <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 19 19" xml:space="preserve"><g id="calendar_1_" transform="translate(853 257)"><path id="Path_4414_3_" d="M-838.9-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.2.2.5.4.9.4z" /><path id="Path_4415_3_" d="M-834.3-254.8h-2.6v.7c0 1.1-.9 1.9-2 1.9s-2-.9-2-1.9v-.7h-5.3v.7c0 1.1-.9 2-2 2s-2-.9-2-2v-.7h-2.6v16.3h18.5v-16.3zm-1.3 15h-15.8v-10.4h15.8v10.4z" class="st0" /><path id="Path_4416_3_" d="M-848.2-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.3.2.6.4.9.4z" class="st0" /><path id="Rectangle_1468_3_" d="M-846.2-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1469_3_" d="M-842.8-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1470_3_" d="M-839.7-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1471_3_" d="M-846.2-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1472_3_" d="M-842.8-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1473_3_" d="M-839.7-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1474_3_" d="M-846.2-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1475_3_" d="M-849.5-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1476_3_" d="M-849.5-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1477_3_" d="M-842.8-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1478_3_" d="M-839.7-242.8h2.1v1.8h-2.1z" class="st0" /></g></svg>
                              </i> 
                              {{tender.lastEnqueriesDate.split('T')[0]}}
                           </span>
                        </div>
                        <div class="col-12 col-md-3">
                           <label class="col-12 p-0 mb-3">
                              @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.LastQualificationPresentationDate
                           </label>
                           <span class="ml-3" data-toggle="tooltip" data-placement="bottom" :title="tender.lastOfferPresentationDateHijri">
                              <i>
                                 <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 19 19" xml:space="preserve"><g id="calendar_1_" transform="translate(853 257)"><path id="Path_4414_3_" d="M-838.9-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.2.2.5.4.9.4z" /><path id="Path_4415_3_" d="M-834.3-254.8h-2.6v.7c0 1.1-.9 1.9-2 1.9s-2-.9-2-1.9v-.7h-5.3v.7c0 1.1-.9 2-2 2s-2-.9-2-2v-.7h-2.6v16.3h18.5v-16.3zm-1.3 15h-15.8v-10.4h15.8v10.4z" class="st0" /><path id="Path_4416_3_" d="M-848.2-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.3.2.6.4.9.4z" class="st0" /><path id="Rectangle_1468_3_" d="M-846.2-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1469_3_" d="M-842.8-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1470_3_" d="M-839.7-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1471_3_" d="M-846.2-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1472_3_" d="M-842.8-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1473_3_" d="M-839.7-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1474_3_" d="M-846.2-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1475_3_" d="M-849.5-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1476_3_" d="M-849.5-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1477_3_" d="M-842.8-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1478_3_" d="M-839.7-242.8h2.1v1.8h-2.1z" class="st0" /></g></svg>
                              </i> 
                              {{tender.lastOfferPresentationDate.split('T')[0]}}
                           </span>
                           <span>
                              <i>
                                 <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 19 19" xml:space="preserve"><g transform="translate(33 1)"><path d="M-23.5-.9c-5.2 0-9.5 4.2-9.5 9.4s4.3 9.4 9.5 9.4 9.5-4.2 9.5-9.4-4.3-9.4-9.5-9.4zm0 16.8c-4.1 0-7.4-3.3-7.4-7.4 0-4.1 3.3-7.4 7.4-7.4s7.4 3.3 7.4 7.4c0 4.1-3.3 7.4-7.4 7.4z" class="st0" /><path id="Path_29_" d="M-22.7 8.6v-4c0-.4-.4-.8-.8-.8s-.8.4-.8.8v4.2c0 .2.1.4.2.6l3 3c.3.3.8.3 1.1 0 .3-.3.3-.8 0-1.1l-2.7-2.7z" class="st0" /></g></svg>
                              </i> 
                              <span>
                                 {{tender.lastOfferPresentationDate.split('T')[1].substring(0,5)}}
                              </span>
                           </span>
                        </div>
                        <div class="col-12 col-md-3">
                           <label class="col-12 p-0 mb-3">
                              @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationEvaluationDate
                           </label>
                           <span class="ml-3" data-toggle="tooltip" data-placement="bottom" :title="tender.offersCheckingDateHijri">
                              <i>
                                 <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 19 19" xml:space="preserve"><g id="calendar_1_" transform="translate(853 257)"><path id="Path_4414_3_" d="M-838.9-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.2.2.5.4.9.4z" /><path id="Path_4415_3_" d="M-834.3-254.8h-2.6v.7c0 1.1-.9 1.9-2 1.9s-2-.9-2-1.9v-.7h-5.3v.7c0 1.1-.9 2-2 2s-2-.9-2-2v-.7h-2.6v16.3h18.5v-16.3zm-1.3 15h-15.8v-10.4h15.8v10.4z" class="st0" /><path id="Path_4416_3_" d="M-848.2-253.1c.3 0 .7-.1.9-.4.2-.2.4-.6.4-.9v-1.3c0-.7-.6-1.3-1.3-1.3-.7 0-1.3.6-1.3 1.3v1.3c0 .3.1.7.4.9.3.2.6.4.9.4z" class="st0" /><path id="Rectangle_1468_3_" d="M-846.2-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1469_3_" d="M-842.8-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1470_3_" d="M-839.7-248.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1471_3_" d="M-846.2-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1472_3_" d="M-842.8-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1473_3_" d="M-839.7-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1474_3_" d="M-846.2-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1475_3_" d="M-849.5-245.9h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1476_3_" d="M-849.5-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1477_3_" d="M-842.8-242.8h2.1v1.8h-2.1z" class="st0" /><path id="Rectangle_1478_3_" d="M-839.7-242.8h2.1v1.8h-2.1z" class="st0" /></g></svg>
                              </i> 
                              {{tender.offersCheckingDate.split('T')[0]}}
                           </span>
                           <span>
                              <i>
                                 <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 19 19" xml:space="preserve"><g transform="translate(33 1)"><path d="M-23.5-.9c-5.2 0-9.5 4.2-9.5 9.4s4.3 9.4 9.5 9.4 9.5-4.2 9.5-9.4-4.3-9.4-9.5-9.4zm0 16.8c-4.1 0-7.4-3.3-7.4-7.4 0-4.1 3.3-7.4 7.4-7.4s7.4 3.3 7.4 7.4c0 4.1-3.3 7.4-7.4 7.4z" class="st0" /><path id="Path_29_" d="M-22.7 8.6v-4c0-.4-.4-.8-.8-.8s-.8.4-.8.8v4.2c0 .2.1.4.2.6l3 3c.3.3.8.3 1.1 0 .3-.3.3-.8 0-1.1l-2.7-2.7z" class="st0" /></g></svg>
                              </i> 
                              <span>
                                 {{tender.offersCheckingDate.split('T')[1].substring(0,5)}}
                              </span>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



   </div>
   <div class="col-12" v-else>
      @Html.Partial("~/Views/Shared/_NoData.cshtml")
   </div>

   <div class="col-12 m-5 m-auto">
      <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
   </div>

</div>




<script type="text/javascript">

   setTimeout(function () {
      var val = $('[data-pct]');
      for (var i = 0; i < val.length; i++) {
         var chartValue = val[i].getAttribute('data-pct');
         var chartTarget = val[i].getAttribute('data-bar');
         var $circle = $('.' + chartTarget)
         if (isNaN(chartValue)) {
            val = 100;
         }
         else {
            var r = $circle.attr('r');
            var c = Math.PI * (r * 2);
            if (chartValue < 0) { chartValue = 0; }
            if (chartValue > 100) { chartValue = 100; }
            var pct = ((100 - chartValue) / 100) * c;
            $circle.css({ strokeDashoffset: parseInt(pct), transition: 'all 1s linear' });
         }
      }
   }, 2000)

</script>
