<div id="SuppliersGrid" v-cloak>
   <div class="table-responsive" style="min-height:100px">
      <table id="SuppliersTable" class="table  table-striped text-center" summary="desc">
         <thead class="text-center">
            <tr>
               <th scope="col" class="text-center">@Html.Raw(MOF.Etimad.Monafasat.Resources.InvitationResources.DisplayInputs.ComericalRegisterName)</th>
               <th scope="col" class="text-center">@Html.Raw(MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.ComericalRegisterNo)</th>
            </tr>
         </thead>
         <tbody class="text-center" v-if="InvitedSuppliers && InvitedSuppliers.length > 0">
            <tr v-for="(Supplier, $index) in InvitedSuppliers">
               <td style="cursor:pointer" @@click="getSupplierInfo(Supplier.commericalRegisterNo)" class="text-center" data-label="@Html.Raw(MOF.Etimad.Monafasat.Resources.InvitationResources.DisplayInputs.ComericalRegisterName)"> {{Supplier.commericalRegisterName}} </td>
               <td class="text-center" data-label="@Html.Raw(MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.ComericalRegisterNo)"> {{Supplier.commericalRegisterNo}} </td>
            </tr>
         </tbody>
         <tbody v-else>
            <tr>
             
               <td colspan="3" class="text-center">
                  <i class="text-primary material-icons" style="font-size:3rem">report</i> 
                  <br />
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
               </td>
             
            </tr>
         </tbody>
      </table>
      <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
   </div>
</div>
