<div id="suppliersRequestsGrid" v-cloak>
   <div class="table-responsive" style="min-height:100px">
      <table id="SuppliersTable" class="table  table-striped text-center" summary="desc">
         <thead class="text-center">
            <tr>
               <th scope="col" class="text-center">#</th>
               <th scope="col" class="text-center">@Html.Raw(MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.AgencyRequestType)</th>
               <th scope="col" class="text-center">@Html.Raw(MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.AgencyRequestStatus)</th>
               <th scope="col" class="text-center">تاريخ ارسال الطلب</th>
               <th scope="col" class="text-center">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options</th>
            </tr>
         </thead>
         <tbody class="text-center" v-if="suppliersRequests && suppliersRequests.length > 0">
            <tr v-for="(suppliersRequest, $index) in suppliersRequests">
               <td class="text-center" data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
               <td class="text-center" data-label="@Html.Raw(MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.AgencyRequestType)"> {{suppliersRequest.agencyRequestType}} </td>
               <td class="text-center" data-label="@Html.Raw(MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.AgencyRequestStatus)"> {{suppliersRequest.status}} </td>
               <td class="text-center" data-label="@Html.Raw(MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.AgencyRequestStatus)"> {{suppliersRequest.createdAt.split('T')[0]}} </td>
               <td class="text-center" data-label="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options">

                  @if (User.IsInRole(RoleNames.supplier))
                  {
                     <a :href="viewSupplierRequestDetails(suppliersRequest.agencyRequestTypeId, suppliersRequest.agencyRequestIdString)" class="btn btn-primary btn-link"> <i class="material-icons">format_list_bulleted</i>  @MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.RequestDetails</a>
                  }
                  else if (User.IsInRole(RoleNames.TechnicalCommitteeUser) || User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.EtimadOfficer))
                  {
                     <a :href="viewSupplierRequestDetails(suppliersRequest.agencyRequestTypeId, suppliersRequest.agencyRequestIdString)" v-if="suppliersRequest.agencyRequestTypeId == @((int)Enums.AgencyCommunicationRequestType.Enquiry)" class="btn btn-primary btn-link"> <i class="material-icons">format_list_bulleted</i>  @MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.RequestDetails</a>
                  }
                  else
                  {
                     <a :href="viewSupplierRequestDetails(suppliersRequest.agencyRequestTypeId, suppliersRequest.agencyRequestIdString)"
                        v-if="!(suppliersRequest.agencyRequestTypeId == @((int)Enums.AgencyCommunicationRequestType.Enquiry) || suppliersRequest.agencyRequestTypeId == @((int)Enums.AgencyCommunicationRequestType.SupplierOfferExtendDates) || suppliersRequest.agencyRequestTypeId == @((int)Enums.AgencyCommunicationRequestType.ExtendOfferValidtiy))" class="btn btn-primary btn-link"><i class="material-icons">format_list_bulleted</i> @MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.RequestDetails</a>
                     }
                  <div v-if="suppliersRequest.canApproveExtendOfferPresentation">
                     <a :href="viewSupplierRequestDetails(suppliersRequest.agencyRequestTypeId, suppliersRequest.agencyRequestIdString)" v-if="suppliersRequest.agencyRequestTypeId == @((int)Enums.AgencyCommunicationRequestType.SupplierOfferExtendDates)" class="btn btn-primary btn-link"> <i class="material-icons">format_list_bulleted</i>  @MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.RequestDetails</a>
                  </div>
               </td>
            </tr>
         </tbody>
         <tbody v-else>
            <tr>
               <td colspan="5">
                  <div class=" text-center">
                     <i class="text-primary material-icons" style="font-size:3rem">report</i> 
                     <br />
                     @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
   </div>
</div>
