@if (User.IsInRole(RoleNames.UnitSecretaryUser) && (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.TenderTransferdToLevelTwo || Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelTwo))
{
   <div class="modal fade" id="OpenModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.AreYouSure
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmOpen">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
   @if (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelTwo)
   {
      <div class="modal fade" id="EditModel" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">
                     @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
                  </h5>
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                     <i class="material-icons">clear</i>
                  </button>
               </div>
               <div class="modal-body">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectEditType
                  <select data-live-search="true" name="TenderModificationTypeId" id="dD_TenderModificationTypeId" class="selectpicker"
                          asp-items="@(new SelectList(ViewBag.TenderModificationsOptions, "Id", "Name"))" data-style="select-with-transition" data-size="8">
                     <option value="">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectEditType </option>
                  </select>
                  <div class="form-group bmd-form-group" style="padding-top:0">
                     <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Notes</label>
                     <input type="text" class="form-control" id="txtEditNotes" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Notes" />
                     <div class="pull-left">
                        <span class="bmd-help text-danger" id="txtEditNotesValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Notes</span>
                     </div>
                  </div>
                  <div class="form-group bmd-form-group" style="padding-top:0">
                     <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.UploadFile</label>
                     <div class="" id="bankUploader">
                        @Html.FileUploader("MyFiles", fileMaxSize: 1024 * 350, numberOfFilesToUpload: 40, multiple: true, allowedExtensions: new List<string> { "pdf", "zip" })
                        <span id="vdBankGuaranteeReference" class="text-danger">@MOF.Etimad.Monafasat.Resources.OfferResources.ErrorMessages.EnterFile</span>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group bmd-form-group p-0">
                     <label class="label bmd-label-static"></label>
                     @*@Html.FileUploaderFor(m => m.test, fileMaxSize: 1024 * 350, numberOfFilesToUpload: 50, multiple: true, allowedExtensions: new List<string> { "pdf", "rar" })*@
                  </div>
               </div>
               <div class="modal-footer">
                  <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmSendToEdit">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
                  </button>
                  <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
               </div>
            </div>
         </div>
      </div>
   }
   <div class="modal fade" id="ApproveModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.AreYouSure
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmApprove">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="RejectedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               <div class="form-group bmd-form-group" style="padding-top:0">
                  <label for="RejectionReason" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</label>
                  <input type="text" class="form-control" id="txtRejectionReason" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason" />
                  <div class="pull-left">
                     <span class="bmd-help text-danger" id="txtRejectionReasonValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason</span>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmReject">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
}
<div class="row">
   <div class="col-12 ">
      @if (User.IsInRole(RoleNames.UnitSecretaryUser) && Model.TenderStatusId == (int)Enums.TenderStatus.UnitStaging && Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.TenderTransferdToLevelTwo)
      {
         <button type="button" class="btn btn-primary pull-left" name="button" id="btnOpenTender" data-toggle="modal" data-target="#OpenModel">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Open</button>
      }
      @if (User.IsInRole(RoleNames.UnitSecretaryUser) && Model.CanUnitSecreteryDoAnyAction && (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelTwo))
      {
         <div class="dropdown d-inline">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EnterUnitDesision
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditModel">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReturnForEdit</a>
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ApproveModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Approve</a>
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#RejectedModal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Reject</a>
               @*<button type="button" class="btn btn-primary pull-left" name="button" id="btnApprove" data-toggle="modal" data-target="#ApproveModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Approve</button>
                  <button type="button" class="btn btn-danger pull-left" name="button" id="btnReject" data-toggle="modal" data-target="#RejectedModal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Reject</button>*@

            </div>
         </div>
         <button type="button" class="btn btn-primary pull-left" name="button" id="btnApprove" data-toggle="modal" data-target="#ReAssignModel">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TransferToAnotherSecretery</button>
      }
      else if (User.IsInRole(RoleNames.UnitSecretaryUser) && Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderReviewing)
      {
         <button class="btn btn-primary pull-left" type="button" value="" id="btnSendToApprove">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SendToApprove
         </button>
      }
      else if (User.IsInRole(RoleNames.UnitSecretaryUser) && Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.RejectedByManager)
      {
         <button class="btn btn-primary pull-left" type="button" value="" id="btnReOpen">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Reopen
         </button>
      }
   </div>
</div>

<script>
   $("#btnReject").click(function () {
      $("#txtRejectionReason").val('');
   });
   $("#btnConfirmOpen").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getOpenTenderByUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderDetailsForUnitSecretary?tenderIdString=' + getTenderStringId();
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmSendToEdit").on("click", function () {
      console.log($("#MyFiles").val());
      if ($("#dD_TenderModificationTypeId").val() <= 0) {
         alert("please select modification type");
         return;
      }
      if ($("#txtEditNotes").val() == '') {
         alert("please enter note for the the data entry user");
         return;
      }
      $('#LoadingSite').fadeIn();
      $.post(getSendTenderByUnitSecretaryForModificationAsyncUrl(),
         {
            tenderIdString: getTenderStringId(),
            modificationTypeId: $("#dD_TenderModificationTypeId").val(),
            notes: $("#txtEditNotes").val(),
            filesString: $("#MyFiles").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmReAssign").on("click", function () {
      console.log($("#MyFiles").val());
      if ($("#dD_TenderModificationTypeId").val() <= 0) {
         alert("please select modification type");
         return;
      }
      if ($("#txtEditNotes").val() == '') {
         alert("please enter note for the the data entry user");
         return;
      }
      $('#LoadingSite').fadeIn();
      $.post(getSendTenderByUnitSecretaryForModificationAsyncUrl(),
         {
            tenderIdString: getTenderStringId(),
            modificationTypeId: $("#dD_TenderModificationTypeId").val(),
            notes: $("#txtEditNotes").val(),
            filesString: $("#MyFiles").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmApprove").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getApproveTenderByUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmReject").on("click", function () {
      if ($("#txtRejectionReason").val().length == 0) {
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.RejectReasonMustHaveValue)', alertMessageType.Danger);
      }
      $('#LoadingSite').fadeIn();
      $.post(getRejectTenderFromUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            comment: $("#txtRejectionReason").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#RejectedModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#RejectedModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#RejectedModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnSendToApprove").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getSendTenderToApproveToApproveUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnReOpen").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getReOpenUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            //$('#ApproveModal').modal('hide');
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   function getOpenTenderByUnitSecretaryUrl() { return '@Url.Action("OpenTenderByUnitSecretaryLevelTwoAsync", "Tender")'; }
   function getSendTenderByUnitSecretaryForModificationAsyncUrl() { return '@Url.Action("SendTenderByUnitSecretaryLevelTwoForModificationAsync", "Tender")'; }
   function getApproveTenderByUnitSecretaryUrl() { return '@Url.Action("ApproveTenderByUnitSecretaryLevelTwoAsync", "Tender")'; }
   function getRejectTenderFromUnitSecretaryUrl() { return '@Url.Action("RejectTenderByUnitSecretaryLevelTwoAsync", "Tender")'; }
   function getSendTenderToApproveToApproveUrl() { return '@Url.Action("SendToApproveFromUnitSecretaryLevelTwoToUnitMangerAsync", "Tender")'; }
   function getReOpenUrl() { return '@Url.Action("ReOpenTenderByUnitSecertaryLevelAsync", "Tender")'; }
   function getTenderStringId() { return '@Model.TenderIdString'; }
</script>
