@model MOF.Etimad.Monafasat.ViewModel.GetConditionTemplateModel

@{
    if (Model.HideTenderFragmentation)
    {
       if (string.IsNullOrEmpty(Model.TenderFragmentation))
       {
          Model.TenderFragmentation = @MOF.Etimad.Monafasat.Resources.TenderResources.Messages.FragmentationMsg;
       }
    }
    else
    {
       Model.TenderFragmentation = @MOF.Etimad.Monafasat.Resources.TenderResources.Messages.FragmentationMsg; 
    }
}
   <div class="row">
      <div class="col-12">
         <h4 class=" text-primary mt-0 mb-0">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Introduction</h4>
      </div>
      <div class="col-12">
         <div class="form-group bmd-form-group">
            <label class="label bmd-label-static noSpecial">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDefinition</label><span class="text-danger">*</span>
            <textarea asp-for="Description" class="form-control" rows="6" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.Messages.DefineTenderPlaceHolder"></textarea>
         </div>
         <span asp-validation-for="Description" class="text-danger"></span>
      </div>
      <div class="col-12">
         <div class="form-check">
            <label class="form-check-label text-dark-green">
               <input class="form-check-input" type="checkbox" id="chkCerificatesIDsTenderSection" asp-for="HideCerificatesIDs" onchange="return toggleCerificatesIDsTenderSection()" />
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.HideLicenses
               <span class="form-check-sign">
                  <span class="check"></span>
               </span>
            </label>
         </div>
         <div class="col-lg-12 col-sm-12 col-xs-12 tenderCerificatesIDs" id="divTenderAreas">
            <div class="form-group bmd-form-group">
               <label asp-for="CerificatesIDs" class="label bmd-label-static"></label><span class="text-danger">*</span>
               <select asp-for="CerificatesIDs" data-live-search="true" class="selectpicker" required
                       asp-items="@(new SelectList(Model.Certificates, "Id", "Name"))" data-style="select-with-transition" data-size="7"></select>
            </div>
            <span asp-validation-for="CerificatesIDs" class="text-danger"></span>
            <span class="h6 text-danger">تحذف هذه الفقرة إذا تم تزويد الجهة الحكومية بهذه الوثائق في مرحلة التأهيل المسبق وتحذف الشهادات غير المطلوبة<br /> تقوم الجهة الحكومية بإضافة أي شهادات أخرى مطلوبة حسب المنافسة</span>
         </div>
      </div>

      <div class="col-12 my-3">
         <hr />
      </div>
      <div class="col-12">
         <h4 class=" text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AgencyRepresentativeInformation</h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label asp-for="AgentName" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgentName" maxlength="2000" class="form-control" onchange="return blockSpecialChar(event)" />
            <span asp-validation-for="AgentName" class="text-danger"></span>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label asp-for="AgentPhone" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgentPhone" maxlength="15" class="form-control" onkeypress="return isNumber(event)" />
            <span asp-validation-for="AgentPhone" class="text-danger"></span>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label asp-for="AgentFax" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgentFax" maxlength="15" class="form-control" onkeypress="return isNumber(event)" />
            <span asp-validation-for="AgentFax" class="text-danger"></span>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label asp-for="AgentJob" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgentJob" maxlength="1000" class="form-control" onchange="return blockSpecialChar(event)" />
            <span asp-validation-for="AgentJob" class="text-danger"></span>
         </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label asp-for="AgentEmail" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgentEmail" maxlength="500" class="form-control" onchange="return blockSpecialChar(event)" />
            <span asp-validation-for="AgentEmail" class="text-danger"></span>
         </div>
      </div>
      <div class="col-12 my-3">
         <hr />
      </div>
      <div class="col-12">
         <h4 class=" text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.GeneralProvisions</h4>
      </div>
      <div class="col-12">

         <div class="form-group bmd-form-group">
            <label asp-for="AgencyDecalration" class="label bmd-label-static noSpecial"></label><span class="text-danger">*</span>
            <input asp-for="AgencyDecalration" maxlength="2000" class="form-control" onchange="return blockSpecialChar(event)" />
            <span asp-validation-for="AgencyDecalration" class="text-danger"></span>
         </div>
      </div>
      <div class="form-group p-1">

      </div>
      <div class="col-12">
         <div class="form-check">
            <label class="form-check-label text-dark-green">
               <input class="form-check-input" type="checkbox" id="chkFragmentation" asp-for="HideTenderFragmentation" onchange="return toggleTenderFragmentation()" />
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ShowTenderFragmentation
               <span class="form-check-sign">
                  <span class="check"></span>
               </span>
            </label>

            <span class="h6 text-danger" id="txtFragmentationDeleteClauseMsg">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DeleteClauseMsg</span>

         </div>
         <div class="form-group bmd-form-group p-0 ">
            <div class="tenderFragmentation">
               <textarea asp-for="TenderFragmentation" id="txtFragmentation" class="form-control" rows="4"></textarea>
               <div class="h6 text-danger" id="txtFragmentationValidation"> @MOF.Etimad.Monafasat.Resources.TenderResources.Messages.EnterFragmentationData</div>
               <button class="btn btn-sm btn-default" type="button" id="btnRestoreTenderFragmentation" onclick="restoreTenderFragmentation()">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RestoreDefaultText</button>

            </div>

         </div>
      </div>
   </div>
<div class="row">

   <div class="col mt-3">
      <button class="btn btn-primary pull-right" id="btnAddEditIntroductionTemplate" type="button">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SaveContinue</button>
   </div>
</div>
