<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.CSICode<span class="text-danger">*</span></label>
      <input type="text" class="form-control" v-model="product.csiCode">

   </div>
</div>
<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.PriceCelling<span class="text-danger">*</span></label>
      <input type="number" class="form-control" v-model="product.priceCelling">

   </div>
</div>
<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.NameAr<span class="text-danger">*</span></label>
      <input type="text" class="form-control" v-model="product.nameAr" />

   </div>
</div>
<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.NameEn<span class="text-danger">*</span></label>
      <input type="text" class="form-control" v-model="product.nameEn" />
   </div>
</div>
<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.DescriptionAr<span class="text-danger">*</span></label>
      <textarea class="form-control" rows="4" v-model="product.descriptionAr"></textarea>

   </div>
</div>
<div class="col-sm-6 col-xs-12">
   <div class="form-group bmd-form-group p-0">
      <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.MandatoryListResources.DisplayInputs.DescriptionEn<span class="text-danger">*</span></label>
      <textarea class="form-control" rows="4" v-model="product.descriptionEn"></textarea>
   </div>
</div>

