@using MOF.Etimad.Monafasat.SharedKernel
@using res = MOF.Etimad.Monafasat.Resources

<div class="col-12">
   <div class="row">
      <div class="card">
         <div class="card-body">
            <div class="alert alert-warning" style="z-index:0">
               <div class="container">
                  <div class="alert-icon">
                     <i class="material-icons">warning</i> 
                  </div>
                  @MOF.Etimad.Monafasat.Resources.OfferResources.Messages.AttachAllFilesAsAdvertisement
               </div>
               <span class="badge badge-pill badge-warning"> </span>
            </div>
            <div id="attachmentDelete">
               <table class="table table-striped">
                  <caption>المرفقات</caption>
                  <thead style="background-color: #e0efe8;">
                     <tr>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.FileName </th>
                        <th scope="col">نوع المرفق</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr v-for="(tbl,index) in attachments">
                        <td data-label=" Milestone">
                           <a href="#" @@click="RedirectURL(index);return false;" target="_blank"> {{tbl.fileName}} </a>
                        </td>
                        @*<td data-label=" Quantity">
                              <span>  {{tbl.size }}</span>
                           </td>*@
                        <td data-label=" Quantity">
                           <span v-if="tbl.type==19">عرض فني</span>
                        </td>
                        <td data-label="Details">
                           @if (User.IsInRole(RoleNames.supplier) && Model.OfferStatusId == (int)Enums.OfferStatus.UnderEstablishing || Model.OfferStatusId == (int)Enums.OfferStatus.Established)
                           {
                              <div class="dropdown pull-right">
                                 <button @@click="DeleteAttach(index)" class="btn btn-round btn-sm btn-danger"><i class="material-icons">clear</i>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Delete</button>
                              </div>
                           }
                        </td>
                     </tr>
                  </tbody>
                  <tfoot>
                     @if (User.IsInRole(RoleNames.supplier) && Model.OfferStatusId == (int)Enums.OfferStatus.UnderEstablishing || Model.OfferStatusId == (int)Enums.OfferStatus.Established)
                     {
                        <tr>
                           <td colspan="3"> <button type="button" onclick="resetFileUpload()" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal2">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.UploadFile </button></td>
                        </tr>
                     }

                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
   <button type="button" class="btn btn-default  prev-tab" @@click="prevTab">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Previous</button>
   <button type="button" class="btn btn-primary  next-tab" @@click="nextTab" :disabled="isEdit">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Next</button>
   @if (User.IsInRole(RoleNames.supplier))
   {
      <a class="btn btn-outline-primary btn-link pull-right" href="/Tender/SupplierTenders">
         @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </a>
   }
   else if (User.IsInRole(RoleNames.OffersOppeningSecretary) && Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedRejected)
   {
      <button id="btnBackToOffers" class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '@Url.Action("OpenTenderOffers", "Tender",new { tenderIdString = @ViewBag.tenderIdEncrypt , actionName="reopen"})'">
         @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
   }
   else if (User.IsInRole(RoleNames.OffersOppeningSecretary) && Model.TenderStatusId != (int)Enums.TenderStatus.OffersOppenedRejected)
   {
      <button id="btnBackToOffers" class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '@Url.Action("OpenTenderOffers", "Tender",new { tenderIdString = @ViewBag.tenderIdEncrypt , actionName="details"})'">
         @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
   }
   else if (User.IsInRole(RoleNames.OffersOppeningManager) && Model.TenderStatusId == (int)Enums.TenderStatus.Approved)
   {
      <button class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '@Url.Action("OpenTenderOffers", "Tender", new { tenderIdString = @ViewBag.tenderIdEncrypt, actionName = "open" })'">
         @res.OfferResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
   }
   else if (User.IsInRole(RoleNames.OffersOppeningManager) && Model.TenderStatusId != (int)Enums.TenderStatus.Approved)
   {
      <button class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '@Url.Action("OpenTenderOffers", "Tender", new { tenderIdString = @ViewBag.tenderIdEncrypt, actionName = "review" })'">
         @res.OfferResources.DisplayInputs.BackButton
         <div class="ripple-container"></div>
      </button>
   }
</div>


