@using MOF.Etimad.Monafasat.SharedKernel;
@model MOF.Etimad.Monafasat.ViewModel.AllBasicTenderDataModel

@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CancelQualification;
   var subPurpose = Model != null && Model.Purpose != null ? (Model.Purpose.Length > 30 ? Model.Purpose.Substring(0, 30) + "<strong class='readMore'> ...</strong>" : Model.Purpose) : "";
   var purpose = Model.Purpose + "<strong class='readLess'> ...</strong>";
}
<style>
   .agencyLogo {
      border-radius: 100%;
      border: 2px solid #ccc;
      padding: 5px;
      width: 56px;
   }
</style>
<div class="row" id="basicDetials">
   <div class="col-12">
      <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainInformation<img class="pull-right agencyLogo" src="~/Etimad-UI/assets/imgs/capitol-building.png" alt="description"/></h4>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationType
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.TenderTypeName)
                  </span>
               </div>
            </div>
         </li>
         @if (Model.TenderTypeId == (int)Enums.TenderType.LimitedTender)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReasonForTenderTypeSelection
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.ReasonForLimitedTenderTypeName)
                     </span>
                  </div>
               </div>
            </li>
         }
         @if (Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReasonForTenderTypeSelection
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.ReasonForPurchaseTenderTypeName)
                     </span>
                  </div>
               </div>
            </li>
         }
         @if ((Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase && Model.ReasonForPurchaseTenderTypeId == (int)Enums.ReasonForPurchaseTenderType.Other) || (Model.TenderTypeId == (int)Enums.TenderType.LimitedTender && Model.ReasonForLimitedTenderTypeId == (int)Enums.ReasonForLimitedTenderType.Other))
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReasonForTenderTypeSelection
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.TenderTypeOtherSelectionReason)
                     </span>
                  </div>
               </div>
            </li>
         }
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.HasPrequalification
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.HasQualification ? MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Yes : MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.No)
                  </span>
               </div>
            </div>
         </li>
         @if (!(Model.TenderTypeId == (int)Enums.TenderType.CurrentTender || Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase || Model.TenderTypeId == (int)Enums.TenderType.LimitedTender) && Model.HasQualification)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PreQualification
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.PreQualificationName)
                     </span>
                  </div>
               </div>
            </li>
         }
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InvitationType
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.InvitationTypeName)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TechnicalCommittee
               </div>
               <div class="col-8 etd-item-info">
                  <span>@(Model.TechnicalOrganizationName) </span>
               </div>
            </div>
         </li>
         @if (!User.IsInRole(RoleNames.supplier) && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OpenOffersCommittee
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.OffersOpeningCommitteeName) </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckOffersCommittee
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.OffersCheckingCommitteeName) </span>
                  </div>
               </div>
            </li>
         }
         @if (!User.IsInRole(RoleNames.supplier) && Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectDirectPurchaseCommittee
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.DirectPurchaseCommitteeName) </span>
                  </div>
               </div>
            </li>
         }
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PublishedBy
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.CreatedBy)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationStatus
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.TenderStatusName)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Agency
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.AgencyName)
                  </span>
               </div>
            </div>
         </li>
         @if (Model.RemainingDays > 0 || Model.RemainingHours > 0 || Model.RemainingMins > 0)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RemainingTime
                  </div>
                  <div class="col-8 etd-item-info">
                     <span id="remainingTime">
                        <span class="badge badge-primary days">
                           @(Model.RemainingDays)
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Day
                        </span>
                        :<span class="badge badge-primary hours">
                           @(Model.RemainingHours)
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Hour
                        </span>
                        :<span class="badge badge-primary minute">
                           @(Model.RemainingMins)
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Minutes
                        </span>
                     </span>
                  </div>
               </div>
            </li>
         }
      </ul>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationNumber
               </div>
               <div class="col-8 etd-item-info">
                  <span>@(Model.ReferenceNumber)</span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationName
               </div>
               <div class="col-8 etd-item-info">
                  <span>@(Model.TenderName)</span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.TenderNumber)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderPurpose
               </div>
               <div class="col-8 etd-item-info">
                  <span id="subPurposSapn" style="display:block">
                     @Html.Raw(subPurpose)
                  </span>
                  <span id="purposeSpan" hidden="hidden" style="display:block">
                     @Html.Raw(purpose)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ConditionsBookletPrice
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @if (Model.ConditionsBookletPrice > 0)
                     {
                        @(Model.ConditionsBookletPrice) @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Riyal
                     }
                     else
                     {
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Free
                     }
                  </span>
               </div>
            </div>
         </li>
         @if (!User.IsInRole(RoleNames.supplier))
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EvaluationValue
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.EstimatedValue) </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EvaluationValueWritten
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.EstimatedValueString) </span>
                  </div>
               </div>
            </li>
         }
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OfferPresentationWay
               </div>
               <div class="col-8 etd-item-info">
                  <span>
                     @(Model.OfferPresentationWayName)
                  </span>
               </div>
            </div>
         </li>
         @if (Model.NeedInitialGuarantee)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InitialGuranteePresentationAddress
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.InitialGuaranteeAddress)
                     </span>
                  </div>
               </div>
            </li>
         }
         @if (!User.IsInRole(RoleNames.supplier))
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SamplesDeliveryAddress
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @if (Model.SupplierNeedSample.HasValue && Model.SupplierNeedSample.Value)
                        {
                           @(Model.SamplesDeliveryAddress)
                        }
                        else
                        {
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.NoSamplesRequired
                        }
                     </span>
                  </div>
               </div>
            </li>
            @if (!string.IsNullOrEmpty(Model.DeliveryDate))
            {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DeliveryDate
                  </div>
                  <div class="col-8 etd-item-info">
                     <span class="badge badge-info">@(Model.DeliveryDate) </span>
                  </div>
               </div>
            </li>
            }
         }
         @if (Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OpenOffersLocation
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.OffersOpeningAddress)
                     </span>
                  </div>
               </div>
            </li>
         }
         @if (User.IsInRole(RoleNames.supplier) && Model.SupplierNeedSample.HasValue && Model.SupplierNeedSample.Value)
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SamplesDeliveryAddress
                  </div>
                  <div class="col-8 etd-item-info">
                     <div style="color:gray!important">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SampleAddressWarning</div>
                     <span class="badge badge-info">@(Model.SamplesDeliveryAddress) </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DeliveryDate
                  </div>
                  <div class="col-8 etd-item-info">
                     <span class="badge badge-info">@(Model.DeliveryDate) </span>
                  </div>
               </div>
            </li>
         }
      </ul>
      <input type="hidden" id="lastOfferPresentationDate" value="@(Model.LastOfferPresentationDate.HasValue ? @Model.LastOfferPresentationDate.Value.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("en-US")) : "")" />
   </div>
</div>
