@model MOF.Etimad.Monafasat.ViewModel.VROTenderOffersModel
<div class="col-xs-12 modal-content-body" id="divRejectReason">
   <div class="form-group bmd-form-group">
      <label for="RejectionReason" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</label>
      <textarea class="form-control" id="txtRejectionReason" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason"></textarea>
      <div class="pull-left">
         <span style="display:none" class="bmd-help text-danger" id="txtRejectionReasonValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason</span>
      </div>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divSendToApproveMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckApproveRequestWillSent</lable>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divSendToApproveFinancialMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckApproveFinancialOffersRequestWillSent</lable>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divReopenMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.WillReopen</lable>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divReopenFinancialMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.WillReopenFinancialOfferCheck</lable>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divOpenCheckMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.VROConfirmOffersChecking</lable>
   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divOpenFinancialCheckMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.WillConfirmOpen</lable>
      <br />
      @if (!Model.isVRORelatedBranchCreated)
      {
         <input type="number" class="form-control" id="txtestimatedValue" name="estimatedValue" placeholder="@MOF.Etimad.Monafasat.Resources.CommunicationRequest.DisplayInputs.EstimatedValue" />
         <div class="pull-left">
            <span class="bmd-help text-danger" id="txtestimatedValueValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.EnterEstimatedValue</span>
         </div>
      }

   </div>
</div>
<div class="col-lg-12 col-sm-12 col-xs-12 modal-content-body" id="divApproveMessage">
   <div class="form-group bmd-form-group">
      <lable>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ConfrimCheckResults</lable>
   </div>
   <br />
</div>
<div class="col-lg-12 col-sm-12 col-xs-12" id="divConfirmApprove">
   <input type="text" class="form-control" id="txtverificationCode" name="verificationCode" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterVerificationCode" />
   <div class="">
      <span class="bmd-help text-danger position-relative" id="txtverificationCodeValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterVerificationCode</span>
   </div>


   <div  >
      <p id="divTimer" class="text-dark-green">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RemainingTime<span class=" text-danger" id="timer"></span></p>
   </div>
   
</div>
