<button type="button" class="btn btn-sm btn-primary m-1" name="button" id="btnResendVerificationCode"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ResendConfirmationCode</button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnOpenCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnOpenFinancialCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>

<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnSendTechnicalConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnReopenTechnicalConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnApproveTechnicalConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnRejectTechnicalConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>

<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnSendFinancialConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnReopenFinancialConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnApproveFinancialConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn  btn-primary btn-sm  modal-content-body" name="button" id="btnRejectFinancialConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>

<button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
