@using resDisplayInputs = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs
@using MOF.Etimad.Monafasat.SharedKernel

<a :href="detailsUrl(tender.tenderIdString)" class="dropdown-item"> <i class="material-icons">format_list_bulleted</i> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Details</a>
<a target="_blank"
   :href="openOffersRegistry(tender.tenderIdString)"
   v-if="tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingApproved)"
   class="dropdown-item">
   <i class="material-icons">library_books</i>@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.OffersRegisteryReport
</a>
<a target="_blank"
   :href="openOffersReport(tender.tenderIdString)"
   v-if="tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingApproved)"
   class="dropdown-item">
   <i class="material-icons">library_books</i>@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.OpenOffersReport
</a>
<a :href="suppliersReport(tender.tenderIdString)" class="dropdown-item">
   <i class="material-icons">library_books</i> @resDisplayInputs.AppliedSuppliersReport
</a>

@if (User.IsInRole(RoleNames.OffersOpeningAndCheckSecretary))
{
   <a :href="cancelLink(tender.tenderIdString)"
      v-if="((tender.tenderStatusId == @((int)Enums.TenderStatus.Approved)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersCheckingAndTechnicalEval)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingApproved) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingRejected)

         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROFinancialCheckingOpening)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingPending) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingRejected))

         && (tender.changeRequestedBy != vroSecretry
         || (tender.changeRequestedBy == vroSecretry && tender.cancelRequestStatus != @((int)Enums.ChangeStatusType.Rejected) && tender.cancelRequestStatus != @((int)Enums.ChangeStatusType.Pending))))" class="dropdown-item">
      <i class="material-icons">delete</i> @resDisplayInputs.CancelTender
   </a>
   <a :href="cancelLink(tender.tenderIdString)"
      v-if="((tender.tenderStatusId == @((int)Enums.TenderStatus.Approved)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersCheckingAndTechnicalEval)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingApproved) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingRejected)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROFinancialCheckingOpening) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingRejected))
         && tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == vroSecretry)" class="dropdown-item">
      <i class="material-icons">edit</i> @resDisplayInputs.Reopen
   </a>
}

@if (User.IsInRole(RoleNames.OffersOpeningAndCheckManager))
{
   <a :href="cancelLink(tender.tenderIdString)"
      v-if="((tender.tenderStatusId == @((int)Enums.TenderStatus.Approved)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersCheckingAndTechnicalEval)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingApproved) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersTechnicalCheckingRejected) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialChecking)
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROFinancialCheckingOpening) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROFinancialCheckingOpening) 
         || tender.tenderStatusId == @((int)Enums.TenderStatus.VROOffersFinancialCheckingRejected))
         && tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == vroSecretry)" class="dropdown-item">
      <i class="material-icons">delete_forever</i> @resDisplayInputs.CancelTenderAudit
   </a>
}


