@using MOF.Etimad.Monafasat.SharedKernel;
@{
    string tenderNameResString = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName;
    string tenderNumberResString = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber;
    string noDataResString = MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData;
    string notFound = MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotFound;
    string lastDateToReciveOffersResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.LastDateToReciveOffers;
    string lastEnqueriesDateRes = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate;
    string offersOpeningAppointmentResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.OffersOpeningAppointment;
    string count = MOF.Etimad.Monafasat.Resources.EnquiryResources.DisplayInputs.EnquiryCount;
    string acceptanceTypeNameResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.AcceptanceTypeName;
}
<div class="table-responsive">
   <table class="table table-striped" id="pendingEnquiriesGrid" aria-describedby="Pending Enquires Table">
      <thead>
         <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">@Html.Raw(tenderNameResString)</th>
            <th scope="col" class="text-center">@Html.Raw(tenderNumberResString)</th>  
            <th scope="col" class="text-center">@Html.Raw(lastEnqueriesDateRes)</th>
            <th scope="col" class="text-center">@Html.Raw(lastDateToReciveOffersResString)</th>
            <th scope="col" class="text-center">@Html.Raw(offersOpeningAppointmentResString)</th>
            <th scope="col" class="text-center">@Html.Raw(count)</th>
            <th scope="col" class="text-center">@Html.Raw(@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options)</th>
         </tr>
      </thead>
      <tbody v-if="pendingEnquiries && pendingEnquiries.length > 0">
         <tr v-for="(tender, $index) in pendingEnquiries">
            <td class="text-center" data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
            <td class="text-center" data-label="@Html.Raw(tenderNameResString)"> {{tender.tenderName}} </td>
            <td class="text-center" data-label="@Html.Raw(tenderNumberResString)"> {{tender.tenderNumber}} </td>
            <td class="text-center" data-label="@Html.Raw(lastEnqueriesDateRes)">{{tender.lastEnqueriesDate != null ?  tender.lastEnqueriesDate.split('T')[0] : "@Html.Raw(notFound)"  }}</td>
            <td class="text-center" data-label="@Html.Raw(lastDateToReciveOffersResString)"> {{tender.lastOfferPresentationDate != null ? tender.lastOfferPresentationDate.split('T')[0] : "@Html.Raw(notFound)" }} </td>
            <td class="text-center" data-label="@Html.Raw(offersOpeningAppointmentResString)"> {{tender.offersOpeningDate != null ? tender.offersOpeningDate.split('T')[0] : "@Html.Raw(notFound)" }} </td>
            <td class="text-center" data-label="@Html.Raw(count)"> {{tender.enquiriesCountForTechnical}} </td>
            <td class="text-center" data-label="@Html.Raw(@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options)">
               <a :href="reviewEnquiries(tender.tenderIdString)" class="btn btn-primary btn-sm">
                  <i class="material-icons">undo</i> @MOF.Etimad.Monafasat.Resources.EnquiryResources.DisplayInputs.EnquiryReview
               </a>
            </td>
         </tr>
      </tbody>
      <tbody v-else>
         <tr>
            <td align="center" style="text-align:center !important" colspan="7">
               <i class="text-primary material-icons" style="font-size:3rem">report</i>
               <br>
               @Html.Raw(noDataResString)
            </td>
         </tr>
      </tbody>
   </table>
   <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
</div>

