@using MOF.Etimad.Monafasat.SharedKernel;
@{
    string noDataResString = MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData;
    string totalCountResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.TotalCount;
    string countResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Count;
    string valueResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Value;
    string valueTotalResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.ValueTotal;
    string branchOrAgencyNameResString = MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.BranchOrAgencyName;
}
<div class=" collapse" id="SalesResult">
   <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label id="duration" for="publisher" class="label bmd-label-static" title="@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.ChoosePeriod" data-style="select-with-transition">@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.TimePeriod<span class="text-danger">*</span></label>
            <select data-live-search="false" name="Duration" class="selectpicker" data-style="select-with-transition" title="@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.ChoosePeriod" data-size="7">
               <option class="bs-title-option" value="">@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.ChoosePeriod</option>
               <option value="day"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Day</option>
               <option value="month"> @MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Month </option>
               <option value="sixmonths">@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.SixMonth</option>
               <option value=""> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.All</option>
            </select>
         </div>
      </div>
      
      @*<div class="col-md-6 col-sm-6 col-xs-12">
         <div class="form-group bmd-form-group">
            <label id="AgencyCode" for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.GovernmentEntity <span class="text-danger">*</span></label>
            <select id="AgencyCode" name="AgencyCode" data-live-search="false" class="selectpicker" data-style="select-with-transition" data-size="7">
               <option value="">
                  @MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.ChooseGovernmentEntity
               </option>
               <option value="1">
                  @MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Entity1
               </option>
               <option value="2">
                  @MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Entity2
               </option>
               <option value="3">
                  @MOF.Etimad.Monafasat.Resources.Dashboard.DisplayInputs.Entity3
               </option>
            </select>
         </div>
      </div>*@
      <div class="input-group-prepend pull-left etd-search-btn">
         <button type="button" class="btn btn-primary btn-block text-center btn-just-icon" id="salesSearchBtn" name="button" @@click="salesResult">
            <i class="material-icons">search</i>
         </button>
      </div>

   </div>
</div>
<div class="row" id="tt">
   <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="table-responsive ">
         <table class="table table-striped" id="SalesSummaryTable" aria-describedby="sales summary table">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col"> @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.BranchName</th>
                  <th scope="col">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Count</th>
                  <th scope="col">@Html.Raw(valueResString)</th>
               </tr>
            </thead>
            <tbody v-if="SalesSummary && SalesSummary.length > 0">
               <tr v-for="(item, $index) in SalesSummary">
                  <td data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
                  <td data-label="@Html.Raw(branchOrAgencyNameResString)"> {{item.agencyName}} </td>
                  <td data-label="@Html.Raw(countResString)"> {{item.count}} </td>
                  <td data-label="@Html.Raw(valueResString)"> {{item.price}} </td>
               </tr>
            </tbody>
            <tbody v-else>
               <tr>
                  <td align="center" style="text-align:center !important" colspan="5">
                     <i class="text-primary material-icons" style="font-size:3rem">report</i>
                     <br>
                     @Html.Raw(noDataResString)
                  </td>
               </tr>
            </tbody>
         </table>
         <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
      </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list" style="display:none;">
         <li class="list-group-item">
            <div class="row">
               <div class="col-12 etd-item-title text-center">
                  @Html.Raw(totalCountResString)
               </div>
               <div class="col-12 etd-item-info text-center">
                  <span id="salesTotal">0</span>
               </div>
            </div>
         </li>
      </ul>
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-12 etd-item-title text-center">
                  @Html.Raw(valueTotalResString)
               </div>
               <div class="col-12 etd-item-info text-center">
                  <span id="salesPriceTotal">0</span>
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>
