@model MOF.Etimad.Monafasat.ViewModel.TenderDatesModel
@using MOF.Etimad.Monafasat.ViewModel;
@using MOF.Etimad.Monafasat.SharedKernel;
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails;
   var hasTenderRevisionDate = Model.TenderRevisionDate != null ? true : false;
   TenderRevisionDateModel tenderRevisionDate = Model.TenderRevisionDate;
}
<div class="col-md-12 col-sm-12 col-xs-12" style="padding-left:10px;">
   <ul class="list-group form-details-list">
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
            </div>
            <div class="col-8 etd-item-info">
               <span>@(Model.TenderName)</span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>@(Model.TenderNumber)</span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>@(Model.ReferenceNumber)</span>
            </div>
         </div>
      </li>
   </ul>
</div>
<div class="row" id="offerDetials">
   <div class="col-12">
      <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DetailsStep</h4>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate
               </div>
               <div class="col-8 etd-item-info">
                  @if (Model.LastEnqueriesDate.HasValue)
                  {
                     <span>
                        @(Model.LastEnqueriesDate.ToGregorianDate("dd/MM/yyyy"))
                     </span>
                     <span>
                        @(Model.LastEnqueriesDate.ToHijriDate("dd/MM/yyyy"))
                     </span>
                  }
                  <span style="padding:0 5px;">
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastOfferPresentationDate
               </div>
               <div class="col-8 etd-item-info">
                  @if (Model.LastOfferPresentationDate.HasValue)
                  {
                     <span>
                        @(Model.LastOfferPresentationDate.ToGregorianDate("dd/MM/yyyy"))
                     </span>
                     <span>
                        @(Model.LastOfferPresentationDate.ToHijriDate("dd/MM/yyyy"))
                     </span>
                  }
                  <span style="padding:0 5px;">
                     @(Model.LastOfferPresentationTime)
                  </span>
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersOpeningDate
               </div>
               <div class="col-8 etd-item-info">
                  @if (Model.OffersOpeningDate.HasValue)
                  {
                     <span>
                        @(Model.OffersOpeningDate.ToGregorianDate("dd/MM/yyyy"))
                     </span>
                     <span>
                        @(Model.OffersOpeningDate.ToHijriDate("dd/MM/yyyy"))
                     </span>
                     <span style="padding:0 5px;">
                        @(Model.OffersOpeningTime)
                     </span>
                  }
                  else
                  {
                     <span> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotExist </span>
                  }
               </div>
            </div>
         </li>
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersCheckingDate
               </div>
               <div class="col-8 etd-item-info">
                  @if (Model.OffersCheckingDate.HasValue)
                  {
                     <span>
                        @(Model.OffersCheckingDate.ToGregorianDate("dd/MM/yyyy"))
                     </span>
                     <span>
                        @(Model.OffersCheckingDate.ToHijriDate("dd/MM/yyyy"))
                     </span>
                     <span style="padding:0 5px;">
                        @(Model.OffersCheckingTime)
                     </span>
                  }
                  else
                  {
                     <span> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotExist </span>
                  }

               </div>
            </div>
         </li>
      </ul>
   </div>
   @if (Model != null && Model.TenderRevisionDate != null)
   {
      <div class="col-12">
         <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ExtendDates</h4>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (tenderRevisionDate.LastEnqueriesDate.HasValue)
                     {
                        <span>
                           @(tenderRevisionDate.LastEnqueriesDateString)
                        </span>
                        <span>
                           @(tenderRevisionDate.LastEnqueriesDateHijriString)
                        </span>
                     }
                     <span style="padding:0 5px;">
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastOfferPresentationDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (tenderRevisionDate.LastOfferPresentationDate.HasValue)
                     {
                        <span>
                           @(tenderRevisionDate.LastOfferPresentationDateString)
                        </span>
                        <span>
                           @(tenderRevisionDate.LastOfferPresentationDateHijriString)
                        </span>
                     }
                     <span style="padding:0 5px;">
                        @(tenderRevisionDate.LastOfferPresentationTime)
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersOpeningDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (tenderRevisionDate.OffersOpeningDate.HasValue)
                     {
                        <span>
                           @(tenderRevisionDate.OffersOpeningDateString)
                        </span>
                        <span>
                           @(tenderRevisionDate.OffersOpeningDateHijriString)
                        </span>
                        <span style="padding:0 5px;">
                           @(tenderRevisionDate.OffersOpeningTime)
                        </span>
                     }
                     else
                     {
                        <span> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotExist </span>
                     }
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersCheckingDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (tenderRevisionDate.OffersCheckingDate.HasValue)
                     {
                        <span>
                           @(tenderRevisionDate.OffersCheckingDateString)
                        </span>
                        <span>
                           @(tenderRevisionDate.OffersCheckingDateHijriString)
                        </span>
                        <span style="padding:0 5px;">
                           @(tenderRevisionDate.OffersCheckingTime)
                        </span>
                     }
                     else
                     {
                        <span> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NotExist </span>
                     }
                  </div>
               </div>
            </li>
         </ul>
      </div>
   }
</div>
<div class="row" id="datesApproval">
   @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.ExtendDates && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.New && (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.PurshaseSpecialist)))
   {
      <div class="col-12 ">
         <div class="form-group bmd-form-group">
            <button type="button" class="btn btn-primary pull-left" name="button" onclick="btnSendExtendDatesClick()" id="btnSendExtendDatesToApprove">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SendChangeForApprovement</button>

            <button type="button" id="btnCancelExtendDate" class="btn btn-danger">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CloseChange
            </button>
         </div>
      </div>
   }
   @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.ExtendDates && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.Pending && (User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.EtimadOfficer)))
   {
      <div class="col-12 ">
         <div class="form-group bmd-form-group">
            <button type="button" class="btn btn-primary pull-left" name="button" id="btnExtendDateApprrove" data-toggle="modal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ApproveChange</button>
            <button type="button" class="btn btn-danger pull-left" name="button" id="btnExtendDateReject" data-toggle="modal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectChange</button>
         </div>
      </div>
   }
   @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.ExtendDates && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.Rejected && (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.PurshaseSpecialist)))
   {
      <div class="col-12 ">
         <h3>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</h3>
         <p>@(Model.TenderRevisionDate.RejectionReason)</p>
         <div class="form-group bmd-form-group">
            <button type="button" id="btnCancelExtendDate" class="btn btn-danger" style="margin-top:30px">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CloseChange
            </button>
         </div>
      </div>
   }
</div>

<script>
   $("#btnExtendDateApprrove").on("click", function () {
      $('#extendDatesModal').modal({
         backdrop: 'static',
         keyboard: false
      })
      document.getElementById('timerExtendDates').innerHTML = 05 + ":" + 00;
      startTimerExtendDates();
      $("#btnResendVerificationCodeExtendDates").prop("disabled", true);
      createVerificationCode();
      $("#extendDatesModal").modal("show");
      $("#divVerficationCodeExtendDates").removeClass("d-none");
      $("#extendDateApprovalConfirm").removeClass("d-none");
      $("#divExtendDatesRejectReason").addClass("d-none");
      $("#extendDateRejectConfirm").addClass("d-none");
      $("#btnResendVerificationCodeExtendDates").removeClass("d-none");
   });
   $("#btnExtendDateReject").on("click", function () {
      $("#extendDatesModal").modal("show");
      $("#divExtendDatesRejectReason").removeClass("d-none");
      $("#extendDateRejectConfirm").removeClass("d-none");
      $("#divVerficationCodeExtendDates").addClass("d-none");
      $("#extendDateApprovalConfirm").addClass("d-none");
      $("#btnResendVerificationCodeExtendDates").addClass("d-none");
   });
   function btnSendExtendDatesClick() {

      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("SendUpdateDatesToApproveAsync", "Tender")',
         {
            tenderIdString: '@Model.TenderIdString',
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $('#btnSendExtendDatesToApprove').attr('disabled', true);
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ChangeRequestSentToApproval)', alertMessageType.Success);
            setTimeout(function () {
               window.location = '@Url.Action("Index", "Tender")';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
   }
   ///---------- اغلاق التعديل-------------------------
   $('#btnCancelExtendDate').click(function () {
      // sam sam at Qtable :D
      $.post('@Url.Action("CancelTenderExtendDatesAsync", "Tender")',
         {
            tenderIdString: '@Model.TenderIdString',
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $('#btnCancelExtendDate').attr('disabled', true);
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ChangeRequestCanceled)', alertMessageType.Success);
            setTimeout(function () {
               window.location = '@Url.Action("Index", "Tender")';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
   });
   function extendDateRejectConfirmClick() {
      var rejectionReasonValue = $.trim($("#txtRejectionReasonExtendDate").val());
      if (rejectionReasonValue == '') {
         $("#txtExtendDateRejectionReasonValidation").show()
         return false;
      }
      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("RejectTenderExtendDateAsync", "Tender")',
         {
            tenderIdString: '@Model.TenderIdString',
            rejectionReason: rejectionReasonValue,
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#extendDatesModal").modal('hide');
            $('#btnExtendDateApprrove').attr('disabled', true);
            $('#btnExtendDateReject').attr('disabled', true);
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ChangeRequestRejected)', alertMessageType.Success);
            setTimeout(function () {
               window.location = '@Url.Action("Index", "Tender")';
            }, 1000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#extendDatesModal").modal('hide');
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
   }
   //function startTimerExtendDates() {
   //   var presentTime = document.getElementById('timerExtendDates').innerHTML;
   //   var timeArray = presentTime.split(/[:]+/);
   //   var m = timeArray[0];
   //   var s = checkSecond((timeArray[1] - 1));
   //   if (s == 59) { m = m - 1 }
   //   document.getElementById('timerExtendDates').innerHTML = m + ":" + s;
   //   var myVar = setTimeout(startTimerExtendDates, 1000);
   //   checkTimeExtendDates(m, s, myVar);
   //   if (m < 0 && s > 0) {
   //      document.getElementById('timerExtendDates').innerHTML = "0:00";
   //      return false;
   //   }
   //}
   var myVar;
   function startTimerExtendDates() {
      clearTimeout(myVar);
      var presentTime = document.getElementById('timerExtendDates').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if (s == 59) { m = m - 1 }
      document.getElementById('timerExtendDates').innerHTML = m + ":" + s;
      myVar = setTimeout(startTimerExtendDates, 1000);
      checkTimeExtendDates(m, s, myVar);
      if (m < 0 && s > 0) {
         document.getElementById('timerExtendDates').innerHTML = "0:00";
         return false;
      }
   }
   function checkSecond(sec) {
      if (sec < 10 && sec >= 0) { sec = "0" + sec }; // add zero in front of numbers < 10
      if (sec < 0) { sec = "59" };
      return sec;
   }
   function checkTimeExtendDates(min, sec, myVar) {
      if (min <= 0 && sec <= 0) {
         $("#btnResendVerificationCodeExtendDates").prop("disabled", false);
         clearTimeout(myVar)
      }; // add zero in front of numbers < 10
      return sec;
   }
   function createVerificationCode() {
      $.post('/Tender/CreateVerificationCode', { tenderIdString: '@Model.TenderIdString', __RequestVerificationToken: token }).fail(function (error) {
         if (error.responseText != "Logout") {
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         }
         else if (error.responseText == "Logout") {
            window.location = '/account/logout'; return;
         }
         $("#changeRequestModal").modal('hide');
         $("#myModal").modal('hide');
      });
   }
   function extendDateApprovalConfirmClick() {
      var verificationCode = $("#txtVerificationCodeExtendDate").val();
      if (verificationCode == '') {
         $("#txtVerificationCodeExtendDateValidation").show();
         return false;
      }
      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("ApproveTenderExtendDatesChangeRequestAsync", "Tender")',
         {
            tenderIdString: '@Model.TenderIdString',
            verificationCode: verificationCode,
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $('#extendDatesModal').modal('hide');
            $('#btnExtendDateReject').prop("disabled", true);
            $('#btnExtendDateApprrove').prop("disabled", true);
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ChangeRequestApproved)', alertMessageType.Success);
            setTimeout(function () {
               window.location = '@Url.Action("Index", "Tender")';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#extendDatesModal").modal('hide');
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
   }


    $("#btnResendVerificationCodeExtendDates").on("click", function () {
      $("#btnResendVerificationCodeExtendDates").prop("disabled", true);
      document.getElementById('timerExtendDates').innerHTML = 05 + ":" + 00;
      createVerificationCode();
      startTimerExtendDates();
   });
</script>
