<div class="animated  delay-2s col-md-12 col-sm-12 col-xs-12" id="cardsresult">
   <div class="row" v-if="announcements && announcements.length > 0">
      <div class="monafasa-item col-xl-4 col-lg-4 col-md-6  col-sm-12 col-xs-12" v-for="(br, $index) in announcements">
         <div class="card">
            <div class="card-body">
               <div class="dropdown pull-right" v-if="'@User.UserRole()' == '@(RoleNames.DataEntry)' && br.statusId == '@((int)Enums.AnnouncementStatus.UnderCreation)'">
                  <button class="btn btn-primary btn-link btn-just-icon" title="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Options" data-toggle="dropdown" aria-expanded="false">
                     <i class="material-icons">more_vert</i> 
                     <div class="ripple-container"></div>
                  </button>
                  <div class="dropdown-menu dropdown-menu-left" x-placement="bottom-end">
                     <a @@click="EditAnnouncement(br.announcementIdString)" class="dropdown-item">
                        <i class="material-icons">edit</i> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Edit
                     </a>
                     <a class="dropdown-item" @@click="ShowDeleteModal(br.announcementIdString)">
                        <i class="material-icons">delete</i> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Delete
                     </a>
                  </div>
               </div>
               <h5 class="text-dark-green m-0 p-0" style="overflow:hidden">
                  <a class="text-primary h5" style=" margin-right: 22px;display: table;" v-if="br.announcementName.length > 100" :href="detailsUrl(br.announcementIdString)">{{br.announcementName.substring(0, 100) + ' ...'}}</a>
                  <a class="text-primary h5" style=" margin-right: 22px;display: table;" v-else :href="detailsUrl(br.announcementIdString)">{{br.announcementName}}</a>
               </h5>
               <div class="row">
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementDetails
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementDetails}}
                              </span>
                           </div>
                        </div>
                     </li>
                     @if (User.IsInRole(RoleNames.MonafasatAccountManager))
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AgencyName
                              </div>
                              <div class="col-8 etd-item-info">
                                 <span>
                                    {{br.agencyName}}
                                 </span>
                              </div>
                           </div>
                        </li>
                     }
                     @if (User.IsInRole(RoleNames.MonafasatAccountManager) || User.IsInRole(RoleNames.MonafasatAdmin))
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AgencyBranch
                              </div>
                              <div class="col-8 etd-item-info">
                                 <span>
                                    {{br.branchName}}
                                 </span>
                              </div>
                           </div>
                        </li>
                     }
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.TenderTypeName
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.tenderTypeString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementStatus
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementStatusString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.PublishDate
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.publishDateString}}<br />
                                 {{br.publishDateHijriString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.LastJoinDate
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.lastApplyingRequestsDateString}}<br />
                                 {{br.lastApplyingRequestsHijriDateString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementPeriod
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementPeriod}}
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            @await Html.PartialAsync("_AllAgencyCardFooterActions.cshtml")
         </div>
      </div>
   </div>
   <div class="row " v-else>
      <div class="col-12 text-center">
         @await Html.PartialAsync("~/Views/Shared/_NoData.cshtml")
      </div>
   </div>
   <div class="col-12 m-5 m-auto">
      <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
   </div>
</div>
