<div class="animated delay-2s col-md-12 col-sm-12 col-xs-12" id="cardsresult">
   <div class="row" v-if="announcements && announcements.length > 0">
      <div class="monafasa-item col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12" v-for="(br, $index) in announcements">
         <div class="card">
            <div class="card-body">
               <h5 class="card-category card-category-social text-primary">
                  <span class="d-inline-block" style="padding: 0 5px;">
                     <a class="text-primary h5" style="margin-right: 22px;display: table;" v-if="br.announcementName.length > 100" :href="detailsUrl(br.announcementIdString)">{{br.announcementName.substring(0, 100) + ' ...'}}</a>
                     <a class="text-primary h5" style="margin-right: 22px;display: table;" v-else :href="detailsUrl(br.announcementIdString)">{{br.announcementName}}</a>
                  </span>
               </h5>
               <div class="clearfix"></div>
               <div class="row">
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.TenderTypeName
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementTypeName}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.ReferenceNumber
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.referenceNumber}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AgencyName
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.agencyName}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.Status
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementStatusName}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.RequestStatus
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.joinRequestStatusName}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.PublishDate
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.publishDateString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.LastJoinDate
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.lastApplyDateString}}
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementPeriod
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 {{br.announcementPeriod}}
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            @Html.Partial("_SupplierCardFooterActions.cshtml")
         </div>
      </div>
   </div>
   <div class="row " v-else>
      <div class="col-12 text-center">
         @Html.Partial("~/Views/Shared/_NoData.cshtml")
      </div>
   </div>
   <div class="col-12 m-5 m-auto">
      <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
   </div>
</div>
