<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnRejectConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnApproveConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSendConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnReopenConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnOpenCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSendBiddingConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSaveCheckingDate"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSaveFinancialCheckingDate"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnResendVerificationCode">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ResendConfirmationCode</button>
@*Tehcnical Check Actions*@
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSendToTechnicalCheckApproveConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmTechnicalCheckApprove">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmTechnicalCheckReject">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnReOpenTechnicalCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm </button>
@*End Technical Check Action*@

@*Financail Check Actions*@
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnEndOpenFinantialOffersStageConfirmation">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnMoveTenderToFinancialCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnSendToFinancialApproveConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmFinancailCheckApprove">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmFinancailCheckReject">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnReOpenFinancailCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmFinancailOpeningApprove">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnConfirmFinancailOpeningReject">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm </button>
<button type="button" class="btn btn-sm btn-primary ModalElement" name="button" id="btnReOpenFinancailOpeningConfirmation">  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm </button>
@*End Financail Check Action*@
<button type="button" class="btn btn-sm btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
