@using MOF.Etimad.Monafasat.SharedKernel;

@using System
@model MOF.Etimad.Monafasat.ViewModel.OfferDetailsForCheckingModel

@{
   Layout = "~/Views/Shared/_Layout-ETD.cshtml";
   ViewData["Title"] = @res.OfferResources.DisplayInputs.OfferDataDetails;
}

@using res = MOF.Etimad.Monafasat.Resources

<div id="app">
   @Html.AntiForgeryToken()
   <input type="hidden" id="hdnisNewBank" value="1" />
   <input type="hidden" id="hdnisNewClassification" value="1" />
   <input type="hidden" asp-for="OfferIdString" name="OfferIdString" id="hdOfferId" />

   @section modalTitle{
      @res.OfferResources.DisplayInputs.BankGuaranteeLetter
   }
   @section modalContent{

      <div class="" id="divBankGuarantee">
         <div class="row">

            <div class="  col-sm-6 col-xs-12">

               <div class="form-group bmd-form-group">
                  <label class="label bmd-label-static"> @res.OfferResources.DisplayInputs.BankGuaranteeStatus</label>
                  <div class="form-check">
                     <label class="form-check-label">
                        <input name="guaranteeStatus" class="form-check-input" checked type="radio" id="guaranteeStatus1" value="true">
                        @res.OfferResources.DisplayInputs.Valid
                        <span class="circle">
                           <span class="check"></span>
                        </span>
                     </label>
                     <label class="form-check-label">
                        <input name="guaranteeStatus" class="form-check-input" type="radio" id="guaranteeStatus2" value="false">
                        @res.OfferResources.DisplayInputs.Invalid
                        <span class="circle">
                           <span class="check"></span>
                        </span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="  col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label class="label bmd-label-static">@res.OfferResources.DisplayInputs.BankGuaranteeNumber</label><span class="text-danger">*</span>
                  <input class="form-control" name="guaranteeNumber" required id="tb_GuaranteeNUmber" />
                  <span id="vdGuaranteeNUmber" class="bmd-help text-danger">@res.OfferResources.ErrorMessages.EnterGuaranteeNumber </span>
               </div>
            </div>
            <div class="col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label label class="label bmd-label-static"> @res.OfferResources.DisplayInputs.GuaranteeBankName</label><span class="text-danger">*</span>
                  <select asp-for="Bank" id="bankName" name="bankName" required data-live-search="true" title="@res.SharedResources.DisplayInputs.Select" class="selectpicker"
                          asp-items="@(new SelectList(Model.Banks, "BankId", "Name"))" data-style="select-with-transition" data-size="7">
                     <option value="">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Select</option>
                  </select>
                  <span id="vdbankName" class="bmd-help text-danger">@res.OfferResources.ErrorMessages.SelectBank</span>
               </div>
            </div>
            <div class="  col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label class="label bmd-label-static"> @res.OfferResources.DisplayInputs.GuaranteeValue </label><span class="text-danger">*</span>
                  <input type="number" min="0" class="form-control" required id="tb_GuaranteeValue" value="">
                  <span id="vdGuaranteeValue" class="bmd-help text-danger">@res.OfferResources.ErrorMessages.EnterBankGuaranteeValue</span>
               </div>
            </div>
            <div class="  col-sm-6 col-xs-12">
               <div class="form-group bmd-form-group">
                  <label class="label bmd-label-static">@res.OfferResources.DisplayInputs.BankGuaranteeDays</label>
                  <input type="number" min="0" class="form-control" id="tb_GuaranteeDays" value="">
               </div>
            </div>
            <div class="  col-sm-6 col-xs-12">
               <div class="form-group form-check etd-calendar-group">
                  <label for="datepick" class="label bmd-label-static"> @res.OfferResources.DisplayInputs.GuaranteeStartDate</label>
                  <input type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="tb_GuaranteeStartDate" name="guaranteeStartDate" placeholder="" value="">
                  <span id="vdDates" class="bmd-help text-danger">@res.OfferResources.ErrorMessages.StartDateGreaterThanEndDate</span>
               </div>
            </div>
            <div class="  col-sm-6 col-xs-12">
               <div class="form-group form-check etd-calendar-group">
                  <label for="datepick" class="label bmd-label-static">@res.OfferResources.DisplayInputs.GuaranteeEndDate</label>
                  <input type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="tb_GuaranteeEndDate" name="guaranteeEndDate" placeholder="" value="">
               </div>
            </div>
         </div>
      </div>
   }
   @section modalButtons{
      <button class="btn btn-primary btn-sm" type="button"
              id="uploadGuaranteexxx" onclick="AddBankGuarantee()">
         @res.SharedResources.DisplayInputs.Save
      </button>
      <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@res.SharedResources.DisplayInputs.Cancel</button>
   }
   @Html.Partial("~/Views/Offer/CheckOffer/Partials/_OfferFinantcialDetailsDirectPurchase.cshtml")
   @Html.Partial("~/Views/Offer/CheckOffer/Partials/_OffersFinantialChecking.cshtml")
   @if (User.IsInRole(RoleNames.OffersPurchaseSecretary) && Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed))
   {
      <div class="row">
         <div class="col">
            <button type="button" id="btnSubmit" class="btn btn-primary" @(User.IsInRole(RoleNames.OffersPurchaseManager) ? " style=\"display:none;\"" : "")>
               @res.SharedResources.DisplayInputs.Save
            </button>
         </div>
         <div class="clearfix"></div>
      </div>
   }
</div>

@section scripts
   {
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.min.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />
   <script>

      var isClassEdit = 0;
      var classEditIndex ;

      var isGuaranteeEdit = 0;
      var GuaranteeEditIndex ;

      var guaranteesList = [];
         var classificationsList = [];
         @if (Model != null && Model.BankGuaranteeFiles != null)
   {
@:guaranteesList = @Html.Raw(Json.Serialize(Model.BankGuaranteeFiles));
@: classificationsList = @Html.Raw(Json.Serialize(Model.SpecificationsFiles));
}
      var vueObj = new Vue({
         el: "#app",
         data: {
            BankGuarantees: guaranteesList,
            Specifications: classificationsList
         },
         methods: {
            deleteGuarantee: function (im) {
               this.BankGuarantees.splice(im, 1);
            },
            deleteSpecification: function (im) {

               this.Specifications.splice(im, 1);
            },
            AddNewSpecification: function () {
               isClassEdit = 0;
            },
            AddNewGuarantee: function () {
               isGuaranteeEdit = 0;
            },
            editSpecification: function (im) {
               var ClassObj = this.Specifications[im];
               isClassEdit = 1;
               classEditIndex = im;

               if (ClassObj.isForApplier == true)
                  $("#isForApplier1").prop("checked", true);
               else
                  $("#isForApplier2").prop("checked", true);


               $('#specificationDegree').val(ClassObj.degree);

               $('#ConstructionWorklst').val(ClassObj.constructionWorkId);

               $('#MaintenanceWorklst').val(ClassObj.maintenanceRunningWorkId);

               $("#specificationDegree, #MaintenanceWorklst, #ConstructionWorklst").selectpicker("refresh");
            }
            ,
            editGuarantee: function (im) {
               var bankObj = this.BankGuarantees[im];
               isGuaranteeEdit = 1;
               GuaranteeEditIndex = im;
               if (bankObj.isBankGuaranteeValid == true)
                  $("#guaranteeStatus1").prop("checked", true);
               else
                  $("#guaranteeStatus2").prop("checked", true);
               $('#tb_GuaranteeNUmber').val(bankObj.guaranteeNumber);
               $('#tb_GuaranteeValue').val(bankObj.amount);
               $('#tb_GuaranteeDays').val(bankObj.guaranteeDays);
               $('#bankName').val(bankObj.bankId);
               $('#tb_GuaranteeStartDate').val(bankObj.guaranteeStartDateDisplay);
               $('#tb_GuaranteeEndDate').val(bankObj.guaranteeEndDateDisplay);

               $("#bankName").selectpicker("refresh");

            }
         }
      });


      $(document).ready(function () {
         if ('@Model.FinantialOfferStatusId' == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.AcceptedOffer) || $('#finantialOfferStatusId option:selected').val() == "") {
            $('#divFinantialRejectionReason').attr('hidden', true);
         }
         $('.selectpicker').selectpicker('refresh');
         if (@User.IsInRole(RoleNames.OffersPurchaseManager).ToString().ToLower() == true || @((User.IsInRole(RoleNames.OffersPurchaseSecretary) && Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking).ToString().ToLower()) == false && @((Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed).ToString().ToLower()) == false) {
            $("input").attr('disabled', true);
            $('.check').attr("disabled", true);
         }
         $("#btnSubmit").click(function () {
            if ($('#finantialOfferStatusId').val() == "") {
               $("#spanOfferAcceptance").show()
               return false;
            }
            if ($('#finantialOfferStatusId').val() == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.RejectedOffer) && $('#txtFinantialRejectionReason').val() == "") {
               $("#RejectionReasonSpan").show()
               return false;
            }
            if ($('#finantialOfferStatusId').val() == "" && $('#txtFinantialRejectionReason').val() == "") {
               $("#RejectionReasonSpan").show()
               $("#spanOfferAcceptance").show()
               return false;
            }
            var obj = {};
            obj.FinantialOfferLetterNumber = $("#OfferLetterNumber").val();
            obj.FinantialOfferLetterDate = $("#offerLetterDate").val();
            obj.CombinedIdString = $("#CombinedIdString").val();
            obj.BankGuaranteeFiles = vueObj.BankGuarantees;
            obj.IsFinaintialOfferLetterAttached = $("input[name='IsFinaintialOfferLetterAttached']:checked").val();
            obj.IsFinantialOfferLetterCopyAttached = $("input[name='IsFinantialOfferLetterCopyAttached']:checked").val();
            obj.IsBankGuaranteeAttached = $("input[name='IsBankGuaranteeAttached']:checked").val();
            obj.FinantialOfferStatusId = $("#finantialOfferStatusId").val();
            obj.FinantialRejectionReason = $("#txtFinantialRejectionReason").val();
            obj.FinantialNotes = $("#txtFinantialNotes").val();
            obj.OfferIdString = $('#hdOfferId').val();
            var token = $('input[name=__RequestVerificationToken]').val();
            $('#LoadingSite').fadeIn();
            $.post("/Offer/DirectPurchaseFinancialChecking", {
               model: obj, __RequestVerificationToken: token
            }).done(function () {
               $('#LoadingSite').fadeOut();
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.DataSaved)', 'success')
               setTimeout(function () {
                  window.location = "/Tender/CheckDirectPurchaseOffers?tenderIdString=@Model.TenderIdString";
               }, 2000);
            }).fail(function (error) {
               $('#LoadingSite').fadeOut();
               if (error.responseText != "Logout") {
                  AlertFun(error.responseJSON.message, alertMessageType.Danger);
               }
               else if (error.responseText == "Logout") {
                  window.location = '/account/logout'; return;
               }
            });
         });
         $("#finantialOfferStatusId").change(function () {
            var selectedValue = $('#finantialOfferStatusId option:selected').val();
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.RejectedOffer)) {
               $('#divFinantialRejectionReason').attr('hidden', false);
               $("#spanOfferAcceptance").hide()
            }
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.AcceptedOffer) || selectedValue == "") {
               $('#divFinantialRejectionReason').attr('hidden', true);
               $('#txtFinantialRejectionReason').val(null);
               $("#spanOfferAcceptance").hide()
            }
         });
         function isValidForm() {
            var flag = 1;
            if (vueObj.BankGuarantees.length == 0) {
               $('#txtGuaranteesValidation').show();
               flag = flag * 0;
            }
            if (vueObj.Specifications.length == 0) {
               $('#txtSpecificationsValidation').show();
               flag = flag * 0;
            }
            if (flag == 0)
               return false;

            return true;
         }
      });

      function AddBankGuarantee() {
         if ($('#tb_GuaranteeNUmber').val().trim() == "") {
            $('#vdGuaranteeNUmber').show();
            return false;
         }
         if ($('#bankName').val() == "") {
            $('#vdbankName').show();
            return false;
         }

         if ($('#tb_GuaranteeValue').val().trim() == "") {
            $('#vdGuaranteeValue').show();
            return false;
         }
         var bankObj = {};
         bankObj.isBankGuaranteeValid = $("input[name='guaranteeStatus']:checked").val();
         bankObj.isBankGuaranteeValidString = $("input[name='guaranteeStatus']:checked").parent('label').text();
         bankObj.guaranteeNumber = $('#tb_GuaranteeNUmber').val();
         bankObj.amount = $('#tb_GuaranteeValue').val();
         bankObj.guaranteeDays = $('#tb_GuaranteeDays').val();
         bankObj.bankId = $('#bankName option:selected').val();
         bankObj.bankName = $('#bankName option:selected').text();
         bankObj.guaranteeEndDate = $('#tb_GuaranteeEndDate').val();
         var startDate = "";
         var endDate = "";
         bankObj.guaranteeStartDate = $('#tb_GuaranteeStartDate').val();
         bankObj.guaranteeStartDateDisplay = $('#tb_GuaranteeStartDate').val();
         if ($("#tb_GuaranteeEndDate").val() != "") {
            if ($('#cb_tb_GuaranteeEndDate').is(':checked')) {
               var x = $("#tb_GuaranteeEndDate").val().split('/');
               endDate = x[1] + '/' + x[0] + '/'+x[2];
            }
            else {
               endDate = convertUmmalquraToGregorian($("#tb_GuaranteeEndDate").val());
            }
         }
         if ($("#tb_GuaranteeStartDate").val() != "") {
            if ($('#cb_tb_GuaranteeStartDate').is(':checked')) {
               var x = $("#tb_GuaranteeStartDate").val().split('/');
               startDate = x[1] + '/' + x[0] + '/' + x[2];
            }
            else {
               startDate = convertUmmalquraToGregorian($("#tb_GuaranteeStartDate").val());
            }
         }

         if (new Date(startDate) > new Date(endDate)) {
            $('#vdDates').show();
            return false;
         }
         bankObj.guaranteeEndDate = $('#tb_GuaranteeEndDate').val();
         bankObj.guaranteeEndDateDisplay = $('#tb_GuaranteeEndDate').val();
         vueObj.BankGuarantees.push(bankObj);
         if (isGuaranteeEdit == 1) {
            vueObj.BankGuarantees.splice(GuaranteeEditIndex, 1);
         }
         $('#vdDates').hide();
         $('#myModal').modal('hide');
         cleanBankModal();
      }

      function cleanBankModal() {
         $('.datepicker-gregorian').val('')
         $('#vdGuaranteeNUmber').hide( );
         $('#vdbankName').hide();
         $('#vdGuaranteeValue').hide();
         $("input[name='guaranteeStatus'][value=" + true + "]").prop('checked', true);
         $('#tb_GuaranteeNUmber').val("");
         $('#tb_GuaranteeValue').val("");
         $('#tb_GuaranteeDays').val("");
         $("#tb_GuaranteeStartDate").val('');
         $("#hdntb_GuaranteeStartDate").val('')
         $('#tb_GuaranteeEndDate').val('');
         $("#bankName").val("");
         $("#bankName").selectpicker("refresh");
         $('#txtGuaranteesValidation').hide();
      }

      function cleanSpecificationModal() {
         $('#vdGuaranteeNUmber').hide();
         $('#vdbankName').hide();
         $('#vdGuaranteeValue').hide();
         $("input[name='isForApplier'][value=" + true + "]").prop('checked', true);
         $('#specificationDegree').val("");
         $('#ConstructionWorklst').val("");
         $('#MaintenanceWorklst').val("");
         $('#txtSpecificationsValidation').hide();
         $("#specificationDegree, #MaintenanceWorklst, #ConstructionWorklst").selectpicker("refresh");
      }

      function AddSpecification() {
         var ClassObj = {};
         ClassObj.isSpecificationValidDate = $("input[name='specificationStatus']:checked").val();
         ClassObj.isSpecificationValidDateString = $("input[name='specificationStatus']:checked").parent('label').text();
         ClassObj.isForApplier = $("input[name='isForApplier']:checked").val();
         ClassObj.isForApplierString = $("input[name='isForApplier']:checked").parent('label').text();
         ClassObj.degree = $('#specificationDegree  option:selected').val();
         ClassObj.attachmentId = 0;
         ClassObj.constructionWorkId = $('#ConstructionWorklst  option:selected').val();
         if ($('#ConstructionWorklst  option:selected').val() == "")
            ClassObj.constructionWorkString = "";
         else
            ClassObj.constructionWorkString = $('#ConstructionWorklst  option:selected').text();
         ClassObj.maintenanceRunningWorkId = $('#MaintenanceWorklst  option:selected').val();
         if ($('#MaintenanceWorklst  option:selected').val() == "")
            ClassObj.maintenanceRunningWorkString = "";
         else
            ClassObj.maintenanceRunningWorkString = $('#MaintenanceWorklst  option:selected').text();
         vueObj.Specifications.push(ClassObj);

         if (isClassEdit == 1) {
            vueObj.Specifications.splice(classEditIndex, 1);
         }
         $('#myModal2').modal('hide');
         cleanSpecificationModal();
      }
      $('.modal > div').addClass('modal-lg');
      function ClassificationModal() {

      }
   </script>

}




