<div id="tableContainer" class="card-body p-2">
   <div v-if="QuantityTableItems && QuantityTableItems.length > 0" v-for="(table, $index) in QuantityTableItems">
      <div class="TableNameSection" v-show="table.isReadOnly == true">
         <div class="d-block">
            <h5 class="title text-primary p-1 m-0">
               <span class="tableName col">{{table.tableName}}</span>
            </h5>
         </div>
      </div>
      <div class="row" v-html="QuantityTableItems[0].tableHtml">
      </div>
   </div>
   <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
</div>
<div id="javaScript"></div>
<script>
   $(document).ready(function () {
      $("[id='SaveOfferChoiceDiv']").prop("hidden", true);
      Tender = new Vue({
         el: '#tableContainer',
         data: {
            totalCount: 0,
            currentPage: 1,
            QuantityTableItems: [],
            pageSize: @((int)Enums.PageSize.Six),
            resource_url: '/Offer/GetOfferTableQuantityItemsAsync?tenderId=@Model.TenderId&OfferId=@Model.OfferId&quantityTableId=@Model.TableId&formId=@Model.FormId&isReadOnly=@Model.IsReadOnly'
         },
         created: function () {
            this.resource_url = '/Offer/GetOfferTableQuantityItemsAsync?tenderId=@Model.TenderId&OfferId=@Model.OfferId&quantityTableId=@Model.TableId&formId=@Model.FormId&isReadOnly=@Model.IsReadOnly';
         },
         methods: {
            updateResource: function (data) {
               this.QuantityTableItems = data;
               if ($('#tableHeaderContainer_' + @Model.FormId + ' li').length <= 1) {
                  $('#tableHeaderContainer_' + @Model.FormId).html('<li class="nav-item"><a class="nav-link text-center" href="#tableIndex_' + data[0].tableId + '" data-tableId="' + data[0].tableId + '" onclick="changeTable(' + data[0].tenderId + ', ' + data[0].tableId + ', ' + data[0].formId + ')" data-toggle="tab">' + data[0].tableName + '</a></li>');
                  $('#collapse_' + @Model.FormId).attr('data-tableId', data[0].tableId);
                  $('#tableHeaderContainer_' + @Model.FormId + ' li a').removeClass('active');
                  $('#tableHeaderContainer_' + @Model.FormId + ' li a').removeClass('show');
                  $('#tableHeaderContainer_' + @Model.FormId + ' li a[data-tableId=' + data[0].tableId + ']').addClass('active');
                  $('#tableHeaderContainer_' + @Model.FormId + ' li a[data-tableId=' + data[0].tableId + ']').addClass('show');
               }
               this.totalCount = this.$refs.vpaginator.totalCount;
               this.currentPage = this.$refs.vpaginator.currentPage;
               this.pageSize = this.$refs.vpaginator.pageSize;
               $('#javaScript').html(data[0].javascript);
               if (data[0].isTableHasAlternative == true) { 
                  $("[id='SaveOfferChoiceDiv']").prop("hidden", false);
               }
               else { 
                  $("[id='SaveOfferChoiceDiv']").prop("hidden",  true);
               }
            },
         }
      });
   });
</script>
