
   <div class="card card-body">
      <div class="text-right">
         <button id="closeSearch" type="button" class="btn btn-sm btn-link btn-default pull-right p-1">
            <i class="material-icons">close</i> 

         </button>
      </div>
      <div class="row">
         <div class="col-12" style="">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderType</label>
                     <select data-live-search="false" id="tenderType" class="selectpicker" data-search="tenderType" title="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderType" data-style="select-with-transition" v-model="selectedTypeList">
                        <option :value="0" selected>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.All</option>
                        <option :value="item.tenderTypeId" v-for="item in typeList">{{item.tenderTypeName}}</option>
                     </select>
                  </div>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName</label>
                     <input type="text" class="form-control" id="txtTenderName" data-search="TenderName" name="TenderName" maxlength="50" />
                  </div>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="TenderNumber" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber</label>
                     <input type="text" class="form-control" id="txtTenderNumber" data-search="TenderNumber" name="TenderNumber" maxlength="50" />
                  </div>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ReferenceNumber" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber</label>
                     <input type="text" class="form-control" id="txtReferenceNumber" data-search="ReferenceNumber" name="ReferenceNumber" maxlength="50" />
                  </div>
               </div>

            </div>

            <div class="input-group-prepend pull-left etd-search-btn">
               <button type="button" class="btn btn-primary btn-block text-center btn-sm" id="searchBtn" name="button" @@click="search">
                  <i class="material-icons">search</i>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search
               </button>
               <button type="reset" class="btn btn-block text-center btn-sm" name="button" @@click="clear($event)">
                  <i class="material-icons">close</i>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Clear
               </button>
            </div>
         </div>
      </div>
   </div>
