@model MOF.Etimad.Monafasat.ViewModel.UserProfileModel
@{
   ViewData["Title"] = "الملف الشخصي";
}
<style>
   .profile-user-img {
      border-radius: 100%;
      border: 2px solid #ccc;
      padding: 5px;
      width: 70px;
   }
</style>
@if (Model != null)
{
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
         <ul class="nav nav-pills">
            @if (Model.NotificationSetting != null)
            {
               <li class="nav-item"><a class="nav-link text-center active" href="#pill5" data-toggle="tab">إدارة تنبيهات النظام</a></li>
            }
         </ul>
         <div class="card">
            <div class="card-body">
               <div class="tab-content tab-space">
                  @if (Model.NotificationSetting != null)
                  {
                     <div class="tab-pane active" id="pill5">
                        <h5>إدارة التنبيهات</h5>
                        <form asp-controller="account" asp-action="SaveMyProfile" data-ajax="true" data-ajax-method="POST" data-ajax-complete="saveSettingCompleted">
                           <ul class="list-group form-details-list">
                              @if (Model.NotificationSetting.OfferStatus != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.OfferStatus
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OfferStatus.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OfferStatus.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.InquiriesAboutTender != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          @MOF.Etimad.Monafasat.Resources.EnquiryResources.DisplayInputs.EnquiriesAboutTenders
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.InquiriesAboutTender.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.InquiriesAboutTender.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.OperationsOnYourAccount != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          عمليات تمت على حسابك
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsOnYourAccount.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsOnYourAccount.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.OperationsOnTheTender != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          عمليات تمت على المنافسة
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">

                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsOnTheTender.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsOnTheTender.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.PurchaseInvoiceNumber != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          رقم فاتورة الشراء
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.PurchaseInvoiceNumber.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.PurchaseInvoiceNumber.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.TenderRelatedToYourActivity != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          منافسات مرتبطة بنشاطك
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.TenderRelatedToYourActivity.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.TenderRelatedToYourActivity.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.ReceiveTheAmountOfTheBooklet != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          استلام مبلغ الكراسة
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.ReceiveTheAmountOfTheBooklet.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.ReceiveTheAmountOfTheBooklet.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                              @if (Model.NotificationSetting.OperationsNeedToBeAccredited != null)
                              {
                                 <li class="list-group-item">
                                    <div class="row">
                                       <div class="col-4 etd-item-title">
                                          عمليات بحاجة للاعتماد
                                       </div>
                                       <div class="col-8 etd-item-info">
                                          <div class="form-group bmd-form-group row p-0">

                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsNeedToBeAccredited.Mobile" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone
                                                </label>
                                             </div>
                                             <div class="togglebutton col-6">
                                                <label class="label">
                                                   <input asp-for="NotificationSetting.OperationsNeedToBeAccredited.Email" type="checkbox">
                                                   <span class="toggle"></span>
                                                   @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                </label>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                              }
                           </ul>
                           <button type="submit" class=" btn btn-primary btn-sm">حفظ</button>
                        </form>
                     </div>
                  }
                  <div class="tab-pane" id="pill6">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
}
else
{
   <div class="card">
      <div class="card-body">
         <div class="alert alert-warning">
            <div class="container">
               <div class="alert-icon">
                  <i class="material-icons">warning</i> 
               </div>
               لا يوجد لديك ملف شخصي
            </div>
         </div>
         <div class="col-12 text-center">
            <a asp-action="CreateMyProfile" class="btn btn-primary"> إنشاء الملف الشخصي</a>
         </div>
      </div>
   </div>
}
@section scripts{
   <script src="~/Etimad-UI/assets/js/jquery.unobtrusive-ajax.js"></script>
   <script type="text/javascript">
      var saveSettingCompleted = function () {
         AlertFun('@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully', alertMessageType.Success);
      };
      $(function () {
         $('.form-details-list li').each(function () {
            $(this).find("input[type=hidden]").remove();
         });
      });
   </script>
}
