@model List<MOF.Etimad.Monafasat.ViewModel.UserCategoryNotificatioSettingModel>
@{
   ViewData["Title"] = "إعدادات الصفحة الشخصية";
}
<style>
   .profile-user-img {
      border-radius: 100%;
      border: 2px solid #ccc;
      padding: 5px;
      width: 70px;
   }
</style>
@if (Model != null)
{
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
         <ul class="nav nav-pills">
            @if (Model != null)
            {
               <li class="nav-item"><a class="nav-link text-center active" href="#pill5" data-toggle="tab">إدارة تنبيهات النظام</a></li>
            }
         </ul>
         <div class="card">
            <div class="card-body">
               <div class="tab-content tab-space">
                  @if (Model != null)
                  {
                     int index = 0;
                     <div class="tab-pane active" id="pill5">
                        <h5>إدارة التنبيهات</h5>
                        <form asp-controller="account" asp-action="NotificationSetting" method="post">
                           @foreach (var cat in Model)
                           {

                              <h2>@cat.categoryName</h2>

                              <ul class="list-group form-details-list">
                                 @foreach (var notification in cat.userNotificatioSettingModels)
                                 {
                                    <li class="list-group-item">
                                       <div class="row">
                                          <div class="col-4 etd-item-title">
                                             <input type="text" hidden name="userNotificatioSettings[@index].Id" value="@notification.Id" id="hdnNotificationId" />
                                             @notification.OperationName
                                          </div>
                                          <div class="col-8 etd-item-info">
                                             <div class="form-group bmd-form-group row p-0">

                                                <div class="togglebutton col-6">
                                                   <label class="label">

                                                      <input id="@(string.Concat("checkemail",index))" name="userNotificatioSettings[@index].EmailEnabled" @(notification.CanEditEmail ? "" : "disabled") @(notification.EmailEnabled ? "checked" : "") value='@(notification.EmailEnabled)' onclick="setValue(this)" type="checkbox">
                                                      <span class="toggle"></span>
                                                      @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.Email
                                                   </label>
                                                </div>
                                                <div class="togglebutton col-6">
                                                   <label class="label">
                                                      <input id="@(string.Concat("checksms",index))" name="userNotificatioSettings[@index].SMSEnabled" @(notification.CanEditMessage ? "" : "disabled") @(notification.SMSEnabled ? "checked" : "") value='@(notification.SMSEnabled)' onclick="setValue(this)" type="checkbox">
                                                      <span class="toggle"></span>    @MOF.Etimad.Monafasat.Resources.BranchResources.DisplayInputs.Phone

                                                   </label>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    index++;
                                 }
                              </ul>}
                           <button type="submit" class=" btn btn-primary btn-sm">حفظ</button>
                        </form>
                     </div>
                  }
                  <div class="tab-pane" id="pill6">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
}
else
{
   <div class="card">
      <div class="card-body">
         <div class="alert alert-warning">
            <div class="container">
               <div class="alert-icon">
                  <i class="material-icons">warning</i> 
               </div>
               لا يوجد لديك ملف شخصي
            </div>
         </div>
         <div class="col-12 text-center">
            <a asp-action="CreateMyProfile" class="btn btn-primary"> إنشاء الملف الشخصي</a>
         </div>
      </div>
   </div>
}
@section scripts{
   <script src="~/Etimad-UI/assets/js/jquery.unobtrusive-ajax.js"></script>
   <script type="text/javascript">
      function setValue(sender) {
         if (sender.checked) {
            $(sender).val(true);
         }
         else {
            $(sender).val(false);
         }
      }
      var saveSettingCompleted = function () {
         AlertFun('@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully', alertMessageType.Success);
      }
      $(function () {
         $('.form-details-list li').each(function () {
            $(this).find("input[type=hidden]").remove();
         });
      });
   </script>
}
