@model MOF.Etimad.Monafasat.ViewModel.TenderDetailsModel
@using MOF.Etimad.Monafasat.SharedKernel;
@{
   Layout = "~/Views/Shared/_Layout-ETD.cshtml";
   string tenderIdString = Model.TenderIdString;
   int tenderId = MOF.Etimad.Monafasat.SharedKernal.Util.Decrypt(Model.TenderIdString);
   string tenderStatusIdString = Model.TenderStatusIdString;
   int tenderStatus = MOF.Etimad.Monafasat.SharedKernal.Util.Decrypt(Model.TenderStatusIdString);
   int tenderTypeId = Model.TenderTypeId;
}
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails;
}
@section pagecontrols{
   <div class="dropdown">
      <a target="_blank" class="btn p-2 btn-outline-primary pull-left"
         href="OpenTenderDetailsReport?tenderIdString=@tenderIdString"
         title="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails"
         data-original-title="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails" data-toggle="tooltip">
         <i class="material-icons">assignment</i>   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails<div class="ripple-container"></div>
      </a>
      @if (tenderStatus == (int)Enums.TenderStatus.Approved || tenderStatus == (int)Enums.TenderStatus.OffersOppening
|| tenderStatus == (int)Enums.TenderStatus.OffersOppenedPending || tenderStatus == (int)Enums.TenderStatus.OffersOppenedConfirmed
|| tenderStatus == (int)Enums.TenderStatus.OffersOppenedRejected)
      {
         <a href="/Offer/SuppliersReport?tenderIdString=@tenderIdString" data-toggle="tooltip" class="btn p-2 btn-outline-primary pull-left" style="color:#29ad6f !important"
            onclick="suppliersReport('@tenderIdString')" title="@(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AppliedSuppliersReport)"
            data-original-title="@(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AppliedSuppliersReport)">
            <i class="material-icons">library_books</i>  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AppliedSuppliersReport<div class="ripple-container"></div>
         </a>
      }
   </div>
}
@Html.AntiForgeryToken()
@section breadcrumb
      {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Tenders</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails</li>
      </ol>
   </nav>
}
<div class="col-12">
   <div class="clearfix"></div>
   <div class="row">
      <ul class="nav nav-pills nav-pills-icons" role="tablist">
         <li class="nav-item">
            <a class="nav-link active text-center show" id="basicStepTab" href="#d-1" role="tab" data-toggle="tab" aria-selected="true">
               <i class="material-icons">dashboard</i>
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainInformation
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-center" id="tenderDatesTab" href="#d-2" role="tab" data-toggle="tab" aria-selected="false">
               <i class="material-icons">schedule</i>
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DetailsStep
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-center" id="relationStepTab" href="#d-3" role="tab" data-toggle="tab" aria-selected="false">
               <i class="material-icons">list</i>
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RelationStep
            </a>
         </li>
         @if (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.Competition && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding)
         {
            <li class="nav-item">
               <a class="nav-link text-center" id="quantitiesTableStepTab" href="#d-4" role="tab" data-toggle="tab" aria-selected="false">
                  <i class="material-icons">table_chart</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.QuantitiesTables
               </a>
            </li>
         }
         <li class="nav-item">
            <a class="nav-link text-center" id="attachmentsStepTab" href="#d-5" role="tab" data-toggle="tab" aria-selected="false">
               <i class="material-icons">attach_file</i>
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Attachment
            </a>
         </li>
         @if ((User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.EtimadOfficer)) && tenderStatus != (int)Enums.TenderStatus.UnderEstablishing && tenderStatus != (int)Enums.TenderStatus.Established && tenderStatus != (int)Enums.TenderStatus.Pending)
         {
            <li class="nav-item">
               <a class="nav-link text-center" id="inquiriesStepTab" href="#d-6" role="tab" data-toggle="tab" aria-selected="false">
                  <i class="material-icons">chat</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Inquiry
               </a>
            </li>
         }
         @if (Model.InvitationTypeId == (int)Enums.InvitationType.Specific &&
(Model.TenderStatusId == (int)Enums.TenderStatus.UnderEstablishing || Model.TenderStatusId == (int)Enums.TenderStatus.Established
|| Model.TenderStatusId != (int)Enums.TenderStatus.Pending || Model.TenderStatusId != (int)Enums.TenderStatus.Approved)
&& (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender || (Model.TenderTypeId == (int)Enums.TenderType.FirstStageTender && Model.InvitationTypeId == (int)Enums.InvitationType.Specific)))
         {
            <li class="nav-item">
               <a class="nav-link text-center" id="invitationsTab" href="#d-7" role="tab" data-toggle="tab" aria-selected="false">
                  <i class="material-icons">book</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Invitations
               </a>
            </li>
         }
         @if ((User.IsInRole(RoleNames.supplier) || User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersCheckManager) || User.IsInRole(RoleNames.OffersPurchaseSecretary) || User.IsInRole(RoleNames.OffersPurchaseManager)
|| User.IsInRole(RoleNames.TechnicalCommitteeUser)) && Model.TenderStatusId != (int)Enums.TenderStatus.UnderEstablishing && Model.TenderStatusId != (int)Enums.TenderStatus.Established
&& Model.TenderStatusId != (int)Enums.TenderStatus.Pending && Model.TenderStatusId != (int)Enums.TenderStatus.Rejected)
         {
            <li class="nav-item">
               <a class="nav-link text-center" href="#d-9" id="communicationRequestTab" role="tab" data-toggle="tab" aria-selected="true">
                  <i class="material-icons">question_answer</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommunicationRequest
               </a>
            </li>
         }
      </ul>
      <div class="tab-content  tab-space col-12 " style="padding:0">
         <div class="tab-pane active animated fadeInLeft delay-1s show" id="d-1">
            <div class="card">
               <div class="card-body" id="basicStepDiv">
                  @Html.Partial("~/Views/Tender/DetailsPartials/_DetailsBasicStepContent.cshtml", Model)
               </div>
            </div>
         </div>
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-2">
            <div class="card">
               <div class="card-body" id="datesDiv">
               </div>
            </div>
         </div>
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-3">
            <div class="card">
               <div class="card-body" id="activityDiv">
               </div>
            </div>
         </div>
         @if (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.Competition && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding)
         {
            <div class="tab-pane animated fadeInLeft delay-1s" id="d-4">
               <div class="card">
                  <div class="card-body" id="quantitiesTableDiv">
                  </div>
               </div>
            </div>
         }
         <div class="tab-pane animated fadeInLeft  delay-1s" id="d-5">
            <div class="card">
               <div class="card-body" id="attachmentsTableDiv">
               </div>
            </div>
         </div>
         @if ((User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.EtimadOfficer)) && tenderStatus != (int)Enums.TenderStatus.UnderEstablishing && tenderStatus != (int)Enums.TenderStatus.Established && tenderStatus != (int)Enums.TenderStatus.Pending)
         {
            <div class="tab-pane animated fadeInLeft delay-1s" id="d-6">
               <div class="card">
                  <div class="card-body" id="inquiriesDiv">
                  </div>
               </div>
            </div>
         }
         @if (Model.InvitationTypeId == (int)Enums.InvitationType.Specific &&
  (Model.TenderStatusId == (int)Enums.TenderStatus.UnderEstablishing || Model.TenderStatusId == (int)Enums.TenderStatus.Established
|| Model.TenderStatusId != (int)Enums.TenderStatus.Pending || Model.TenderStatusId != (int)Enums.TenderStatus.Approved)
&& (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender || (Model.TenderTypeId == (int)Enums.TenderType.FirstStageTender && Model.InvitationTypeId == (int)Enums.InvitationType.Specific)))
         {
            <div class="tab-pane animated fadeInLeft delay-1s" id="d-7">
               <div>
                  <div id="invitationsDiv">
                  </div>
               </div>
            </div>
         }
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-9">
            <div>
               <div id="communicationRequestDiv">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


@if (User.IsInRole(RoleNames.UnitManagerUser) && Model.IsUnitSecreteryAccepted.HasValue && Model.CanUnitDoAnyAction)
{
   @if (Model.IsUnitSecreteryAccepted.Value)
   {
      <h5 class="title text-primary">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderApprovedBySecertary
      </h5>
   }
   else
   {
      <h5 class="title text-primary">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderRejectedBySecertary
      </h5>
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-2 etd-item-title">
                  <i class="material-icons text-danger pull-left">not_interested</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason
               </div>
               <div class="col-10 etd-item-info">
                  @Model.UnitRejectionReason
               </div>
            </div>
         </div>
      </div>
   }
}

@if ((User.IsInRole(RoleNames.UnitSpecialistLevel1) || User.IsInRole(RoleNames.UnitSpecialistLevel2)) && Model.CanUnitDoAnyAction)
{
   @if (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.RejectedByManager)
   {
      <h5 class="title text-primary">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderRejectedByManager
      </h5>
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-2 etd-item-title">
                  <i class="material-icons text-danger pull-left">not_interested</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason
               </div>
               <div class="col-10 etd-item-info">
                  @Model.UnitRejectionReason
               </div>
            </div>
         </div>
      </div>
   }
   else if (Model.IsUnitSecreteryAccepted.HasValue)
   {

      @if (Model.IsUnitSecreteryAccepted == true)
      {
         <h5 class="title text-primary">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderApprovedBySecertary
         </h5>
      }
      else
      {
         <h5 class="title text-primary">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderRejectedBySecertary
         </h5>
         <div class="card">
            <div class="card-body">
               <div class="row">
                  <div class="col-2 etd-item-title">
                     <i class="material-icons text-danger pull-left">not_interested</i>
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason
                  </div>
                  <div class="col-10 etd-item-info">
                     @Model.UnitRejectionReason
                  </div>
               </div>
            </div>
         </div>
      }

   }
   @if (Model.TenderStatusId == (int)Enums.TenderStatus.UnitStaging && Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.TenderTransferdToLevelTwo)
   {
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-2 etd-item-title">
                  <i class="material-icons text-danger pull-left">not_interested</i>
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.UnitLevelSecretaryOneNotes
               </div>
               <div class="col-10 etd-item-info">
                  @(!string.IsNullOrEmpty(Model.UnitNotes) ? Model.UnitNotes : MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData)
               </div>
            </div>
         </div>
      </div>
   }
}

<div>
   @if (Model.CanUnitDoAnyAction)
   {
      if (Model.TenderUnitStatusId != (int)Enums.TenderUnitStatus.WaitingUnitSecretaryReview && (User.IsInRole(RoleNames.UnitSpecialistLevel1) || User.IsInRole(RoleNames.UnitSpecialistLevel2)))
      {

         <form id="nationalProductFrom" asp-controller="Tender" asp-action="UpdateTenderLocalContentValues" method="post">
            <input asp-for="TenderIdString" type="hidden" />
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <div class="col-12">
                        <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.NationalProductAdvantage</h4>
                     </div>
                     <div class="col-6 etd-item-info">
                        <ul class="list-group form-details-list">
                           @if (Model.ConShowNationalProduct)
                           {
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.NationalProductPercentageAdvantage
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="nationalProductPercentage" asp-for="NationalProductPercentage" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Percentage" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="NationalProductPercentage" class="text-danger" />
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           }
                           @if (Model.ConShowLocalContentValues)
                           {
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MinimumBaseline
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="minimumBaseline" type="text" asp-for="MinimumBaseline" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MinimumBaseline" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="MinimumBaseline" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>

                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MinimumPercentageLocalContentTarget
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="minimumPercentageLocalContentTarget" type="text" asp-for="MinimumPercentageLocalContentTarget" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MinimumPercentageLocalContentTarget" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="MinimumPercentageLocalContentTarget" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>

                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentMaximumPercentage
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">

                                             <input id="localContentMaximumPercentage" type="text" asp-for="LocalContentMaximumPercentage" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentMaximumPercentage" class="form-control allownumericwithdecimal" style="display: initial;" />
                                             <span asp-validation-for="LocalContentMaximumPercentage" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.PriceWeightAfterAdjustment
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="priceWeightAfterAdjustment" type="text" asp-for="PriceWeightAfterAdjustment" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.PriceWeightAfterAdjustment" class="form-control allownumericwithdecimal" style="display: initial;" />
                                             <span asp-validation-for="PriceWeightAfterAdjustment" class="text-danger" />
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           }
                        </ul>
                     </div>
                     @if (Model.ConShowLocalContentValues)
                     {
                        <div class="col-6 etd-item-info">
                           <ul class="list-group form-details-list">

                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentWeightAndFinancialMarket
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="localContentWeightAndFinancialMarket" type="text" asp-for="LocalContentWeightAndFinancialMarket" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentWeightAndFinancialMarket" class="form-control allownumericwithdecimal" style="display: initial;" />
                                             <span asp-validation-for="LocalContentWeightAndFinancialMarket" class="text-danger" />
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>

                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.BaselineWeight
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="baselineWeight" type="text" asp-for="BaselineWeight" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.BaselineWeight" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="BaselineWeight" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentTargetWeight
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="localContentTargetWeight" type="text" asp-for="LocalContentTargetWeight" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.LocalContentTargetWeight" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="LocalContentTargetWeight" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.FinancialMarketListedWeight
                                    </div>
                                    <div class="col-8 etd-item-info">
                                       <div class="row">
                                          <div class="col-6">
                                             <input id="financialMarketListedWeight" type="text" asp-for="FinancialMarketListedWeight" placeholder="@MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.FinancialMarketListedWeight" class="form-control allownumericwithdecimal" style="display: initial;">
                                             <span asp-validation-for="FinancialMarketListedWeight" class="text-danger" />

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     }
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary" id="updateTenderLocalContentValues">
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SaveEdit

                        </button>
                        <span id="nationalProductNotSaved"></span>
                        <button type="button" class="btn btn-danger pull-right" id="localContentCancelButton">
                           @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel
                        </button>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      }

      @if (User.IsInRole(RoleNames.UnitSpecialistLevel1))
      {
         @Html.Partial("~/Views/Tender/Unit/Partials/_UnitSecretaryApproval.cshtml")
      }
      else if (User.IsInRole(RoleNames.UnitSpecialistLevel2))
      {
         @Html.Partial("~/Views/Tender/Unit/Partials/_UnitSecretaryLevelTwoApproval.cshtml")
      }
      else if (User.IsInRole(RoleNames.UnitManagerUser) && Model.IsUnitSecreteryAccepted.HasValue && (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.WaitingManagerApprove || Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderManagerReviewing))
      {
         @Html.Partial("~/Views/Tender/Unit/Partials/_UnitManagerApproval.cshtml")
      }
   }
   else if (User.IsInRole(RoleNames.UnitBusinessManagement))
   {
      @Html.Partial("~/Views/Tender/Unit/Partials/_UnitBusinessManagerApproval.cshtml")
   }
   <div class="clearfix"></div>
   <button type="button" class="btn btn-outline-primary btn-link pull-right" onclick="window.location = '@Url.Action("TenderIndexUnitStage", "Tender")'">
      @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackToAllTenders
      <div class="ripple-container"></div>
   </button>
   <button type="button" class="btn btn-outline-primary btn-link pull-right" onclick="goBack()">
      @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackToPrevious
      <div class="ripple-container"></div>
   </button>
</div>

@section scripts{
   <script src="~/Etimad-UI/assets/js/jquery-validation/dist/jquery.validate.min.js"></script>
   <script src="~/Etimad-UI/assets/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />
   <script>
      var token = $('input[name=__RequestVerificationToken]').val();

      @*$('#updateTenderLocalContentValues').click(function () {
         if ($("#nationalProductFrom").valid()) {
            var nationalProductValues = {
               id: '@Model.TenderIdString',
               nationalProductRate: $("#nationalProductRate").val(),
               MinimumBaseline: $("#minimumBaseline").val(),
               MinimumPercentageLocalContentTarget: $("#minimumPercentageLocalContentTarget").val(),
               LocalContentMaximumPercentage: $("#localContentMaximumPercentage").val(),
               PriceWeightAfterAdjustment: $("#priceWeightAfterAdjustment").val(),
               LocalContentWeightAndFinancialMarket: $("#localContentWeightAndFinancialMarket").val(),
               BaselineWeight: $("#baselineWeight").val(),
               LocalContentTargetWeight: $("#localContentTargetWeight").val(),
               FinancialMarketListedWeight: $("#financialMarketListedWeight").val(),
            }
            if ($("#nationalProductRate").val() <= 0) {
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.LocalContentSettingsResources.DisplayInputs.ValueCannotBeLessOrEqualZero)', alertMessageType.Danger);
               return;
            }
            postRequest("UpdateTenderLocalContentValues/", nationalProductValues, true).then(function () {
               $("#nationalProductNotSaved").html("");
            });
         }
      });*@


      $("#localContentCancelButton").click(function () {
         $('#nationalProductPercentage').val(@Model.NationalProductPercentage);
         $('#minimumBaseline').val(@Model.MinimumBaseline);
         $('#minimumPercentageLocalContentTarget').val(@Model.MinimumPercentageLocalContentTarget);
         $('#localContentMaximumPercentage').val(@Model.LocalContentMaximumPercentage);
         $('#priceWeightAfterAdjustment').val(@Model.PriceWeightAfterAdjustment);
         $('#localContentWeightAndFinancialMarket').val(@Model.LocalContentWeightAndFinancialMarket);
         $('#baselineWeight').val(@Model.BaselineWeight);
         $('#localContentTargetWeight').val(@Model.LocalContentTargetWeight);
         $('#financialMarketListedWeight').val(@Model.FinancialMarketListedWeight);
       });
      $('#nationalProductRate').on('input', function (e) {
         if ($("#nationalProductRate").val() != @Model.NationalProductRate.ToString()) {
            $("#nationalProductNotSaved").html("<span class='badge badge-warning d-inline-block' style='margin: 0px 5px;'>لم يتم حفظ القيمة</span>");
         }
      });

      $('#invitationsTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetInvitationsViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#invitationsDiv").html(data);
            $('#loader').hide();
         });
      });

      $('#tenderDatesTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetTenderDatesViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#datesDiv").html(data);
            $('#loader').hide();
         });
      });
      $('#invitationsTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetInvitationsViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#invitationsDiv").html(data);
            $('#loader').hide();
         });
      });
      $('#relationStepTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetRelationsDetailsViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#activityDiv").html(data);
            $('#loader').hide();
         });
      });
      $('#quantitiesTableStepTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetQuantitiesTableViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#quantitiesTableDiv").html(data);
            $('#loader').hide();
         });
      });
      $('#attachmentsStepTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetAttachmentsViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#attachmentsTableDiv").html(data);
            $('#loader').hide();
         });
      });
      $('#inquiriesStepTab').click(function () {
         $('#loader').show();
         $.get('/Tender/GetEnquiryViewComponenet?tenderIdStr=' + '@tenderIdString', function (data) {
            $("#inquiriesDiv").html(data);
            $('#loader').hide();
         });
      });
      $("#btnApprove").click(function () {
         document.getElementById('timer').innerHTML = 05 + ":" + 00;
         startTimer();
         $("#btnResendVerificationCode").prop("disabled", true);
         createVerificationCode();
      });
      $("#btnResendVerificationCode").on("click", function () {
         var token = $('input[name=__RequestVerificationToken]').val();
         $("#btnResendVerificationCode").prop("disabled", true);
         document.getElementById('timer').innerHTML = 05 + ":" + 00;
               $.post('/Tender/CreateVerificationCode', { tenderIdString: "@Model.TenderIdString", __RequestVerificationToken: token });
         startTimer();
      });
     function createVerificationCode() {
         $.post('/Tender/CreateVerificationCode', { tenderIdString: '@tenderIdString', __RequestVerificationToken: token }).fail(function (error) {
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
            $("#changeRequestModal").modal('hide');
            $("#myModal").modal('hide');
         });
     }

      function checkSecond(sec) {
         if (sec < 10 && sec >= 0) { sec = "0" + sec };
         if (sec < 0) { sec = "59" };
         return sec;
      }
      function checkTime(min, sec, myVar) {
         if (min <= 0 && sec <= 0) {
            $("#btnResendVerificationCode").prop("disabled", false);
            clearTimeout(myVar)
         };
         return sec;
      }
      var myVar;
      function startTimer() {
         clearTimeout(myVar);
         var presentTime = document.getElementById('timer').innerHTML;
         var timeArray = presentTime.split(/[:]+/);
         var m = timeArray[0];
         var s = checkSecond((timeArray[1] - 1));
         if (s == 59) { m = m - 1 }
         document.getElementById('timer').innerHTML = m + ":" + s;
         myVar = setTimeout(startTimer, 1000);
         checkTime(m, s, myVar);
         if (m < 0 && s > 0) {
            document.getElementById('timerChangeRequest').innerHTML = "0:00";
            return false;
         }
      }

      function goBack() {
         var referrer = document.referrer;
           window.location = referrer
      }
      $(document).ready(function () {
         var lastOfferPresentationDateElement = document.getElementById("lastOfferPresentationDate");
         if (lastOfferPresentationDateElement) {
            if ($("#lastOfferPresentationDate").val()) {
            }
            else {
               $("#remainingTime").hide();
            }
         }
      });
      $('.readMore').on('click', function () {
         $("#subPurposSapn").prop("hidden", true);
         $("#purposeSpan").prop("hidden", false);
      });
      $('.readLess').on('click', function () {
         $("#subPurposSapn").prop("hidden", false);
         $("#purposeSpan").prop("hidden", true);
      });
      function getSuccessfulyDoneResourceValue() { return '@Html.Raw(MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.SuccessfulyDone)'; }
   </script>
}
