<div class="card-footer row">
   <div class="col-md-12 text-left">
      <button type="button" @@click="redirectToDetail(br.announcementIdString)" class="btn btn-primary pull-right btn-sm">
         @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.Details
      </button>
      <button type="button" v-if="('@User.UserRole()' == '@(RoleNames.Auditer)' || '@User.UserRole()' == '@(RoleNames.DataEntry)') && br.statusId == @((int)Enums.AnnouncementStatus.UnderCreation) && br.isCreator && br.isReadyForApproval" @@click="approveLink(br.announcementIdString)" class="btn btn-primary pull-right btn-sm">
         إعتماد
      </button>
   </div>
</div>
