
<div class="row">

   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.BasicData</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementSupplierTemplateName
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AnnouncementName)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.IntroAboutAnnouncementTemplate
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.IntroAboutAnnouncementTemplate)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.AnnouncementSupplierTemplateResources.DisplayInputs.ReferenceNumber
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.ReferenceNumber)
                     </span>
                  </div>
               </div>
            </li>

            @if (!User.IsInRole(MOF.Etimad.Monafasat.SharedKernel.RoleNames.supplier) && Model.IsCreatedByAgncy)
            {
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CreatedBy</div>
                     <div class="col-8 etd-item-info"><span>@(Model.CreatedBy)</span></div>
                  </div>
               </li>
            }

            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementTemplateSuppliersListType</div>
                  <div class="col-8 etd-item-info"><span>@(Model.AnnouncementListTypeName)</span></div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementSupplierTemplateResources.DisplayInputs.TemplateStatus</div>
                  <div class="col-8 etd-item-info"><span>@(Model.StatusName)</span></div>
               </div>
            </li>

            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.TenderTypeName</div>
                  <div class="col-8 etd-item-info"><span>@(Model.TenderTypeName)</span></div>
               </div>
            </li>


            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.RequirementConditionsToJoinList</div>
                  <div class="col-8 etd-item-info"><span>@(Model.RequirementConditionsToJoinList)</span></div>
               </div>
            </li>
            @if (Model.IsRequiredAttachmentToJoinList)
            {
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.RequiredAttachment</div>
                     <div class="col-8 etd-item-info"><span>@(Model.RequiredAttachment)</span></div>
                  </div>
               </li>
            }
            @if (Model.IsEffectiveList)
            {
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.EffectiveListDate</div>
                     <div class="col-8 etd-item-info"><span>@(Model.EffectiveListDate)</span></div>
                  </div>
               </li>
            }

            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.Descriptions</div>
                  <div class="col-8 etd-item-info"><span>@(Model.Descriptions)</span></div>
               </div>
            </li>

            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title"> @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.PublishDate</div>
                  <div class="col-8 etd-item-info"><span>@(Model.PublishDateHijriString)</span></div>
               </div>
            </li>
         </ul>
      </div>
   </div>

   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.GovAgencyInfo</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.GovAgencyName
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AgencyName)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.Address
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AgencyAddress)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     الهاتف
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AgencyPhone)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     فاكس
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AgencyFax)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     البريد الإلكتروني
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.AgencyEmail)</span>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
