@{
    var date = @Model.crIssueDate.Split(' ');
}
<div id="accordion" role="tablist">
   <div class=" card-collapse">
      <div class="card-header" role="tab" id="headingOne">
         <h5 class="mb-0">
            <a data-toggle="collapse" href="#SupplierInfo" aria-expanded="true" aria-controls="collapseOne">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SupplierInfo
               <i class="material-icons">keyboard_arrow_down</i> 
            </a>
         </h5>
      </div>
      <div id="SupplierInfo" class="collapse  show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
         <div class="card-body">
            @{

               foreach (var info in Model.contactOfficers)
               {


                  <ul class="list-group form-details-list h6">


                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">

                              @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Email
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>@info.Email</span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">

                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UserName
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 @info.Name
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">

                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Nationality

                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 @info.Nationality
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">

                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CiviRegistery
                           </div>
                           <div class="col-8 etd-item-info">

                              <span>
                                 @info.NationalID
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Title
                           </div>
                           <div class="col-8 etd-item-info">

                              <span>
                                 @info.JobTitle
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Mobile
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 @info.Mobile
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PhoneNumber
                           </div>
                           <div class="col-8 etd-item-info">
                              <span>
                                 @info.PhoneNumber
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>

               }

            }
         </div>
      </div>
   </div>


   <div class=" card-collapse">
      <div class="card-header" role="tab" id="headingTwo">
         <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#CompanyInfo" aria-expanded="false" aria-controls="collapseTwo">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CompanyInfo
               <i class="material-icons">keyboard_arrow_down</i> 
            </a>
         </h5>
      </div>
      <div id="CompanyInfo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
         <div class="card-body">
            <ul class="list-group form-details-list h6">

               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        تاريخ إصدار السجل التجارى
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>
                           @Model.crIssueDate
                        </span>
                     </div>

                  </div>

               </li>


               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        جنسية مالك السجل
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.ownerNationality</span>
                     </div>
                  </div>
               </li>


               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        تاريخ انتهاء السجل التجارى
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.crExpiryDate</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        اسم المالك
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.ownerName</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        راس مال السجل
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.capital</span>
                     </div>
                  </div>
               </li>


               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        جنسية مالك السجل
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.ownerNationality</span>
                     </div>
                  </div>
               </li>
               @*<li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CompanyType
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.CompanyType</span>
                     </div>
                  </div>
               </li>*@
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.AdministrationStaff
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.BoardOfDirectories</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialNumber
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.supplierNumber</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialName
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.supplierName</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainActivityBasedonCommercialNumber
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.MainActivity</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MembershipCity
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.YasserInfo.MembershipCityName</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UniqueNumber
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.YasserInfo.OfficeFacilityNumberInMinistryOfLabor</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RegistrationInSocialInsurance
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.YasserInfo.SocialSecuritySubscriptionNumber</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InvestmentLicense
                     </div>
                     <div class="col-8 etd-item-info">
                        <span>@Model.YasserInfo.InvestmentLicenseNumber</span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Activities
                     </div>
                     <div class="col-8 etd-item-info">
                        <ul>
                           @{
                              foreach (var activity in Model.Activities)
                              {
                                 <li>@activity</li>
                              }


                           }
                        </ul>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">

                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ActivityDescription
                     </div>
                     <div class="col-8 etd-item-info">
                        <span> @Model.MainActivityDescription</span>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>

   <div class=" card-collapse">
      <div class="card-header" role="tab" id="headingTwo">
         <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#SupplierCertificates" aria-expanded="false" aria-controls="collapseTwo">
               الشهادات
               <i class="material-icons">keyboard_arrow_down</i> 
            </a>
         </h5>
      </div>
      <div id="SupplierCertificates" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
         <div class="card-body">
            <ul class="list-group form-details-list h6">


               @{
                  if (Model.attachments != null && Model.attachments.Count > 0)
                  {
                     foreach (var item in Model.attachments)
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col-4 etd-item-title">
                                 @item.attachmentTypeName
                              </div>
                              <div class="col-8 etd-item-info">
                                 @if (item.attachmentId == 0)
                                 {
                                    <span>
                                       يرجى إكمال بيانات إلتزام المنشأة، وإرفاق الشهادات الثبوتية في ملف المورد
                                    </span>
                                 }
                                 else
                                 {
                                    <a href="@item.url" target="_blank" class="btn btn-outline-primary btn-sm col-12" style="white-space: normal;">@item.name</a>
                                 }
                              </div>
                           </div>
                        </li>
                     }
                  }

               }




            </ul>
         </div>
      </div>
   </div>


   <div class=" card-collapse">
      <div class="card-header" role="tab" id="headingThree">
         <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#CompanyBranches" aria-expanded="false" aria-controls="collapseThree">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CompanyBranches
               <i class="material-icons">keyboard_arrow_down</i> 
            </a>
         </h5>
      </div>
      <div id="CompanyBranches" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
         <div class="card-body">
            <table class="table table-condensed table-striped"    summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
               <thead>
                  <tr>
                     <th id="City414" >
                        @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.City
                     </th>

                      <th  id="thPhoneNumber418" >
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PhoneNumber

                     </th>

                      <th  id="thFax423" >
                        @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Fax

                     </th>
                      <th  id="thAddress427" >
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Address

                     </th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var BR in Model.Addresses)
                  {
                     <tr>
                        <td>@BR.City</td>
                        <td>@BR.PhoneNumber</td>
                        <td>@BR.FaxNumber</td>
                        <td>
                           @MOF.Etimad.Monafasat.Resources.VendorsResources.DisplayInputs.PostalAddress : @BR.Location
                           <br />
                           @MOF.Etimad.Monafasat.Resources.VendorsResources.DisplayInputs.PObox : @BR.PostOffice
                           <br />
                           @MOF.Etimad.Monafasat.Resources.VendorsResources.DisplayInputs.PostalCode : @BR.PostalCode
                           <br />
                        </td>
                     </tr>
                  }


               </tbody>
            </table>
         </div>
      </div>
   </div>


   <div class=" card-collapse">
      <div class="card-header" role="tab" id="headingThree">
         <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#contracts" aria-expanded="false" aria-controls="collapseThree">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Contracts
               <i class="material-icons">keyboard_arrow_down</i> 
            </a>
         </h5>
      </div>
      <div id="contracts" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
         <div class="card-body">
            <table class="table table-condensed table-striped"    summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
               <thead>
                  <tr>
                      <th  id="thProjectName473" >
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProjectName
                     </th>

                      <th  id="thContractAmount477" >
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ContractAmount

                     </th>

                      <th  id="thGoveAgency482" >
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.GoveAgency


                     </th>
                  </tr>
               </thead>
               <tbody>
                  @foreach (var pro in Model.Projects)
                  {
                     <tr>
                        <td>@pro.ProjectName</td>

                        <td>@pro.ContractAmount</td>

                        <td>@pro.Agency</td>
                     </tr>
                  }

               </tbody>
            </table>
         </div>
      </div>
   </div>


   @if ((Model.SupplierType == (int)Enums.SupplierType.SemiGovAgency || Model.SupplierType == (int)Enums.SupplierType.PrivateSector) && User.UserRole() != RoleNames.supplier)
   {
      <div class=" card-collapse">
         <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
               <a class="collapsed" data-toggle="collapse" href="#GovernmantalDocuments" aria-expanded="false" aria-controls="collapseThree">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.GovernmantalDocuments
                  <i class="material-icons">keyboard_arrow_down</i> 
               </a>
            </h5>
         </div>
         <div id="GovernmantalDocuments" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
               <table class="table table-condensed table-striped"    summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
                  <thead>
                     <tr>
                         <th  id="thDocumentName524" >
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DocumentName
                        </th>
                         <th  id="thDocumentStatus527" >
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DocumentStatus
                        </th>
                         <th  id="thActions530" > @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.CR</td>
                        <td>
                           <span class="badge h6" id="CR"></span>
                           <span id="CRdate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn  btn-sm btn-primary" @(string.IsNullOrEmpty(Model.supplierName) ? "disabled" : "") onclick="ValidateMCICRAndGetInfo('@Model.supplierNumber', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>
                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.ZakatLecience</td>

                        <td>
                           <span class="badge h6" id="ZakatLecience"></span>
                           <span id="ZakatLeciencedate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn btn-sm btn-primary" @(string.IsNullOrEmpty(Model.supplierNumber) ? "disabled" : "") onclick="ZakatCertificateInquiryByCR('@Model.supplierNumber', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>

                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.ContractorsCategorization</td>

                        <td>
                           <span class="badge h6" id="ContractorsCategorization"></span>
                           <span id="ContractorsCategorizationdate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn btn-sm btn-primary" @(string.IsNullOrEmpty(Model.supplierNumber) ? "disabled" : "") onclick="ContractorDetailsInquiry( '@Model.supplierNumber',event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>

                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.WorkLaborFiled</td>

                        <td>
                           <span class="badge h6" id="WorkLaborFiledStatus"></span>
                           <span class="font-weight-bold" id="WorkLaborFiled" hidden>
                              <br />
                              <span id="WorkLaborFiledColorName"></span>
                              <span>(نسبة السعودة:</span>
                              <span id="WorkLaborFiledPercentage"></span>
                              <span>%)</span>
                              <br />
                              <span class="text-danger">@MOF.Etimad.Monafasat.Resources.VendorsResources.Messages.PleaseVerifyCompanyName</span>
                              <br />
                              <span id="WorkLaborFiledName"></span>
                              <span id="WorkLaborFileddate"></span>
                           </span>
                        </td>
                        <td>
                           <button type="button" class="btn btn-sm btn-primary" onclick="NitaqatInformationInquiry('@Model.YasserInfo.OfficeFacilityNumberInMinistryOfLabor' ,'@Model.YasserInfo.SequenceFacilityNumberInMinistryOfLabor', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>

                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.CommericialWorkshopSubsciption</td>

                        <td>
                           <span class="badge h6" id="CommericialWorkshopSubsciption"></span>
                           <span id="CommericialWorkshopSubsciptiondate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn  btn-sm  btn-primary" onclick="GetCOCSubscriptionBySijilNumber('@Model.YasserInfo.InvestmentLicenseNumber','@Model.YasserInfo.MembershipCityCode', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>

                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.SocialInsuranceLicience</td>
                        <td>
                           <span class="badge h6" id="SocialInsuranceLicience"></span>
                           <br />
                           <span id="verifyCompanyNameMessage" class="text-danger" hidden>@MOF.Etimad.Monafasat.Resources.VendorsResources.Messages.PleaseVerifyCompanyName</span>
                           <br />
                           <span id="SocialInsuranceCompanyName"></span>
                           <span id="SocialInsuranceLiciencedate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn btn-sm btn-primary" onclick="GOSICertificateInquiry('@Model.YasserInfo.SocialSecuritySubscriptionNumber', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>
                        </td>
                     </tr>
                     <tr>
                        <td>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.InvestmentLicience</td>
                        <td>
                           <span class="badge h6" id="InvestmentLicience"></span>
                           <span id="InvestmentLiciencedate"></span>
                        </td>
                        <td>
                           <button type="button" class="btn btn-sm  btn-primary" onclick="LicenseStatusInquiry( '@Model.YasserInfo.InvestmentLicenseNumber', event)">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Check</button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div style="text-align:center">
               <button type="button" class="btn btn-sm  btn-primary pull-center" style="text-align:center" onclick="CheckAll( )">   @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckAllDocuments</button>
            </div>
         </div>
      </div>
   }


</div>
