@using System
@model MOF.Etimad.Monafasat.ViewModel.AttachmentsModel



<div class="col col-11 pull-right">
   <div class="row">
      <div class="col-4 etd-item-title">
         @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.SupportingDocuments
         <span class="text-danger">*</span>
      </div>
      <div class="col-sm-12 col-xs-12">
         <div class="form-group bmd-form-group p-0">
            @Html.FileUploaderFor(m => m.AttachmentReference, fileMaxSize: 1024 * 350, numberOfFilesToUpload: 50, multiple: true, allowedExtensions: new List<string> { "pdf", "zip" })
            <span asp-validation-for="AttachmentReference" class="text-danger"></span>
         </div>
      </div>
   </div>
   @if (Model.AttachmentsChanges.Count() > 0)
   {

      <div id="changeDiv" class="col-md-6 col-sm-12 col-xs-12" style="padding-left:10px;">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     تعديل المرفقات
                  </div>
                  <div class="col-8 etd-item-info">
                     <div class="form-group">
                        @foreach (var item in Model.AttachmentsChanges.ToList())
                        {

                           <div class="input-group-append" style="margin-bottom: 5px;">
                              <a href="#" onclick="RedirectURL('@item.FileNetReferenceId','@item.Name'); return false;" target="_blank" class="btn btn-outline-primary btn-sm col" style="white-space: normal;">
                                 @item.Name
                                 @if (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.PurshaseSpecialist) || User.IsInRole(RoleNames.EtimadOfficer))
                                 {
                                    @if (item.DeletedAttachmentId == null)
                                    {
                                       <span class="badge badge-primary pull-right m-1"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.AddAction</span>
                                    }
                                    else
                                    {
                                       <span class="badge badge-danger pull-right m-1"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DelteAction</span>
                                    }
                                 }
                              </a>
                              <button type="button" id="btnDeleteChange" @@click="removeItem(@item.AttachmentId)" class="btn btn-danger btn-sm m-0">حذف</button>
                           </div>


                        }
                     </div>
                  </div>

               </div>
            </li>
         </ul>
      </div>
   }
   <div class="row">
      <div class="col">
         <button class="btn btn-default" id="btnPrivious">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Previous</button>
         <button type="submit" id="btnSave" class="btn btn-primary">
            @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save
         </button>
         <button type="button" id="btnCancel" class="btn btn-danger" hidden="hidden">
            @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel
         </button>
      </div>
      @if (@Model.TenderStatusId != (int)Enums.TenderStatus.Approved)
      {
         <div class="col">
            <a asp-action="TenderIndexUnderOperationsStage" asp-controller="Tender" class="btn pull-right btn-default etd-search-btn" id="btnBack">
               @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton
            </a>
         </div>
      }
   </div>
   <div class="clearfix"></div>
</div>
