@model MOF.Etimad.Monafasat.ViewModel.PreQualificationSavingModel
@using res = MOF.Etimad.Monafasat.Resources;

<div class="col-12">
   <div class="row">
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label asp-for="LastEnqueriesDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <input asp-for="LastEnqueriesDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="lastEnqueriesDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
                     <span class="form-control-feedback">
                        <i class="material-icons">calendar_today</i> 
                     </span>
                  </div>
                  <span class="badge badge-warning" id="lastEnquiriesDateVac" style="display:none">@res.TenderResources.ErrorMessages.WeekendDate </span>
                  <span asp-validation-for="LastEnqueriesDate" class="text-danger"></span>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label asp-for="LastOfferPresentationDate" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <input asp-for="LastOfferPresentationDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="lastOfferPressentationDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
                  </div>
                  <span class="badge badge-warning" id="lastOfferPressentationDateVac" style="display:none"> @res.TenderResources.ErrorMessages.WeekendDate </span>
                  <span asp-validation-for="LastOfferPresentationDate" class="text-danger"></span>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label asp-for="LastOfferPresentationTime" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <input asp-for="LastOfferPresentationTime" type="text" id="lastOfferPresentationTime" class="form-control timepicker" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Time">
                     <span asp-validation-for="LastOfferPresentationTime" class="text-danger"></span>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label asp-for="OffersCheckingDate" for="datepick" class="label bmd-label-static"></label>
                     <input asp-for="OffersCheckingDate" type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" id="offersCheckingDate" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Date" />
                  </div>
                  <span class="badge badge-warning" id="offersCheckingDateVac" style="display:none"> @res.TenderResources.ErrorMessages.WeekendDate </span>
                  <span asp-validation-for="OffersCheckingDate" class="text-danger"></span>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label asp-for="OffersCheckingTime" for="datepick" class="label bmd-label-static"></label><span class="text-danger">*</span>
                     <input asp-for="OffersCheckingTime" type="text" id="offersCheckingTime" class="form-control timepicker" placeholder="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Time">
                     <span asp-validation-for="OffersCheckingTime" class="text-danger"></span>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div>
   <button type="button" class="btn btn-default  prev-tab" onclick="prevTab()">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Previous</button>
   <button type="button" class="btn btn-primary  next-tab" onclick="nextTab()">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Next</button>
</div>
