@using MOF.Etimad.Monafasat.SharedKernel;

@if (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.Auditer) || User.IsInRole(RoleNames.PurshaseSpecialist) || User.IsInRole(RoleNames.EtimadOfficer))
{
   if (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.PurshaseSpecialist))
   {
      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForAttachments
         </span>
      </template>
      <template v-if="tender.quantitiesTableStatus == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForQuantityTables
         </span>
      </template>
      <template v-if="tender.extendDatesStatus  == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForExtendDates
         </span>
      </template>
   }
   <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Pending)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingAttachmentsUpdate
      </span>
   </template>
   <template v-if="tender.quantitiesTableStatus == @((int)Enums.ChangeStatusType.Pending)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingQuantityTableUpdate
      </span>
   </template>
   <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Pending)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingExtendDatesUpdate
      </span>
   </template>
   <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Rejected)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectAttachmentUpdate
      </span>
   </template>
   <template v-if="tender.quantitiesTableStatus == @((int)Enums.ChangeStatusType.Rejected)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectQuantityTableUpdate
      </span>
   </template>
   <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Rejected)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectExtendDateUpdate
      </span>
   </template>
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.tenderStatusId == @((int)Enums.TenderStatus.Approved) && (tender.changeRequestedBy == dataEntry || tender.changeRequestedBy == purshaseSpecialist)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestPending
      </span>
   </template>
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.tenderStatusId == @((int)Enums.TenderStatus.Approved) && (tender.changeRequestedBy == dataEntry || tender.changeRequestedBy == purshaseSpecialist)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestRejected
      </span>
   </template>
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.tenderStatusId == @((int)Enums.TenderStatus.Approved) && (tender.changeRequestedBy == dataEntry || tender.changeRequestedBy == purshaseSpecialist)">
      <span class="badge badge-primary d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestAccepted
      </span>
   </template>
}


@if (User.IsInRole(RoleNames.OffersCheckSecretary) || User.IsInRole(RoleNames.OffersCheckManager))
{

   <div v-if="(tender.tenderTypeId == @((int)Enums.TenderType.PostQualification))">
      <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == offercheckSecretry || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == offercheckManger)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestPending
         </span>
      </template>
      <template v-if="((tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == offercheckSecretry) || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == offercheckManger))">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestRejected
         </span>
      </template>
      <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.changeRequestedBy == offercheckSecretry || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.changeRequestedBy == offercheckManger)">
         <span class="badge badge-primary d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestAccepted
         </span>
      </template>
      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForAttachments
         </span>
      </template>
      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Pending)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingAttachmentsUpdate
         </span>
      </template>


      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Rejected)">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectAttachmentUpdate
         </span>
      </template>

      <template v-if="tender.extendDatesStatus  == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForExtendDates
         </span>
      </template>

      <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Pending)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingExtendDatesUpdate
         </span>
      </template>

      <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Rejected)">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectExtendDateUpdate
         </span>
      </template>
   </div>
}

@if (User.IsInRole(RoleNames.OffersPurchaseSecretary) || User.IsInRole(RoleNames.OffersPurchaseManager))
{


   <div v-if="(tender.tenderTypeId == @((int)Enums.TenderType.PostQualification))">

      <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == directPurchaseSecretry || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == directPurchaseManager)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestPending
         </span>
      </template>

      <template v-if="((tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == directPurchaseSecretry) || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == directPurchaseManager))">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestRejected
         </span>
      </template>

      <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.changeRequestedBy == directPurchaseSecretry || (tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.changeRequestedBy == directPurchaseManager)">
         <span class="badge badge-primary d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestAccepted
         </span>
      </template>

      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForAttachments
         </span>
      </template>

      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Pending)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingAttachmentsUpdate
         </span>
      </template>

      <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Rejected)">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectAttachmentUpdate
         </span>
      </template>

      <template v-if="tender.extendDatesStatus  == @((int)Enums.ChangeStatusType.New)">
         <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForExtendDates
         </span>
      </template>

      <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Pending)">
         <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingExtendDatesUpdate
         </span>
      </template>

      <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Rejected)">
         <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectExtendDateUpdate
         </span>
      </template>
   </div>
}

@if (User.IsInRole(RoleNames.PreQualificationCommitteeManager) || User.IsInRole(RoleNames.PreQualificationCommitteeSecretary))
{
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Pending) && tender.changeRequestedBy == checkSecretry">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestPending
      </span>
   </template>
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Rejected) && tender.changeRequestedBy == checkSecretry">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestRejected
      </span>
   </template>
   <template v-if="tender.cancelRequestStatus == @((int)Enums.ChangeStatusType.Approved) && tender.changeRequestedBy == checkSecretry">
      <span class="badge badge-primary d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CancelRequestAccepted
      </span>
   </template>
   <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.New)">
      <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForAttachments
      </span>
   </template>
   <template v-if="tender.extendDatesStatus  == @((int)Enums.ChangeStatusType.New)">
      <span class="badge badge-default d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.UnderUpdateForExtendDates
      </span>
   </template>
   <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Pending)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingAttachmentsUpdate
      </span>
   </template>
   <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Pending)">
      <span class="badge badge-info d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PendingExtendDatesUpdate
      </span>
   </template>
   <template v-if="tender.attachmentsStatus == @((int)Enums.ChangeStatusType.Rejected)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectAttachmentUpdate
      </span>
   </template>
   <template v-if="tender.extendDatesStatus == @((int)Enums.ChangeStatusType.Rejected)">
      <span class="badge badge-danger d-inline-block" style="margin: 0 5px;">
         @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectExtendDateUpdate
      </span>
   </template>
}
