@using MOF.Etimad.Monafasat.SharedKernel;
@model MOF.Etimad.Monafasat.ViewModel.PreQualificationApplyDocumentsModel

@{

   bool ExistingContractualObligationsFlag = true;
   bool HRFlag = true;
   bool PreviousExperienceYearFlag = true;
   bool editMode = true;
}
<div id="dvSmallSupplierConfigData">

   <div class="">
      <ul class="nav nav-pills">
         <li class="nav-item "><a class="nav-link text-center active show" href="#section1" data-toggle="tab"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.lbltechnicalCapablities    </a></li>
         <li class="nav-item"><a class="nav-link text-center " href="#section2" data-toggle="tab"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.lblFinancialcapabilities  </a></li>
      </ul>
   </div>
   <div class="tab-content tab-space p-0">
      <div class="tab-pane col-md-12 active show" id="section1">
         <div class="row">

            @*<div class="col-12">
                  <h5 class="text-primary">البيانات المالية</h5>
               </div>
               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group p-0">
                     <label class="label bmd-label-static">3232</label>
                     <input class="form-control"   type="text" id="txtSaudiaEmployeePercentage">
                     <span class="text-danger"></span>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group p-0">
                     <label class="label bmd-label-static">3232</label>
                     <input class="form-control"   type="text" id="txtSaudiaEmployeePercentage">
                     <span class="text-danger"></span>
                  </div>
               </div>

               <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group p-0">
                     <label class="label bmd-label-static">3232</label>
                     <input class="form-control"   type="text" id="txtSaudiaEmployeePercentage">
                     <span class="text-danger"></span>
                  </div>
               </div>*@

            @for (int i = 0; i < Model.lstQualificationSupplierTechDataModel.Count; i++)
            {
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationSubCategoryId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].IsConfigure" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationConfigurationId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationItemId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationCategoryId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationItemTypeId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].Min" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].Max" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].QualificationTypeId" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].Value" />
               <input type="hidden" asp-for="@Model.lstQualificationSupplierTechDataModel[i].Weight" />


               @if (Model.lstQualificationSupplierTechDataModel[i].QualificationSubCategoryId == (Int32)Enums.QualificationSubCategory.PreviousExperienceYear)
               {
                  if (PreviousExperienceYearFlag)
                  {
                     <div class="col-12">
                        <h5 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.PreviousExperience  </h5>
                     </div>
                  }

                  @if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.TotalValueProjectsLastThreeYears)
                  {
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label><span class="text-danger">*</span>
                           <input required class="form-control" onkeypress="return allowDecimalWithCustomLength(event,15)" type="text" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" value="@(editMode? @Model.lstQualificationSupplierTechDataModel[i].SupplierValue : 0 )">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>
                  }
                  else
                  {
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label><span class="text-danger">*</span>
                           <input required class="form-control" onkeypress="return allowNumeric(event);" maxlength="3" type="text" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" value="@(editMode?Convert.ToInt32(@Model.lstQualificationSupplierTechDataModel[i].SupplierValue) : 0 )">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>
                  }

                  PreviousExperienceYearFlag = false;
               }
               else if (Model.lstQualificationSupplierTechDataModel[i].QualificationSubCategoryId == (Int32)Enums.QualificationSubCategory.ExistingContractualObligations)
               {
                  if (ExistingContractualObligationsFlag)
                  {
                     <div class="col-12">
                        <h5 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.ExistingContractualObligations  </h5>
                     </div>
                  }

                  @if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.NumberOfExistingProjects)
                  {
                     <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label><span class="text-danger">*</span>
                           <input onkeypress="return allowNumeric(event)" class="form-control" maxlength="3" type="text" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" value="@(editMode?Convert.ToInt32(@Model.lstQualificationSupplierTechDataModel[i].SupplierValue) : 0 )">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>

                  }
                  else if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.ValueOfExistingProjects)
                  {
                     <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label><span class="text-danger">*</span>
                           <input onkeypress="return allowDecimalWithCustomLength(event,15)" class="form-control" type="text" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>

                  }

                  ExistingContractualObligationsFlag = false;
               }
               else if (Model.lstQualificationSupplierTechDataModel[i].QualificationSubCategoryId == (Int32)Enums.QualificationSubCategory.HumanResource)
               {
                  if (HRFlag)
                  {
                     <div class="col-12">
                        <h5 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.HR  </h5>
                     </div>
                  }

                  @if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.PercentageOfSaudiEmployees)
                  {
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label>
                           <input class="form-control" readonly type="text" id="txtSaudiaEmployeePercentage" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>
                  }
                  else if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.NumberOfEmployees)
                  {
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label>
                           <input class="form-control" onkeypress="return allowNumeric(event)" maxlength="7" onkeyup="calculateSaudiEmployeePercentage()" type="text" id="txtNumberOfTotalEmployee"   asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" value="@(editMode?Convert.ToInt32(@Model.lstQualificationSupplierTechDataModel[i].SupplierValue) : 0 )">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                        </div>
                     </div>
                  }
                  else if (Model.lstQualificationSupplierTechDataModel[i].QualificationItemId == (Int32)Enums.QualificationEvaluationItems.NumberOfSaudiEmployees)
                  {
                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group bmd-form-group p-0">
                           <label class="label bmd-label-static">@Model.lstQualificationSupplierTechDataModel[i].QualificationItemName</label>
                           <input class="form-control" onkeypress="return allowNumeric(event)" onkeyup="calculateSaudiEmployeePercentage()" maxlength="7" type="text"   id="txtSaudiaEmployeeNumber" asp-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" value="@(editMode?Convert.ToInt32(@Model.lstQualificationSupplierTechDataModel[i].SupplierValue) : 0 )">
                           <span asp-validation-for="@Model.lstQualificationSupplierTechDataModel[i].SupplierValue" class="text-danger"></span>
                           <span class="text-danger" id="spEmployeeValidation">  </span>
                        </div>
                     </div>
                  }
                  HRFlag = false;
               }


            }
         </div>
      </div>

      <div class="tab-pane col-md-12" id="section2">
         <h5 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.FinanacialDetails   </h5>
         <div class="table-responsive">
            <table class="table  table-bordered table-striped">
               <thead style="background: #29ad6f38;">
                  <tr>
                     <th>
                        البيانات المالية للسنة الحالية
                     </th>
                     <th>
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CurrentYear
                     </th>
                  </tr>
                  <tr>
                     <th colspan="2">
                        بيان الميزانية العمومية
                     </th>
                  </tr>
               </thead>

               <tbody id="bdySupplierConfigData">
                  <tr>
                     <td>
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CashEquivalents
                     </td>
                     <td>
                        <input onkeypress="return allowDecimalWithCustomLength(event,15)" class="form-control" type="text" asp-for="@Model.CashEquivalents">
                        <span asp-validation-for="@Model.CashEquivalents" class="text-danger"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.AccountsReceivable
                     </td>
                     <td>
                        <input onkeypress="return allowDecimalWithCustomLength(event,15)" class="form-control" type="text" asp-for="@Model.AccountsReceivable">
                        <span asp-validation-for="@Model.AccountsReceivable" class="text-danger"></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CurrentLiabilities
                     </td>
                     <td>
                        <input onkeypress="return allowDecimalWithCustomLength(event,15)" class="form-control" type="text" asp-for="@Model.CurrentLiabilities">
                        <span asp-validation-for="@Model.CurrentLiabilities" class="text-danger"></span>
                     </td>
                  </tr>
               </tbody>

               <tbody hidden>
                  @for (int i = 0; i < Model.lstQualificationSupplierFinancialDataModel.Count; i++)
                  {
                     <tr>
                        <td>
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].IsConfigure" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationSubCategoryId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationConfigurationId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationItemId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationCategoryId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationItemTypeId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].Min" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].Max" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].QualificationTypeId" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].Value" />
                           <input type="hidden" asp-for="@Model.lstQualificationSupplierFinancialDataModel[i].Weight" />
                        </td>
                     </tr>
                  }
               </tbody>

            </table>
         </div>
      </div>
   </div>

</div>
