@using res = MOF.Etimad.Monafasat.Resources;
@model MOF.Etimad.Monafasat.ViewModel.Qualification.QualificationSmallEvaluation

<ul class="nav nav-pills">
   <li class="nav-item "><a class="nav-link text-center active show" href="#section1" data-toggle="tab">@res.QualificationResources.DisplayInputs.TechnicalAndAdministrativeCapacity</a></li>
   <li class="nav-item"><a class="nav-link text-center " href="#section2" data-toggle="tab">@res.QualificationResources.DisplayInputs.FinancialCapacity</a></li>

</ul>


<div class="row">
   <div class="col-md-4 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-6 etd-item-title">
                  مجموع النقاط اللازم لاجتياز التأهيل
               </div>
               <div class="col-3 etd-item-info">
                  <span class="badge badge-success h6 d-inline-block" style="margin: 0px 5px;">@Model.TenderPointsToPass</span>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="col-md-4 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  مجموع نقاط المورد
               </div>
               <div class="col-3 etd-item-info">
                  <span class="badge badge-success h6 d-inline-block" style="margin: 0px 5px;">@Model.SupplierTotalPoints</span>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="col-md-4 col-sm-12 col-xs-12">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-2 etd-item-title">
                  النتيجة
               </div>
               <div class="col-3 etd-item-info">
                  <span class="badge badge-success h6 d-inline-block" style="margin: 0px 5px;">@Model.SupplierResultName</span>
               </div>
            </div>
         </li>
      </ul>
   </div>
   @if (!string.IsNullOrEmpty(Model.FailingReason))
   {
      <div class="col-md-12 col-sm-12 col-xs-12">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-2 etd-item-title">
                     سبب عدم الإجتياز
                  </div>
                  <div class="col-3 etd-item-info">
                     <span style="margin: 0px 5px;">@Model.FailingReason</span>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   }
</div>

<div class="tab-content tab-space p-0">
   <div class="tab-pane active show" id="section1">
      <div>
         <div class="row">
            <div class="col">
               <table class="table  table-bordered" summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
                  <thead class="thead-dark" style="font-size: 17px;">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.EvaluationStandard</th>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.Weight</th>
                        <th scope="row" colspan="3">
                           <table class="table" summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
                              <thead>
                                 <tr><th scope="row" colspan="3" class="text-center">نقاط التقييم</th></tr>
                                 <tr>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:darkred">1</th>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:orange">3</th>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:darkgreen">7</th>
                                 </tr>
                              </thead>
                           </table>
                        </th>
                        <th scope="row" colspan="2" class="text-center">مدخلات ونقاط المورد</th>
                     </tr>
                  </thead>
                  <thead class="thead-dark" style="font-size: 17px;">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.TechnicalAndAdministrativeCapacity</th>
                        <th scope="row" colspan="1">@Model.TechnicalAdministrativeCapacity</th>
                        <th scope="row" colspan="3"></th>
                        <th scope="row" colspan="2" class="text-center">@Model.TechnicalAdministrativeAcquiredPoints</th>
                     </tr>
                  </thead>
                  <thead>
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.PreviousExperience</th>
                        <th scope="row" colspan="1">@Model.PreviousExperienceWeight</th>
                        <th scope="row" colspan="3"></th>
                        <th scope="row" colspan="2" class="text-center">@Model.PreviousExperiencePoints</th>
                     </tr>
                     <tr>
                        <th scope="row" style="background: #efefef;">
                           @res.QualificationResources.DisplayInputs.EvaluationStandard
                        </th>
                        <th scope="row" style="background: #efefef;">
                        </th>
                        <th scope="row" style="background: #efefef;">
                           @res.QualificationResources.DisplayInputs.SmallerThan
                        </th>
                        <th scope="row" style="background: #efefef;">
                           @res.QualificationResources.DisplayInputs.range
                        </th>
                        <th scope="row" style="background: #efefef;">
                           @res.QualificationResources.DisplayInputs.LargeThan
                        </th>
                        <th scope="row" style="background: #efefef;">
                           مدخلات المورد
                        </th>
                        <th scope="row" style="background: #efefef;">
                           نقاط المورد
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>@res.QualificationResources.DisplayInputs.NumberOfExperianceYears</td>
                        <td>@Model.ExperienceYearCountWeight</td>
                        <td>@((int)Model.ExperienceYearCountMin)</td>
                        <td class="text-center">@((int)@Model.ExperienceYearCountMin) <span> - </span> @((int)Model.ExperienceYearCountMax)</td>
                        <td>@((int)Model.ExperienceYearCountMax)</td>
                        <td>@Model.SupplierExperienceYearCount</td>
                        <td>@Model.SupplierPointsExperienceYearCount</td>
                     </tr>
                     <tr>
                        <td>@res.QualificationResources.DisplayInputs.NumberOfProjects</td>
                        <td>@Model.LastProjectCountWeight</td>
                        <td>@((int)Model.LastProjectCountMin)</td>
                        <td class="text-center"><span>@((int)Model.LastProjectCountMin) - @((int)Model.LastProjectCountMax)</span></td>
                        <td>@((int)Model.LastProjectCountMax)</td>
                        <td>@Model.SupplierLastProjectCount</td>
                        <td>@Model.SupplierPointsLastProjectCount</td>
                     </tr>
                     <tr>
                        <td>@res.QualificationResources.DisplayInputs.TotalProjectsValueInThreeYears</td>
                        <td>@Model.LastProjectCostWeight</td>
                        <td>@Model.LastProjectCostMin</td>
                        <td class="text-center"><span>@Model.LastProjectCostMin - @Model.LastProjectCostMax</span></td>
                        <td>@Model.LastProjectCostMax</td>
                        <td>@Model.SupplierLastProjectCost</td>
                        <td>@Model.SupplierPointsLastProjectCost</td>
                     </tr>
                  </tbody>
                  <thead style="background:#ffffff47;">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.ExistingContractualObligations</th>
                        <th scope="row" colspan="1">@Model.ExistingContractualObligationsWeight</th>
                        <th scope="row" colspan="3"></th>
                        <th scope="row" colspan="2" class="text-center">@Model.ExistingContractualObligationsPoints</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>@res.QualificationResources.DisplayInputs.NumberOfExisitngProjects </td>
                        <td>@Model.CurrentProjectCountWeight</td>
                        <td>@((int)Model.CurrentProjectCountMin)</td>
                        <td class="text-center"><span>@((int)Model.CurrentProjectCountMin) - @((int)Model.CurrentProjectCountMax)</span></td>
                        <td>@((int)Model.CurrentProjectCountMax)</td>
                        <td>@Model.SupplierCurrentProjectCount</td>
                        <td>@Model.SupplierPointsCurrentProjectCount</td>
                     </tr>
                     <tr>
                        <td>@res.QualificationResources.DisplayInputs.ValueExistingProjectsCapacityByClassification </td>
                        <td>@Model.CurrentProjectCostWeight</td>
                        <td>@Model.CurrentProjectCostMin</td>
                        <td class="text-center"><span>@Model.CurrentProjectCostMin - @Model.CurrentProjectCostMax</span></td>
                        <td>@Model.CurrentProjectCostMax</td>
                        <td>@Model.SupplierCurrentProjectCost</td>
                        <td>@Model.SupplierPointsCurrentProjectCost</td>
                     </tr>
                  </tbody>
                  <thead style="background:#ffffff47;">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.HR</th>
                        <th scope="row" colspan="1">@Model.HRWeight</th>
                        <th scope="row" colspan="3"></th>
                        <th scope="row" colspan="2" class="text-center">@Model.HRPoints</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td id="NumberOfEmplyess">@res.QualificationResources.DisplayInputs.NumberOfEmplyess </td>
                        <td>@Model.TotalEmployeeCountWeight</td>
                        <td>@((int)Model.TotalEmployeeCountMin)</td>
                        <td class="text-center"><span>@((int)Model.TotalEmployeeCountMin) - @((int)Model.TotalEmployeeCountMax)</span></td>
                        <td>@((int)Model.TotalEmployeeCountMax)</td>
                        <td>@Model.SupplierTotalEmployeeCount</td>
                        <td>@Model.SupplierPointsTotalEmployeeCount</td>
                     </tr>
                     <tr>
                        <td id="SudianEmplyeePercentage">@res.QualificationResources.DisplayInputs.SudianEmplyeePercentage </td>
                        <td>@Model.TotalEmployeePercentageWeight</td>
                        <td>@Model.TotalEmployeePercentageMin</td>
                        <td class="text-center"><span>@Model.TotalEmployeePercentageMin - @Model.TotalEmployeePercentageMax</span></td>
                        <td>@Model.TotalEmployeePercentageMax</td>
                        <td>@Model.SupplierTotalEmployeePercentage</td>
                        <td>@Model.SupplierPointsTotalEmployeePercentage</td>
                     </tr>
                  </tbody>
                  <tfoot>
                  </tfoot>
               </table>
            </div>
         </div>
      </div>
   </div>

   <div class="tab-pane" id="section2">
      <div class="">
         <div class="row">
            <div class="col">
               <table class="table  table-bordered table-striped" summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
                  <thead class="thead-dark" style="font-size: 17px;">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.EvaluationStandard</th>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.Weight</th>
                        <th scope="row" colspan="3">
                           <table class="table" summary="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DataShow">
                              <thead>
                                 <tr><th scope="row" colspan="3" class="text-center">نقاط التقييم</th></tr>
                                 <tr>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:darkred">1</th>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:orange">3</th>
                                    <th scope="row" class="text-center" colspan="1" style="background-color:darkgreen">7</th>
                                 </tr>
                              </thead>
                           </table>
                        </th>
                        <th scope="row" colspan="2" class="text-center">مدخلات ونقاط المورد</th>
                     </tr>
                  </thead>
                  <thead class="thead-dark">
                     <tr>
                        <th scope="row" colspan="1">@res.QualificationResources.DisplayInputs.FinancialCapacity</th>
                        <th scope="row" colspan="1">@Model.FinancialCapacity</th>
                        <th scope="row" colspan="3"></th>
                        <th scope="row" colspan="2" class="text-center">@Model.FinancialAcquiredPoints</th>
                     </tr>
                  </thead>
                  <thead>
                     <tr>
                        <th scope="row" style="background:#efefef">
                           @res.QualificationResources.DisplayInputs.EvaluationStandard
                        </th>
                        <th scope="row" style="background:#efefef">
                           @res.QualificationResources.DisplayInputs.Weight
                        </th>
                        <th scope="row" style="background:#efefef">
                           @res.QualificationResources.DisplayInputs.SmallerThan
                        </th>
                        <th scope="row" style="background:#efefef">
                           @res.QualificationResources.DisplayInputs.range
                        </th>
                        <th scope="row" style="background:#efefef">
                           @res.QualificationResources.DisplayInputs.LargeThan
                        </th>
                        <th scope="row" style="background: #efefef;">
                           مدخلات المورد
                        </th>
                        <th scope="row" style="background: #efefef;">
                           نقاط المورد
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td id="CashRate"> @res.QualificationResources.DisplayInputs.CashRate </td>
                        <td>@Model.CashRateWeight</td>
                        <td>@Model.CashRateMin</td>
                        <td class="text-center"><span>@Model.CashRateMin - @Model.CashRateMax</span></td>
                        <td>@Model.CashRateMax</td>
                        <td>@Model.SupplierCashRate</td>
                        <td>@Model.SupplierPointsCashRate</td>
                     </tr>
                     <tr>
                        <td id="LiquidityRatio"> @res.QualificationResources.DisplayInputs.LiquidityRatio</td>
                        <td>@Model.LiquidityRatioWeight</td>
                        <td>@Model.LiquidityRatioMin</td>
                        <td class="text-center">@Model.LiquidityRatioMin - @Model.LiquidityRatioMax</td>
                        <td>@Model.LiquidityRatioMax</td>
                        <td>@Model.SupplierLiquidityRatio</td>
                        <td>@Model.SupplierPointsLiquidityRatio</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
