@using MOF.Etimad.Monafasat.SharedKernel;
@model MOF.Etimad.Monafasat.ViewModel.PurchaseModel
<div class="row" id="invitationbasicDetials">
   <div class="modal fade" id="invitationModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">المقابل المادى للدعوة</h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i> 
               </button>
            </div>
            <div class="modal-body">
               <div class="row" id="divInvitatioinSpecification">
                  <div class="col-12">
                     <div class="form-check">
                        <label class="form-check-label text-dark-green">
                           <input class="form-check-input" type="checkbox" required id="cbInvitationApprove" />
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ConditionsReviewed
                           <span class="form-check-sign">
                              <span class="check"></span>
                           </span>
                        </label>
                        <span class="text-danger">*</span>
                        <div class="clearfix"></div>
                        <span id="vdcbInvitationApprove" class="text-danger h6" style="display:none;">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.YouShouldReviewConditions</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
   <div class="col-12 ">
      <div class="form-group bmd-form-group">
         <div class="blockquote blockquote-success undefined" id="divTextInvitation" style="display:none">
            <div class="clearfix">
               <button class="btn btn-sm btn-link btn-primary pull-right btn-just-icon d-print-none" formtarget="_blank" onclick="printEnquiry(event)">
                  <i class="material-icons">print</i> 
               </button>
            </div>
            <div class="col-6 mx-auto text-center">
               <svg style="width: 150px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 78">
                  <defs>
                     <clipPath id="b">
                        <rect width="150" height="78" />
                     </clipPath>
                  </defs>
                  @await Html.PartialAsync("~/Views/Shared/_Logo.cshtml")
               </svg>
               <div class="col-12">
                  <h4 class="text-dark-green text-center">فاتورة شراء</h4>
               </div>
            </div>
            <small class="d-print-none">
               تم سداد المقابل المالي للمنافسة
            </small>
            <div id="printDivInvitation" class="row h6">
               <div class=" col-sm-12 col-xs-12">
                  <h5> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails</h5>
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.BillNumber
                           </div> <div class="col-6 etd-item-info"><span id="spanSadad">@Model.SadadNumber</span></div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanNumber" style="display:inline">
                                 @Model.TenderNumber
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanName">
                                 @Model.TenderName
                              </span>
                           </div>
                        </div>
                     </li>
                     @if (Model.BillBookletPrice > 0)
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col-6 etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ConditionsBookletPrice
                              </div> <div class="col-6 etd-item-info">
                                 <span id="spanPrice">
                                    @Model.BillBookletPrice
                                    @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SARiyal
                                 </span>
                              </div>
                           </div>
                        </li>
                     }
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              قيمة المقابل للمنافسة
                           </div>
                           <div class="col-6 etd-item-info">
                              <span id="spanPrice">
                                 @Model.BillInvitationFees
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SARiyal
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              المجموع
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanPrice">
                                 @if (Model.BillBookletPrice > 0)
                                 {
                                    @(Model.BillInvitationFees + Model.BillBookletPrice)
                                 }
                                 else
                                 {
                                    @(Model.BillInvitationFees)
                                 }
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SARiyal
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class=" col-sm-12 col-xs-12">
                  <h5> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SupplierDetails</h5>
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialName
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanCompany">
                                 @Model.CommericalRegisterName
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialNumber
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanCR">
                                 @Model.CommericalRegisterNo
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Email
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanEmail">
                                 @Model.Email
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col-6 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.CommitteeResources.DisplayInputs.PhoneNumber
                           </div> <div class="col-6 etd-item-info">
                              <span id="spanMobile">
                                 @Model.Mobile
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <hr />
               <div class="col-12">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InvoiceNote1
               </div>
               <br />
               <div class="col-12">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InvoiceNote2
               </div>
            </div>
         </div>
         <div class="blockquote blockquote-success undefined" id="invitationPayemntMessage" style="display:none">
            <span id="LabelInvitationPaymentMessage" class="h5 text-dark-green">
               @Model.PaymentMessage
            </span>
         </div>
         @if (Model.IsBillExpired)
         {
            <div id="divButtonInvitation">
               <button type="button" class="btn btn-primary pull-left" name="button" id="btnRepurchaseInvitation" onclick="ReGenerateInvitationFeesBill()">إعادة إصدار فاتورة شراء </button>
            </div>
         }
      </div>
   </div>
</div>
<script>
   $(document).ready(function () {
      if (@Model.PaymentStatusId == @((int)Enums.BillStatus.Paid) && @Model.Price > 0) {
         $('#divTextInvitation').show();
      }
      else {
         if ('@Model.IsBillExpired.ToString().ToLower()' == 'true') {
            $('#divButtonInvitation').show();
         }
         else {
            $("#invitationPayemntMessage").show();
            $('#divButtonInvitation').hide();
         }
      }
      function printData() {
         var divToPrint = document.getElementById("printDivInvitation");
         newWin = window.open("");
         newWin.document.write(divToPrint.outerHTML);
         newWin.print();
         newWin.close();
      }
      $('#printBtn').on('click', function () {
         printData();
      });
      $('#btBackToTender').on('click', function () {
         window.location = "Tender/AllSuppliersTenders";
      });
   });
</script>
