
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnRejectConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnRejectTechTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnRejectFinancialTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnApproveConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnApproveTechTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnApproveFinancialTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnSendConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnSendTechTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnSendFinancialTwoFilesConfirmation"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnReopenConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnReopenTechTwoFilesConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnReopenFinancialTwoFilesConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn btn-sm btn-primary modal-content-body" name="button" id="btnOpenCheckConfirmation">  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm </button>
<button type="button" class="btn  btn-primary btn-sm m-1 modal-content-body" name="button" id="btnResendVerificationCode"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ResendConfirmationCode</button>
<button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
