@model MOF.Etimad.Monafasat.ViewModel.TenderOffersModel

<div class="col-12">
   <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails</h4>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">

   <ul class="list-group form-details-list">
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderName
            </div>
            <div class="col-8 etd-item-info">
               <span>@(Model.TenderName)</span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReferenceTenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>
                  @(Model.TenderRefrenceNumber)
               </span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderNumber
            </div>
            <div class="col-8 etd-item-info">
               <span>
                  @(Model.TenderNumber)
               </span>
            </div>
         </div>
      </li>
   </ul>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
   <ul class="list-group form-details-list">
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.BuyersCount
            </div>
            <div class="col-8 etd-item-info">
               <span>
                  @(Model.InvitationsCount)
               </span>
            </div>
         </div>
      </li>
      <li class="list-group-item">
         <div class="row">
            <div class="col-4 etd-item-title">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OffersCount
            </div>
            <div class="col-8 etd-item-info">
               <span>
                  @(Model.OffersCount)
               </span>
            </div>
         </div>
      </li>
      @if (!new List<int>()
{
          (int)Enums.TenderStatus.UnderEstablishing,
          (int)Enums.TenderStatus.Established,
          (int)Enums.TenderStatus.Pending,
          (int)Enums.TenderStatus.Approved,
          (int)Enums.TenderStatus.UnitStaging,
          (int)Enums.TenderStatus.RejectedFromUnit,
          (int)Enums.TenderStatus.ReturnedFromUnitToAgencyForEdit
       }.Contains(Model.TenderStatusId))
      {
         @if (!(Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles && new List<int>()
       {
          (int)Enums.TenderStatus.OffersChecking,
          (int)Enums.TenderStatus.OffersTechnicalCheckingPending,
          //(int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed,
          (int)Enums.TenderStatus.OffersTechnicalCheckingRejected
       }.Contains(Model.TenderStatusId)))
         {
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EvaluationValue
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.EstimatedValue)
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EvaluationValueWritten
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.EstimatedValueText)
                     </span>
                  </div>
               </div>
            </li>
         }
      }
      </ul>
</div>

