@model MOF.Etimad.Monafasat.ViewModel.PreQualificationDetailsModel
@{
   ViewData["Title"] = MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.PreQualificationDetails;
   var tenderExecutionPlace = (Model != null && Model.InsideKSA != null) ? (Model.InsideKSA == true ? MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.InsideKSA : @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.OutsideKSA) : "";
}
<style>
   .agencyLogo {
      border-radius: 100%;
      border: 2px solid #ccc;
      padding: 5px;
      width: 56px;
   }
</style>
<div class="row">
   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.BasicData</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationName
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>@(Model.TenderName)</span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationNumber
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @(Model.ReferenceNumber)
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.GovAgencyName
                  </div>
                  <div class="col-8 etd-item-info">
                     <span id="subPurposSapn" style="display:block">
                        @(Model.AgencyName)
                     </span>
                  </div>
               </div>
            </li>
            @if (!User.IsInRole(MOF.Etimad.Monafasat.SharedKernel.RoleNames.supplier))
            {
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CheckingCommitteeName
                     </div>
                     <div class="col-8 etd-item-info">
                        <span id="subPurposSapn" style="display:block">
                           @(Model.CheckingCommitteeName)
                        </span>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-4 etd-item-title">
                        @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.TechnicalOrganizationName
                     </div>
                     <div class="col-8 etd-item-info">
                        <span id="subPurposSapn" style="display:block">
                           @(Model.TechnicalOrganizationName)
                        </span>
                     </div>
                  </div>
               </li>
            }
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RemainingTime
                  </div>
                  <div class="col-8 etd-item-info">
                     <div class="col-8 etd-item-info" style="direction:initial">
                        @if (Model.RemainingMins > 0 || Model.RemainingHours > 0 || Model.RemainingDays > 0)
                        {
                           <span>
                              <span class="badge badge-primary days">
                                 @(Model.RemainingMins)
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Minutes
                              </span>
                              :<span class="badge badge-primary hours">
                                 @(Model.RemainingHours)
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Hour
                              </span>
                              :<span class="badge badge-primary minute">
                                 @(Model.RemainingDays)
                                 @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Day
                              </span>
                           </span>
                        }
                        else
                        {
                           <span>
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Ended
                           </span>
                        }
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationDates</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.LastEnqueriesDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (Model.LastEnqueriesDate.HasValue)
                     {
                        <span>
                           @(Model.LastEnqueriesDateString)
                        </span>
                        <span>
                           @(Model.LastEnqueriesDateHijriString)
                        </span>
                     }
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.LastQualificationPresentationDate
                  </div>
                  <div class="col-8 etd-item-info">
                     @if (Model.LastOfferPresentationDate.HasValue)
                     {
                        <span>
                           @(Model.LastOfferPresentationDateString)
                        </span>
                        <span>
                           @(Model.LastOfferPresentationDateHijriString)
                        </span>
                     }
                     <span style="padding:0 5px;">
                        @(Model.LastOfferPresentationTime)
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationEvaluationDate
                  </div>
                  <div class="col-8 etd-item-info">

                     <span>
                        @(Model.OffersCheckingDateString)
                     </span>
                     <span>
                        @(Model.OffersCheckingDateHijriString)
                     </span>
                     <span style="padding:0 5px;">
                        @(Model.OffersCheckingTime)
                     </span>
                  </div>
               </div>
            </li>
         </ul>
         <input type="hidden" id="lastOfferPresentationDate" value="@(Model.LastOfferPresentationDate.HasValue ? @Model.LastOfferPresentationDate.Value.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("en-US")) : "")" />
      </div>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.Activity &  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.CategorizationField</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               @{if (Model.TenderActivities != null)
                  {
                     if (Model.TenderActivities.Count() > 0)
                     {
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.QualificationActivity
                           </div>
                           <div class="col-8 etd-item-info">
                              @foreach (string ten in @Model.TenderActivities)
                              {
                                 <span asp-for="CategoryName">@ten</span><br />
                              }
                           </div>
                        </div>
                     }
                  }
               }
            </li>
            <li class="list-group-item">
               @{if (Model.TenderActivities != null)
                  {
                     if (Model.TenderActivities.Count() > 0)
                     {
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EstablishingActions
                           </div>
                           <div class="col-8 etd-item-info">
                              @foreach (string ten in @Model.EstablishingActions)
                              {
                                 <span asp-for="CategoryName">@ten</span><br />
                              }
                           </div>
                        </div>
                     }
                  }
               }
            </li>
            <li class="list-group-item">
               @{if (Model.TenderActivities != null)
                  {
                     if (Model.TenderActivities.Count() > 0)
                     {
                        <div class="row">
                           <div class="col-4 etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MaintenanceOperationActions
                           </div>
                           <div class="col-8 etd-item-info">
                              @foreach (string ten in @Model.MaintenanceOperationActions)
                              {
                                 <span asp-for="CategoryName">@ten</span><br />
                              }
                           </div>
                        </div>
                     }
                  }
               }
            </li>
         </ul>
      </div>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="">
         <h4 class="text-primary">مكان التنفيذ</h4>
      </div>
      <div class="">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.ExecutionPlace
                  </div>
                  <div class="col-8 etd-item-info">
                     <span>
                        @tenderExecutionPlace
                     </span>
                  </div>
               </div>
            </li>
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @if (Model.Areas != null && Model.Areas.Count > 0)
                     {
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Areas
                     }
                     else
                     {
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Countries
                     }
                  </div>
                  <div class="col-8 etd-item-info">
                     <ol>
                        @if (Model.Areas != null && Model.Areas.Count > 0)
                        {
                           @foreach (var areaItem in Model.Areas)
                           {
                              <li> @areaItem.NameAr</li>
                           }
                        }
                        else
                        {
                           @if (Model.Countries != null && Model.Countries.Count > 0)
                           {
                              @foreach (var countryItem in Model.Countries)
                              {
                                 <li> @countryItem.Name</li>
                              }
                           }
                        }
                     </ol>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>
