@model MOF.Etimad.Monafasat.ViewModel.TenderAttachmentModel
@using MOF.Etimad.Monafasat.SharedKernel;

<div class="row" id="TenderDetials">
   <div class="col-12">
      <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Attachment</h4>
   </div>
   <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:10px;">
      <ul class="list-group form-details-list">
         <li class="list-group-item">
            <div class="row">
               <div class="col-4 etd-item-title">
                  @MOF.Etimad.Monafasat.Resources.QualificationResources.DisplayInputs.SupportingDocuments
               </div>
               <div class="col-8 etd-item-info">
                  @foreach (var item in Model.OldAttachments)
                  {
                  <a href="#" onclick="RedirectURL('@item.FileNetReferenceId','@item.Name'); return false;" target="_blank" class="btn btn-outline-primary btn-sm col-12" style="white-space: normal;">
                     @item.Name
                  </a>
                  }
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>
@if ((User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.Auditer)) && Model.AttachmentsChanges.Count > 0)
{
   <div class="row" id="TenderDetials">
      <div class="col-12">
         <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.ChangeRequest</h4>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:10px;">
         <ul class="list-group form-details-list">
            <li class="list-group-item">
               <div class="row">
                  <div class="col-4 etd-item-title">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.QualificationDocuments
                  </div>
                  <div class="col-8 etd-item-info">
                     @foreach (var item in Model.AttachmentsChanges.Where(a => a.AttachmentTypeId == (int)Enums.AttachmentType.TenderOtherFile).ToList())
                     {
                        <a href="#" onclick="RedirectURL('@item.FileNetReferenceId','@item.Name'); return false;" target="_blank" class="btn btn-outline-primary btn-sm col-12" style="white-space: normal;">
                           @item.Name
                           @if (User.IsInRole(RoleNames.DataEntry) || User.IsInRole(RoleNames.Auditer))
                           {

                              @if (item.DeletedAttachmentId == null)
                              {
                                 <span class="badge badge-primary pull-right  m-1"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.AddAction</span>
                              }
                              else
                              {
                                 <span class="badge badge-danger pull-right  m-1"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DelteAction</span>
                              }
                           }
                        </a>
                     }
                  </div>
               </div>
            </li>
         </ul>
      </div>
      @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.Attachments && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.New && User.IsInRole(RoleNames.DataEntry))
      {
         <div class="col-12 ">
            <div class="form-group bmd-form-group">
               <button type="button" class="btn btn-primary pull-left" name="button" id="btnSendChangeToApprove">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SendChangeForApprovement</button>

            </div>
         </div>
      }
      @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.Attachments && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.Pending && User.IsInRole(RoleNames.Auditer))
      {
         <div class="col-12 ">
            <div class="form-group bmd-form-group">
               <button type="button" class="btn btn-primary pull-left" name="button" id="btnAttachmentsApprrove" data-toggle="modal" data-target="#changeRequestModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ApproveChange</button>
               <button type="button" class="btn btn-danger pull-left" name="button" id="btnAttachmentsReject" data-toggle="modal" data-target="#changeRequestModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectChange</button>
            </div>
         </div>

      }
      @if (Model.ChangeRequestTypeId == (int)Enums.ChangeRequestType.Attachments && Model.ChangeRequestStatusId == (int)Enums.ChangeStatusType.Rejected && User.IsInRole(RoleNames.DataEntry))
      {
         <div class="col-12 ">

            <h3>@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</h3>
            <p>@(Model.RejectionReason)</p>

            <div class="form-group bmd-form-group">
               <button type="button" id="btnCancelAttachmentsUpdate" class="btn btn-danger" style="margin-top:30px">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CloseChange
               </button>
            </div>
         </div>
      }
   </div>
}
<script>
   var token = '';
   $(document).ready(function () {
      //function RedirectURL(id, name) {

      //   window.open("/Upload/getfile/" + id + ":" + name, '_blank');
      //}
      token = $('input[name=__RequestVerificationToken]').val();

   });

   function RedirectURL(ids, names) {
      window.open("/Upload/getfile/" + ids + ":" + names, '_blank');
   }

   $("#btnSendChangeToApprove").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("SendUpdateAttachmentsToApproveAsync", "Tender")',
         {
            tenderid: '@Model.TenderId',
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.ChangeRequestSentToApproval)', alertMessageType.Success);
            setTimeout(function () {
               window.location = '/';
            }, 3000);
         }).fail(function (error) {
           $('#LoadingSite').fadeOut();
           if (error.responseText != "Logout") {
              AlertFun(error.responseJSON.message, alertMessageType.Danger);
           }
           else if (error.responseText == "Logout") {
              window.location = '/account/logout'; return;
           }
         });
   });
</script>
