@{
   bool? unitSecretryHaveValue = Model.IsUnitSecreteryAccepted;
}
@if ((Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.WaitingUnitSecretaryReview || Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelOne))
{
   <div class="modal fade" id="OpenModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.AreYouSure
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmOpen">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
   @if (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelOne)
   {
<form>
   @Html.AntiForgeryToken()
   <div class="modal fade" id="EditModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectEditType
               <select data-live-search="true" name="TenderModificationTypeId" id="dD_TenderModificationTypeId" class="selectpicker"
                       asp-items="@(new SelectList(ViewBag.TenderModificationsOptions, "Id", "Name"))" data-style="select-with-transition" data-size="8">
                  <option value="">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectEditType </option>
               </select>
               <div class="form-group bmd-form-group" style="padding-top:0">
                  <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ModificationDescription</label><span class="text-danger">*</span>
                  <textarea rows="5" class="form-control" id="txtEditNotes" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ModificationDescription">
                        </textarea>

               </div>
               <div class="form-group bmd-form-group" style="padding-top:0">
                  <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.UploadFile</label>
                  <div class="" id="bankUploader">
                     @Html.FileUploader("MyFiles", fileMaxSize: 1024 * 350, numberOfFilesToUpload: 40, multiple: true, allowedExtensions: new List<string> { "pdf", "zip" })
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group bmd-form-group p-0">
                  <label class="label bmd-label-static"></label>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmSendToEdit">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
   <div class="modal fade" id="ReAssignModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectUnitLevelTwoUser
               <select data-live-search="true" name="LevelTwoUsers" id="dD_LevelTwoUsers" class="selectpicker"
                       asp-items="@(new SelectList(ViewBag.UnitSecretryLevelTwo, "Value", "Name"))" data-style="select-with-transition" data-size="8">
                  <option value="">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SelectUnitLevelTwoUser </option>
               </select>
               <div class="form-group bmd-form-group" style="padding-top:0">
                  <label class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Notes</label>
                  <textarea rows="5" class="form-control" id="txtAssigenNotes" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Notes">
                        </textarea>
               </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <div class="form-group bmd-form-group p-0">
                  <label class="label bmd-label-static"></label>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmReAssign">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
</form>
   }
   <div class="modal fade" id="ApproveModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               
               <div class="form-group bmd-form-group p-0">
                  <div class="form-check">
                     <label class="form-check-label text-dark-green" style="color: #00665e !important;">
                        <input class="form-check-input" id="IWouldLikeToAttendTheommitte" type="checkbox" value="">
                        @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.IWouldLikeToAttendTheCommitte @(" ")@Model.OffersCheckingCommitteeName
                        <span class="form-check-sign">
                           <span class="check"></span>
                        </span>
                     </label>
                  </div>
               </div>

               </div>
               <div class="modal-footer">
                  <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmApprove">
                     @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
                  </button>
                  <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
               </div>
            </div>
      </div>
   </div>
   <div class="modal fade" id="RejectedModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">
                  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
               </h5>
               <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                  <i class="material-icons">clear</i>
               </button>
            </div>
            <div class="modal-body">
               <div class="form-group bmd-form-group" style="padding-top:0">
                  <label for="RejectionReason" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</label>
                  <input type="text" class="form-control" id="txtRejectionReason" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason" />
                  <div class="pull-left">
                     <span class="bmd-help text-danger" id="txtRejectionReasonValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason</span>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-primary btn-sm" type="button" value="" id="btnConfirmReject">
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
               </button>
               <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
            </div>
         </div>
      </div>
   </div>
}
<div class="">
   <div class="col-12 ">
      @if (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.WaitingUnitSecretaryReview)
      {
         <button type="button" class="btn btn-primary pull-left" name="button" id="btnOpenTender" data-toggle="modal" data-target="#OpenModel">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Open</button>
      }
      @if (Model.CanUnitDoAnyAction && (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.UnderUnitReviewLevelOne))
      {
         if (unitSecretryHaveValue.HasValue == true)
         {
            <button class="btn btn-primary pull-left" type="button" value="" id="btnSendToApprove">
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.SendToApprove
            </button>
         }
         <div class="dropdown d-inline">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               @(unitSecretryHaveValue.HasValue == true ? MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EditUnitDesision : MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.EnterUnitDesision)

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditModel">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReturnForEdit</a>
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ApproveModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ApproveUnitReview</a>
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#RejectedModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectUnitReview</a>
            </div>
         </div>
         <button type="button" class="btn btn-primary pull-left" name="button" id="btnApprove" data-toggle="modal" data-target="#ReAssignModel">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TransferToAnotherSecretery</button>
         @*<button type="button" class="btn btn-primary pull-left" name="button" data-toggle="modal" data-target="#EditModel">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ReturnForEdit</button>*@
      }
      else if (Model.TenderUnitStatusId == (int)Enums.TenderUnitStatus.RejectedByManager)
      {
         <button class="btn btn-primary pull-left" type="button" value="" id="btnReOpen">
            @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Reopen
         </button>
      }
   </div>
</div>
<script>

   $("#btnReject").click(function () {
      $("#txtRejectionReason").val('');
   });
   $("#btnConfirmOpen").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getOpenTenderByUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#OpenModel").modal("hide"); 
            $("#btnOpenTender").attr('disabled', true); 
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderDetailsForUnitSecretary?tenderIdString=' + getTenderStringId();
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#OpenModel").modal("hide");
            $("#btnOpenTender").attr('disabled', true);  
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmSendToEdit").on("click", function () { 
      if ($("#dD_TenderModificationTypeId").val() <= 0) {
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.PleaseSelectModificaitonType)', alertMessageType.Danger);
         return;
      }
      if ($("#txtEditNotes").val().trimEnd() == '') {
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.PleaseEnterModicationDescription)', alertMessageType.Danger);
         return;
      }
      $('#LoadingSite').fadeIn();
      $.post(getSendTenderByUnitSecretaryForModificationAsyncUrl(),
         {
            tenderIdString: getTenderStringId(),
            modificationTypeId: $("#dD_TenderModificationTypeId").val(),
            notes: $("#txtEditNotes").val(),
            filesString: $("#MyFiles").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#EditModel").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);

            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#EditModel").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);

            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmReAssign").on("click", function () {
      if (!$("#dD_LevelTwoUsers").val()) {
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.PleaseSelectLevel2Spacialist)', alertMessageType.Danger);
         return;
      }
      $('#LoadingSite').fadeIn();
      $.post(getSendToLevelTwoFromUnitSecretaryLevelOneAsyncUrl(),
         {
            tenderIdString: getTenderStringId(),
            userName: $("#dD_LevelTwoUsers").val(),
            notes: $("#txtAssigenNotes").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ReAssignModel").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);

            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ReAssignModel").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmApprove").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getApproveTenderByUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            IWouldLikeToAttendTheommitte: $("#IWouldLikeToAttendTheommitte").prop('checked') == true,
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);

            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderDetailsForUnitSecretary?tenderIdString=' + getTenderStringId();
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true);
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnConfirmReject").on("click", function () {
      if (!$("#txtRejectionReason").val()) {
         AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.RejectReasonMustHaveValue)', alertMessageType.Danger);
         return;
      }
      $('#LoadingSite').fadeIn();
      $.post(getRejectTenderFromUnitSecretaryUrl(),
         {
            tenderIdString: getTenderStringId(),
            comment: $("#txtRejectionReason").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#RejectedModal").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true);
            $("#btnApprove").attr("disabled", true); 
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderDetailsForUnitSecretary?tenderIdString=' + getTenderStringId();
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#RejectedModal").modal("hide");
            $("#dropdownMenuButton").attr("disabled", true); 
            $("#btnApprove").attr("disabled", true);

            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnSendToApprove").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getSendTenderToApproveToApproveUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderIndexUnitStage';
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   $("#btnReOpen").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post(getReOpenUrl(),
         {
            tenderIdString: getTenderStringId(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(getSuccessfulyDoneResourceValue(), alertMessageType.Success);
            setTimeout(function () {
               window.location = '/Tender/TenderDetailsForUnitSecretary?tenderIdString=' + getTenderStringId();
            }, 3000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            $("#ApproveModal").modal("hide");
            AlertFun(error.responseJSON.message, alertMessageType.Danger);
         });
   });
   function getOpenTenderByUnitSecretaryUrl() { return '@Url.Action("OpenTenderByUnitSecretaryAsync", "Tender")'; }
   function getSendTenderByUnitSecretaryForModificationAsyncUrl() { return '@Url.Action("SendTenderByUnitSecretaryForModificationAsync", "Tender")'; }
   function getSendToLevelTwoFromUnitSecretaryLevelOneAsyncUrl() { return '@Url.Action("SendToLevelTwoFromUnitSecretaryLevelOneAsync", "Tender")'; }
   function getApproveTenderByUnitSecretaryUrl() { return '@Url.Action("ApproveTenderByUnitSecretaryAsync", "Tender")'; }
   function getRejectTenderFromUnitSecretaryUrl() { return '@Url.Action("RejectTenderByUnitSecretaryAsync", "Tender")'; }
   function getSendTenderToApproveToApproveUrl() { return '@Url.Action("SendToApproveFromUnitSecretaryToUnitMangerAsync", "Tender")'; }
   function getReOpenUrl() { return '@Url.Action("ReOpenTenderByUnitSecertaryAsync", "Tender")'; }
   function getTenderStringId() { return '@Model.TenderIdString'; }
</script>
