

<option value="@((int)Enums.PageSize.Six)">@((int)Enums.PageSize.Six)</option>
<option value="@((int)Enums.PageSize.Twelve)">@((int)Enums.PageSize.Twelve)</option>
<option value="@((int)Enums.PageSize.Eighteen)">@((int)Enums.PageSize.Eighteen)</option>
<option value="@((int)Enums.PageSize.TwentyFour)">@((int)Enums.PageSize.TwentyFour)</option>
