@using res = MOF.Etimad.Monafasat.Resources
@model MOF.Etimad.Monafasat.ViewModel.AnnouncementTemplateMainDetailsModel

@{
   ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementTemplateDetails;

}

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>
         <li class="breadcrumb-item active" aria-current="page"><a asp-controller="AnnouncementSuppliersTemplate" asp-action="AllSupplierAnnouncementSupplierTemplates">@MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AllAnnouncementTemplate</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementTemplateDetails</li>
      </ol>
   </nav>
}


@section pagecontrols{
   @if ((User.IsInRole(RoleNames.supplier) && Model.HasJoinRequest) || (!User.IsInRole(RoleNames.supplier) && Model.IsApprovedAndValidAnnoncement))
   {
      <div class="dropdown">
         <a target="_blank" class="btn p-2 btn-outline-primary pull-left"
            href="AnnouncementTemplateJoinRequestsDetailsReportForSupplier?announcementIdString=@Model.AnnouncementIdString"
            title="@MOF.Etimad.Monafasat.Resources.AnnouncementResources.DisplayInputs.AnnouncementTemplateDetails"
            data-original-title="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.TenderDetails" data-toggle="tooltip">
            <i class="material-icons">assignment</i>طباعة تفاصيل القائمة<div class="ripple-container"></div>
         </a>
      </div>

   }
}
@section modalTitle{
   @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
}
@section modalContent{

   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divApprovedTender">
      <div class="text-center">
         <p class="text-center">تأكيد الموافقة على التأهيل</p>
      </div>
   </div>
}
@section modalButtons{
   <button type="button" class="btn btn-link btn-success ModalElement" name="button" id="btnSendRequest">
      @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm
   </button>
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnApproveConfirmation">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnRejectConfirmation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>

}

<form id="antiForgeryTokenHolder">
   @Html.AntiForgeryToken()
</form>
<div class="col-12" id="announcemetDetails">
   <div class="clearfix"></div>
   <div class="row">

      <ul class="nav nav-pills nav-pills-icons" role="tablist">
         <li class="nav-item">
            <a class="nav-link active text-center show" id="basicStepTab" href="#d-1" role="tab" data-toggle="tab" aria-selected="true">
               <i class="material-icons">dashboard</i>
               @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.MainInformation
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-center" id="activityTab" href="#d-2" role="tab" data-toggle="tab" aria-selected="true">
               <i class="material-icons">chat</i>
               العناوين والأنشطة
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-center" id="attachmentTab" href="#d-3" role="tab" data-toggle="tab" aria-selected="true">
               <i class="material-icons">chat</i>
               المواصفات والمرفقات المطلوبة للانضمام للقائمة
            </a>
         </li>
         @if (User.IsInRole(RoleNames.supplier) && Model.HasJoinRequest)
         {
            <li class="nav-item">
               <a class="nav-link text-center" id="joinRequestTab" href="#d-4" role="tab" data-toggle="tab" aria-selected="true">
                  <i class="material-icons">chat</i>
                  طلب الانضمام للقائمة
               </a>
            </li>
         }

      </ul>
      <div class="tab-content  tab-space col-12 " style="padding:0">
         <div class="tab-pane active animated fadeInLeft delay-1s show" id="d-1">
            <div class="card">
               <div class="card-body" id="basicStepDiv">
                  @Html.Partial("~/Views/AnnouncementSuppliersTemplate/Partials/_AnnouncementTemplateMainDetails.cshtml", Model)
               </div>
            </div>
         </div>
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-2">
            <div class="card">
               <div class="card-body" id="activityDiv">
               </div>
            </div>
         </div>
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-3">
            <div class="card">
               <div class="card-body" id="attachmentDiv">
               </div>
            </div>
         </div>
         <div class="tab-pane animated fadeInLeft delay-1s" id="d-4">
            <div class="card">
               <div class="card-body" id="joinRequestDiv">
               </div>
            </div>
         </div>
      </div>

   </div>

   @if (Model.Attachments != null && Model.Attachments.Any())
   {

      <div class="row">
         <div class="card">
            <div class="card-body" id="attachemntsDiv">
               <div class="row">

                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="">
                        <h4 class="text-primary">المرفقات لطلب الانضمام للقائمة </h4>
                     </div>
                     <div class="">

                        <table aria-describedby=" المرفقات" class="table table-striped">
                           <thead class="thead-dark">
                              <tr>
                                 <th scope="col">الرقم </th>

                                 <th scope="col">اسم المرفق</th>
                                 <th scope="col">المرفق</th>
                              </tr>
                           </thead>
                           <tbody>
                              @{
                                 int index = 0;
                                 foreach (var item in Model.Attachments)
                                 {
                                    <tr>
                                       <td class="text-center text-success">
                                          <strong>@(++index) </strong>
                                       </td>
                                       <td class="text-center text-success">@item.Name</td>
                                       <td class="text-center text-success">
                                          <a href="#" onclick="RedirectURL('@item.FileNetReferenceId','@item.Name'); return false;" target="_blank" class="btn btn-outline-primary btn-sm" style="white-space: normal;">
                                             <i class="material-icons">insert_drive_file</i>  @item.Name
                                          </a>
                                       </td>
                                    </tr>
                                 }
                              }
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   }

   @if (User.IsInRole(RoleNames.supplier) && Model.IsApprovedAndValidAnnoncement && !(Model.isSupplierBlocked.HasValue && Model.isSupplierBlocked.Value))
   {

      @if (!Model.HasPendingOrAcceptedJoinRequest)
      {
         <form id="attchmentsForm" method="POST" asp-controller="AnnouncementSuppliersTemplate" asp-action="SendJoinRequestToAnnouncment" autocomplete="off">
            @if (Model.IsRequiredAttachmentToJoinList)
            {
               <h5>يتم رفع الملفات بحسب طلب الجهة</h5>
               <div class="row">
                  <div class="col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group bmd-form-group ">
                        <label asp-for="AttachmentReference" class="label bmd-label-static"></label>
                        @Html.FileUploaderFor(m => m.AttachmentReference, fileMaxSize: 1024 * 350, numberOfFilesToUpload: 50, multiple: true, allowedExtensions: new List<string> { "pdf", "zip" })
                     </div>
                     <div class="pull-left">
                        <span class="bmd-help text-danger" id="txtAttachmentsValidation" style="display:none;">@res.TenderResources.ErrorMessages.AttachmentsNotAdded</span>
                        <br />
                     </div>
                  </div>
               </div>
            }
            else
            {
               <h5>لا يوجد مرفقات</h5>
            }

            <input asp-for="AnnouncementId" id="hdnAnnouncementId" type="hidden" />

            <div class="row">

               <button type="button" @@click="sendJoinRequest()" class="btn btn-primary pull-left">
                  طلب انضمام لقائمة الموردين
               </button>

            </div>
         </form>


         <div class="modal fade" id="joinRequestModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title">  تأكيد ارسال طلب انضمام لقوائم الاعلانات</h5>
                     <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="">
                        <p>
                           عند قبول الجهة لطلب انضمامك للقائمة فانه لا يوكد أي التزام على الجهة بإرسال الدعوات لجميع المسجلين عند استخدامها لهذه القائمة
                        </p>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary btn-sm m-1" name="button" @@click="sendJoinRequestAnnouncemetTemplate()"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Send</button>
                     <button type="button" class="btn btn-danger  btn-link btn-sm m-1" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
                  </div>
               </div>
            </div>
         </div>
      }
      else
      {
         <div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title"> تأكيد الانسحاب من قائمة الموردين</h5>
                     <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="">
                        <p>
                           @MOF.Etimad.Monafasat.Resources.AnnouncementSupplierTemplateResources.DisplayInputs.WithdrawFromAnnouncementListConfirmation
                        </p>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-primary btn-sm m-1" name="button" @@click="withdrawFromAnnouncement()"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
                     <button type="button" class="btn btn-danger  btn-link btn-sm m-1" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
                  </div>
               </div>
            </div>
         </div>

         <div class="row">

            <button type="button" @@click="withdraw()" class="btn btn-primary pull-left">
               @MOF.Etimad.Monafasat.Resources.AnnouncementSupplierTemplateResources.DisplayInputs.WithdrawFromAnnouncementList
            </button>

         </div>
      }
   }
</div>
<div class="row" id="approval">
   <div class="col-12 ">
      <a class="btn btn-outline-primary btn-link pull-right" asp-action="AllSupplierAnnouncementSupplierTemplates" asp-controller="AnnouncementSuppliersTemplate">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton</a>
   </div>
</div>

@section scripts{
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />

   <script>
      function RedirectURL(ids, names) {
         window.open("/Upload/getfile/" + ids + ":" + names, '_blank');
      }
   </script>
   <script>
       var app = new Vue({
          el: '#announcemetDetails',
          data: {
             announcmentIdString: '@Model.AnnouncementIdString',
             isRequiredAttachmentToJoinList: '@Model.IsRequiredAttachmentToJoinList' == 'True' ? true : false
         },
          methods: {
             sendJoinRequest: function () {
                if (this.isRequiredAttachmentToJoinList && $("#AttachmentReference").val() == "") {
                   $("#txtAttachmentsValidation").show();
                   return;
                }
                $("#joinRequestModal").modal("show");
             },
             sendJoinRequestAnnouncemetTemplate: function () {
                $("#joinRequestModal").modal("hide");
                $('#LoadingSite').fadeIn();
                document.getElementById("attchmentsForm").submit();
                $('#LoadingSite').fadeOut();
             },
             withdraw: function () {
                $("#withdrawModal").modal("show");
             },
             withdrawFromAnnouncement: function () {
                var token = $('#antiForgeryTokenHolder input[name=__RequestVerificationToken]').val();
                $("#withdrawModal").modal("hide");

                  $('#LoadingSite').fadeIn();
             $.post('@Url.Action("WithdrawFromAnnouncementTemplate", "AnnouncementSuppliersTemplate")',
               {
                  joinRequestIdString: '@Model.JoinRequestIdString',
                  __RequestVerificationToken: token
               }).done(function () {
                  $('#LoadingSite').fadeOut();
                  //$("#btnReOpen").attr("disabled", true);
                  AlertFun("تمت عملية الانسحاب من القائمة", alertMessageType.Success);

                  setTimeout(function () {
                      window.location = '@Url.Action("AllSupplierAnnouncementSupplierTemplates", "AnnouncementSuppliersTemplate")';
                  }, 3000);
               }).fail(function (error) {
                  $('#LoadingSite').fadeOut();
                  if (error.responseText != "Logout") {
                     AlertFun(error.responseJSON.message, alertMessageType.Danger);
                  }
                  else if (error.responseText == "Logout") {
                     window.location = '/account/logout'; return;
                  }
               });             }
         }
      });

      $('#activityTab').click(function () {
         $('#loader').show();
         $.get('/AnnouncementSuppliersTemplate/GetAnnouncementTemplateActivityAndAddressViewComponenet?announcementIdStr=' + '@Model.AnnouncementIdString', function (data) {
            $("#activityDiv").html(data);
            $('#loader').hide();
         });
      });

      $('#attachmentTab').click(function () {
         $('#loader').show();
         $.get('/AnnouncementSuppliersTemplate/GetAnnouncementTemplateAttachmentViewComponenet?announcementIdStr=' + '@Model.AnnouncementIdString', function (data) {
            $("#attachmentDiv").html(data);
            $('#loader').hide();
         });
      });

      $('#joinRequestTab').click(function () {
         $('#loader').show();
         $.get('/AnnouncementSuppliersTemplate/GetAnnouncementTemplateJoinRequestViewComponenet?announcementIdStr=' + '@Model.AnnouncementIdString', function (data) {
            $("#joinRequestDiv").html(data);
            $('#loader').hide();
         });
      });
   </script>
}




