@model MOF.Etimad.Monafasat.ViewModel.SupplierBlockModel


@{
   ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AddToBlockList;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedListRequest</li>
      </ol>
   </nav>
}
@Html.AntiForgeryToken()
   <form method="Post" action="" class="my-form">
      <input type="hidden" id="ModuleType" value="4" />
      <div class="card">
         <div class="card-body">
            <div class="row">
               <input type="text" class="form-control" hidden id="SupplierBlockId" asp-for="SupplierBlockId" value="@(Model.SupplierBlockId)">
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">

                     <label for="SupplierTypeId" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.SupplierType<span class="text-danger">*</span></label>
                     @if ((Model.SupplierTypeId == 1))
                     {
                        <input type="text" hidden asp-for="SupplierTypeId" value="@Model.SupplierTypeId" />
                        <input type="text" disabled class="form-control" value="يملك سجل تجاري">
                     }
                     else if (Model.SupplierTypeId == 2)
                     {
                        <input type="text" hidden asp-for="SupplierTypeId" value="@Model.SupplierTypeId" />
                        <input type="text" disabled class="form-control" value="لايملك سجل تجاري">
                     }
                     else
                     {
                        <select data-live-search="false" name="SupplierTypeId" id="SupplierType" onchange="changeBlockType()" class="selectpicker" data-style="select-with-transition" title=@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Choose data-size="7" asp-for="SupplierTypeId">
                           <option value="1">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.HaveCommertialRegistration</option>
                           <option value="2">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.DontHaveCommertialRegistration</option>
                        </select>
                        <span asp-validation-for="SupplierTypeId" class="text-danger"></span>
                     }
                  </div>
               </div>

               @if (Model.SupplierTypeId == 2)
               {
                  <div class="col-lg-4 col-sm-6 col-xs-12" id="OrganizationTypeDiv">
                     <div class="form-group bmd-form-group">
                        <input type="hidden" name="@Model.OrganizationTypeId" value="@Model.OrganizationTypeId" />
                        <label for="OrganizationType" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.OrganizationType<span class="text-danger">*</span></label>
                        @if ((Model.OrganizationTypeId == 1 && Model.SupplierTypeId == 2))
                        {
                           <input type="text" disabled class="form-control" value="مستثمر أجنبي">
                        }
                        else if ((Model.OrganizationTypeId == 2 && Model.SupplierTypeId == 2))
                        {
                           <input type="text" disabled class="form-control" value="رخصة مزاولة مهنة">
                        }
                     </div>
                  </div>
               }
               else
               {
                  <div class="col-lg-4 col-sm-6 col-xs-12" id="OrganizationTypeDiv" style="display:none;">
                     <div class="form-group bmd-form-group">
                        <label for="OrganizationType" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.OrganizationType<span class="text-danger">*</span></label>
                        <select data-live-search="false" name="OrganizationTypeId" id="OrganizationTypeId" onchange="changeBlockType()" class="selectpicker" data-style="select-with-transition" title=@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Choose data-size="7" asp-for="OrganizationTypeId">
                           <option value="1">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ForeignCustomer</option>
                           <option value="2">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Practicing</option>
                        </select>
                        <span asp-validation-for="OrganizationTypeId" class="text-danger"></span>
                     </div>
                  </div>
               }

               <div class="col-lg-4 col-sm-4 col-xs-12" id="CommercialRegistrationNoDiv">
                  <div class="form-group bmd-form-group">
                     <label id="lblCrName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo<span class="text-danger">*</span></label>
                     <div class=" input-group">
                        @if ((Model.SupplierTypeId == 1))
                        {
                           <input type="text" class="form-control" readonly  id="CommercialRegistrationNo" asp-for="CommercialRegistrationNo" value="@(Model.CommercialRegistrationNo)">
                        }
                        else
                        {
                           <input type="text" class="form-control" id="CommercialRegistrationNo" asp-for="CommercialRegistrationNo" value="@(Model.CommercialRegistrationNo)">
                           <div class="input-group-append">
                              <button type="button" class="btn btn-primary btn-sm" id="fetchCrName">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search</button>
                           </div>
                        }

                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="CommercialSupplierName" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName<span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="CommercialSupplierName" asp-for="CommercialSupplierName" value="@(Model.CommercialSupplierName)">
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ResolutionNumber" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ResolutionNumber<span class="text-danger">*</span></label>
                     <input type="number" class="form-control" asp-for="ResolutionNumber">
                     <span asp-validation-for="ResolutionNumber" class="text-danger"></span>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" id="DateDiv">
                  <div class="form-group form-check etd-calendar-group">
                     <label for="datepick" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockStartDate<span class="text-danger">*</span></label>
                     <div class="input-group-prepend">
                        <input type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" asp-for="BlockStartDate" data-search="BlockStartDate" name="BlockStartDate" id="blockStartDate" placeholder=@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockStartDate>
                        <span asp-validation-for="BlockStartDate" class="text-danger"></span>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="form-group form-check etd-calendar-group">
                     <label for="datepick" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockEndDate</label>
                     <div class="input-group-prepend">
                        <input type="text" class="form-control datepicker-mix datepicker-gregorian inputMask" asp-for="BlockEndDate" data-search="BlockEndDate" name="BlockEndDate" id="blockEndDate" placeholder="@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockEndDate">
                        <span asp-validation-for="BlockEndDate" class="text-danger"></span>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="ResolutionNumber" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockReason<span class="text-danger">*</span></label>
                     <input class="form-control" id="SecretaryBlockReason" asp-for="SecretaryBlockReason" value="@(Model.SecretaryBlockReason)">
                     <span id="secretaryBlockReasonMessage" class="text-danger" style="display:none;"> ادخل سبب تقديم طلب المنع</span>
                  </div>
               </div>
               <div>
                  <input class="form-control" id="SecretaryBlockReason" type="hidden" asp-for="AgencyCode" value="@(Model.AgencyCode)">
               </div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="Punishment" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Punishment<span class="text-danger">*</span></label>
                     <input type="text" class="form-control" id="Punishment" asp-for="Punishment" value="@(Model.Punishment)">
                     <span asp-validation-for="Punishment" class="text-danger"></span>
                  </div>
               </div>
               <div class="col-lg-4 col-sm-6 col-xs-12">
                  <div class="form-group bmd-form-group">
                     <label for="AttachmentId" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AttachmentRef <span class="text-danger">*</span></label>
                     <div class="">
                        @Html.FileUploaderFor(m => m.SecretaryFileNetReferenceId, fileMaxSize: 1024 * 350, numberOfFilesToUpload: 4, multiple: false, allowedExtensions: new List<string> { "pdf", "zip" })

                     </div>
                     <span asp-validation-for="SecretaryFileNetReferenceId" class="text-danger"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
  
         <div class="col-12 ">

         </div>
         <button class="btn btn-primary" type="submit" id="createAsync">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Send</button>
         <button class="btn btn-danger" type="reset" onclick="window.location = '/Block/GetSecretaryBlockList'">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Cancel</button>
         <button class="btn btn-outline-primary btn-link pull-right" type="button" onclick="window.location = '@Url.Action("GetSecretaryBlockList", "BLock")'">
            @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.BackButton
            <div class="ripple-container"></div>
         </button>
 
   </form>

@section scripts {
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.min.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />

   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>

      $(document).ready(function () {
         changeBlockType();
         $("#fetchCrName").on("click", function () {
            $('#LoadingSite').fadeIn();
            $.ajax({

               type: "GET",
               url: "GetCrNameAsync",
               data: {
                  Cr: $("#CommercialRegistrationNo").val().trim()
               },
               success: function (data) {
                  $("#CommercialSupplierName").val(data);
                  $('#LoadingSite').fadeOut();
               },
               error: function (error) {
                  $('#LoadingSite').fadeOut();
                  AlertFun(error.responseJSON.message, alertMessageType.Danger);
               }
            });
         });

         validateblockStartDate();
         validateblockEndDate();
      });

      function validateblockStartDate() {
         var blockStartDate = $("#blockStartDate").val();
         var blockStartDateGregorian
         if ($('#cb_blockStartDate').is(':checked')) {
            var i = blockStartDate.split('/');
            blockStartDateGregorian = i[1] + '/' + i[0] + '/' + i[2];
         }
         else {
            blockStartDateGregorian = convertUmmalquraToGregorian(blockStartDate);
         }
      }

      function validateblockEndDate() {
         var blockEndDate = $("#blockEndDate").val();
         var blockEndDateDateGregorian
         if ($('#cb_blockEndDate').is(':checked')) {
            var i = blockEndDate.split('/');
            blockEndDateDateGregorian = i[1] + '/' + i[0] + '/' + i[2];
         }
         else {
            blockEndDateDateGregorian = convertUmmalquraToGregorian(blockEndDate);
         }
      }

      function changeBlockType2() {

         var HasCRNValue = '@Model.SupplierTypeId';
         var ForignCustomer = '@Model.OrganizationTypeId';

         if (HasCRNValue == 2 && ForignCustomer == 2) {
         $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.LicenseNumber');
         } else if (HasCRNValue == 1) {
            $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo');
            $('#OrganizationTypeDiv').css('display', 'none');
         } else if (HasCRNValue == 2 && ForignCustomer == 1) {
            $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CRNOrigin');
         }
         else if (HasCRNValue == 2) {
            $('#OrganizationTypeDiv').css('display', 'block');
         } else {
            $('#CommercialRegistrationNoDiv').css('display', 'none');
            $('#CRNOriginDiv').css('display', 'none');
            $('#LicenseNumber').css('display', 'none');
            $('#OrganizationTypeDiv').css('display', 'none');
         }
      }

      function changeBlockType() {
         
         var HasCRNValue = $("#SupplierType").val();
         var ForignCustomer = $("#OrganizationTypeId").val();
         if (HasCRNValue == 2 && ForignCustomer == 2) {
            $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.LicenseNumber');
            $("#fetchCrName").hide(); 
            $('#CommercialRegistrationNoDiv').css('display', 'block');
            $('#CRNOriginDiv').css('display', 'none');
            $('#LicenseNumber').css('display', 'block');
         } else if (HasCRNValue == 1) {
            $("#fetchCrName").show(); 
               $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo');
            $('#CommercialRegistrationNoDiv').css('display', 'block');
            $('#CRNOriginDiv').css('display', 'none');
            $('#LicenseNumber').css('display', 'none');
            $('#OrganizationTypeDiv').css('display', 'none');
         } else if (HasCRNValue == 2 && ForignCustomer == 1) {
            $("#lblCrName").html('@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CRNOrigin');
            $("#fetchCrName").hide();
            $('#CommercialRegistrationNoDiv').css('display', 'block');
            $('#CRNOriginDiv').css('display', 'block');
            $('#LicenseNumber').css('display', 'none');
         }
         else if (HasCRNValue == 2) {
            $('#CommercialRegistrationNoDiv').css('display', 'none');
            $('#OrganizationTypeDiv').css('display', 'block');
         } else {
            $('#CommercialRegistrationNoDiv').css('display', 'block');
         }
      }


      $("form").submit(function (event) {
         if ($("#SecretaryBlockReason").val().trim() !="") {
            $("#secretaryBlockReasonMessage").hide();
         } else {
            $("#secretaryBlockReasonMessage").show();
            return false;
         }

         if ($("#blockStartDate").val().trim() != "") {
            if ($("#blockStartDate").val().trim() != "" && $("#blockEndDate").val().trim() != "") {
               if ((stringToDate(convertUmmalquraToGregorianDate($("#blockStartDate").val(), $("#cb_blockStartDate").prop("checked")), "dd/MM/yyyy", "/") >= stringToDate(convertUmmalquraToGregorianDate($("#blockEndDate").val(), $("#cb_blockEndDate").prop("checked")), "dd/MM/yyyy", "/"))) {
                  AlertFun("لابد أن يكون تاريخ نهاية المنع أكبر من تاريخ بداية المنع", alertMessageType.Danger);
                  return false;
               }
            }
         }      
      });

      function convertUmmalquraToGregorianDate(hijriDate, isGregorianDate) {
         var from = 'ummalqura';
         var to = 'gregorian';
         var calendarFrom = $.calendars.instance(from);
         var calendarTo = $.calendars.instance(to);
         if (isGregorianDate) {
            return hijriDate;
         }
         else {
            try { calendarFrom.parseDate("dd/mm/yyyy", hijriDate.trim()) }
            catch (e) { return null; }
            var jdDate = calendarFrom.parseDate("dd/mm/yyyy", hijriDate.trim()).toJD();
            var gregorianDate = calendarTo.formatDate('dd/mm/yyyy', calendarTo.fromJD(jdDate));
            return gregorianDate;
         }
      }


      function stringToDate(_date, _format, _delimiter) {
         
         var formatLowerCase = _format.toLowerCase();
         var formatItems = formatLowerCase.split(_delimiter);
         var dateItems = _date.split(_delimiter);
         var monthIndex = formatItems.indexOf("mm");
         var dayIndex = formatItems.indexOf("dd");
         var yearIndex = formatItems.indexOf("yyyy");
         var month = parseInt(dateItems[monthIndex]);
         month -= 1;

         var formatedDate = new Date(dateItems[yearIndex], month, dateItems[dayIndex]);
         return formatedDate;
      }

   </script>
}
