@model MOF.Etimad.Monafasat.ViewModel.BlockCommitteeModel
@{
   ViewBag.Title = @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ListPreventionCommittee;
}
@section pagecontrols{
   <div class="dropdown">
      <span class="d-block pull-left" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search"><button id="searchBtnColaps" class="btn p-2 btn-outline-primary" data-toggle="collapse" href="#Search" role="button" aria-expanded="false" aria-controls="Search"><i class="material-icons">search</i> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search</button></span>
   </div>
}

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb"> 
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>

         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ListPreventionCommittee</li>
      </ol>
   </nav>
}

<div class="tab-content  tab-space col-12 " style="padding:0">
   <div class="animated bounceInLeft  delay-1s show" id="SupplierCommitteeGrid">
      <form id="supplierSearch">
         <div class="clearfix"></div>
         <div id="Search" class=" collapse">


            <div class="card card-body">
               <div class="row">

                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group bmd-form-group p-0">
                        <label for="Email" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Email </label>
                        <input type="text" id="txtEmail" name="Email" maxlength="50" autocomplete="off" class="form-control">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group bmd-form-group p-0">
                        <label for="PhoneNumber" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Phone </label>
                        <input type="text" id="txtPhoneNumber" name="PhoneNumber" maxlength="50" autocomplete="off" class="form-control">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group bmd-form-group p-0">
                        <label for="PhoneNumber" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DisplayName </label>
                        <input type="text" id="txtName" name="EmployeeName" maxlength="50" autocomplete="off" class="form-control">
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                     <div class="form-group bmd-form-group p-0">
                        <label for="PhoneNumber" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.CivilRegistrationNumber </label>
                        <input type="text" id="txtComericalRegisterNo" name="CivilRegistrationNumber" maxlength="50" autocomplete="off" class="form-control">
                     </div>
                  </div>


                  <input type="hidden" id="hdnto" />
                  <input type="hidden" id="hdnfrom" />
                  <div class="col-12">
                     <button class="btn btn-sm btn-primary" @@click="searchSup" type="button"><i class="material-icons">search</i>  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Search</button>
                     <button class="btn btn-sm " type="button" @@click="clearSearchSup"><i class="material-icons">close</i> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Clear </button>
                  </div>
               </div>

            </div>
         </div>
         <div class="card">
            <div class="table-responsive ">
               <table class="table table-striped text-center" summary="desc">
                  <thead>
                     <tr>
                        <th scope="col"># </th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DisplayName</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Email</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.CivilRegistrationNumber</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MobileNumber</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Role</th>
                     </tr>
                  </thead>
                  <tbody v-if="Suppliers && Suppliers.length > 0">
                     <tr v-for="(sup, $index) in Suppliers">
                        <td data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
                        <td>  {{sup.name}} </td>
                        <td>  {{sup.email}} </td>
                        <td>  {{sup.userName}} </td>
                        <td> {{sup.mobile}}  </td>
                        <td> {{sup.role}}  </td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr>
                        <td colspan="6" align="center" style="text-align:center !important">
                           <i class="text-primary material-icons" style="font-size:3rem">report</i> 
                           <br />
                           @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.NoRecordsFound
                           <br />
                        </td>
                     </tr>
                  </tbody>
               </table>
               <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
            </div>
         </div>
      </form>
   </div>
</div>

@section scripts{
   <script src="~/Etimad-UI/assets/vendor/calendar/javascriptUtils/DateConverterUtil.js"></script>
   <script>
      $(document).ready(function () {
         $('li#menuLists').addClass('active');
         $('li#menuLists a#menuGetBlockListUsers').addClass('active');

      });
      var supplierGrid = new Vue({
         el: '#SupplierCommitteeGrid',
         data: {
            Suppliers: [],
            totalCount: 0,
            currentPage: 1,
            pageSize: 10,
            resource_url: '/Block/GetBlockListUsersPagingAsync',
            queryString: ''
         },
         methods: {
            updateResource: function (data) {

               this.Suppliers = data;
               this.totalCount = this.$refs.vpaginator.totalCount;
               this.currentPage = this.$refs.vpaginator.currentPage;
               this.pageSize = this.$refs.vpaginator.pageSize;
            },
            searchSup: function () {
               var queryString = '';
               queryString = 'Email=' + $("#txtEmail").val().trim() + '&PhoneNumber=' + $("#txtPhoneNumber").val().trim() + '&CommercialSupplierName=' + $("#txtName").val().trim() + '&CommercialRegistrationNo=' + $("#txtComericalRegisterNo").val().trim();
               this.resource_url = '/Block/GetBlockListUsersPagingAsync' + '?' + queryString;
            },
            clearSearchSup: function () {
               $('#supplierSearch input').val('');
               this.queryString = '';
               this.resource_url = '/Block/GetBlockListUsersPagingAsync' + '?' + this.queryString;
            }
         }
      });
      $('.add-new-vendor').click(function () {
         $('#add-new').click();
      });
   </script>
}
