@using MOF.Etimad.Monafasat.SharedKernel; 
@using Microsoft.Extensions.DependencyInjection;
 
@model MOF.Etimad.Monafasat.ViewModel.BlockSearchCriteriaModel
@{
   ViewBag.Title = @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedListRequest;
}
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb"> 
         <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BreadCrumb_Home</a></li>

         <li class="breadcrumb-item active" aria-current="page"> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedListRequest </li>
      </ol>
   </nav>
}

<ul class="nav nav-pills nav-pills-icons" role="tablist">
   <li class="nav-item">
      <a class="nav-link text-center active show" href="#BlockGrid" role="tab" data-toggle="tab" aria-selected="true">
         <i class="fa fa-user-times" aria-hidden="true"></i>
         @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedSuppliers
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link text-center" id="add-new" href="#SupplierGrid" role="tab" data-toggle="tab" aria-selected="true">
         <i class="fa fa-user-plus" aria-hidden="true"></i>
         @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AddBlockedSupplier
      </a>
   </li>
</ul>
<div class="tab-content  tab-space col-12 " style="padding:0">
   <div class="tab-pane active animated bounceInLeft  delay-1s hidden" id="BlockGrid">
      <div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">

                     @MOF.Etimad.Monafasat.Resources.BlockResources.Messages.ConfirmDeletion
                  </h5>
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                     <i class="material-icons">clear</i> 
                  </button>
               </div>
               <div class="modal-body">
                  <p>
                     @MOF.Etimad.Monafasat.Resources.BlockResources.Messages.ConfirmSupplierDeletion
                     <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
                  </p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-link btn-success" id="SaveModel" @@click="confirmDelete">    @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Deleted </button>
                  <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Cancel</button>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" role="dialog">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">

                     @MOF.Etimad.Monafasat.Resources.BlockResources.Messages.ConfirmDeletion
                  </h5>
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                     <i class="material-icons">clear</i> 
                  </button>
               </div>
               <div class="modal-body">
                  <p>
                     @MOF.Etimad.Monafasat.Resources.BlockResources.Messages.ConfirmSupplierDeletion
                     <input type="hidden" name="hiddenValue" id="hiddenValue" value="" />
                  </p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-link btn-success" id="SaveModel" @@click="confirmDelete">    @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm    </button>
                  <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Cancel</button>
               </div>
            </div>
         </div>
      </div>
      <form id="blockSupplierSearch" class="form ">
         <div class="card">
            <div class="card-body">
               <h4 class="text-primary"> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedListRequest <a class="btn btn-outline-primary btn-link  pull-right btn-sm" data-toggle="collapse" href="#SearchInBlocked" role="button" aria-expanded="false" aria-controls="SearchInBlocked"><i class="material-icons">search</i>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search</a></h4>
               <div class="clearfix"></div>
               <div class=" collapse" id="SearchInBlocked">
                  <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group">
                           <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo </label>
                           <input type="text" id="CommercialRegistrationNo" name="CommercialRegistrationNo" maxlength="50" autocomplete="off" class="form-control" asp-for="CommercialRegistrationNo">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group">
                           <label for="publisher" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName</label>
                           <input type="text" id="CommercialSupplierName" name="CommercialSupplierName" maxlength="50" autocomplete="off" class="form-control" asp-for="CommercialSupplierName">
                        </div>
                     </div>

                     <div class="col-12">
                        <button class="btn btn-sm btn-primary" @@click="search" type="button"><i class="material-icons">search</i>   @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Search</button>
                        <button class="btn btn-sm " type="button" @@click="reset"><i class="material-icons">close</i>  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Clear </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="table-responsive ">
               <table class="table table-striped text-center" id="SupplierTable" summary="desc">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Status</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Options</th>
                     </tr>
                  </thead>
                  <tbody v-if="Blocks && Blocks.length > 0">
                     <tr v-for="(block, $index) in Blocks" v-bind:id="block.supplierBlockIdString">
                        <td> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
                        <td style="cursor:pointer" @@click="getSupplierInfo(block.commercialRegistrationNo)"> {{block.commercialSupplierName}}  </td>
                        <td> {{block.commercialRegistrationNo}} </td>
                        <td> {{block.blockStatusName}} </td>
                        <td>
                           <button @@click="showManagerDetails(block.supplierBlockIdString)" v-if="(block.blockStatusId!=@((int)Enums.BlockStatus.NewAdmin)&&block.blockStatusId!=@((int)Enums.BlockStatus.NewSecretary)&&block.blockStatusId!=@((int)Enums.BlockStatus.RejectedManager))" type="button" class="btn btn-sm btn-primary"><i class="material-icons">list</i>    @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Details</button>
                           <button @@click=showManagerDetails(block.supplierBlockIdString) v-if="(block.blockStatusId==@((int)Enums.BlockStatus.NewAdmin))" type="button" id="SendToApproveBTN" class="btn btn-sm btn-primary"><i class="material-icons">send</i>    @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Approve</button>
                           <button @@click=showManagerDetails(block.supplierBlockIdString) v-if="(block.blockStatusId==@((int)Enums.BlockStatus.RejectedManager))" type="button" id="ReopenBTN" class="btn btn-sm btn-info"><i class="material-icons"></i>    @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Reopen</button>
                        </td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr>
                        <td colspan="8" align="center" style="text-align:center !important">
                           <i class="text-primary material-icons" style="font-size:3rem">sentiment_very_dissatisfied</i> 
                           <br />
                           @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.NoRecordsFound
                           <br />
                           <button type="button" class="btn btn-primary btn-sm add-new-vendor" onclick="window.location = '/Block/CreateSecretaryBlock?SupplierBlockId=@(ViewData["BlockId"])'"><i class="fa fa-user-plus"></i>  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AddNewSupplier</button>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
            </div>
         </div>
      </form>
   </div>
   <div class="tab-pane animated bounceInLeft  delay-1s show" id="SupplierGrid">
      <form id="supplierSearch">
         <div class="card">
            <div class="card-body">
               <h4 class="text-primary">
                  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AddNewSupplier
                  <a data-toggle="collapse" role="button" aria-expanded="false" aria-controls="SearchInUnblocked" class="btn btn-outline-primary btn-link pull-right btn-sm" onclick="window.location = '/Block/CreateSecretaryBlock'"><i class="material-icons">add</i>  إضافة طلب منع</a>
                  <a data-toggle="collapse" href="#SearchInUnblocked" role="button" aria-expanded="false" aria-controls="SearchInUnblocked" class="btn btn-outline-primary btn-link  pull-right btn-sm"><i class="material-icons">search</i>  @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Search</a>
               </h4>
               <div class="clearfix"></div>
               <div class="collapse" id="SearchInUnblocked">
                  <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group">
                           <label for="publisher" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo </label>
                           <input type="text" id="txtCommericalRegisterNo" name="CommericalRegisterNo" maxlength="50" autocomplete="off" class="form-control">
                        </div>
                     </div>
                     <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group bmd-form-group">
                           <label for="publisher" class="label bmd-label-static"> @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName </label>
                           <input type="text" id="txtCommericalRegisterName" name="CommericalRegisterName" maxlength="50" autocomplete="off" class="form-control">
                        </div>
                     </div>
                     <input type="hidden" id="hdnto" />
                     <input type="hidden" id="hdnfrom" />
                     <div class="col-12">
                        <button class="btn btn-sm btn-primary" @@click="searchSup" type="button"><i class="material-icons">search</i>   @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Search</button>
                        <button class="btn btn-sm"  @@click="resetSup"><i class="material-icons">close</i>  @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Clear </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="table-responsive ">
               <table class="table table-striped text-center" summary="desc">
                  <thead>
                     <tr>
                        <th scope="col"># </th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo</th>
                        <th scope="col">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName</th>
                     </tr>
                  </thead>
                  <tbody v-if="Suppliers && Suppliers.length > 0">
                     <tr v-for="(sup, $index) in Suppliers">
                        <td data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
                        <td>  {{sup.supplierNumber}} </td>
                        <td style="cursor:pointer" @@click="getSupplierInfo(sup.supplierNumber)"> {{sup.supplierName}}  </td>
                     </tr>
                  </tbody>
                  <tbody v-else>
                     <tr>
                        <td colspan="4" align="center" style="text-align:center !important">
                           <i class="text-primary material-icons" style="font-size:3rem">sentiment_very_dissatisfied</i> 
                           <br />
                           @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.NoRecordsFound
                           <br />
                        </td>
                     </tr>
                  </tbody>
               </table>
               <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
            </div>
         </div>
      </form>
   </div>
</div>
<!--endtBody-->
@section scripts{
   <script src="~/javascriptUtils/DateConverterUtil.js"></script>
   <script>
      $(document).ready(function () {
         $('li#menuLists').addClass('active');
         $('li#menuLists a#menuGetSecretaryBlockList').addClass('active');

      });
         var grid = new Vue({
            el: '#BlockGrid',
            data: {
               Blocks: [],
               totalCount: 0,
               currentPage: 1,
               pageSize: 10,
               resource_url: '/Block/GetSecretaryBlockListAsync',
               queryString: ''
            },
            methods: {
                showDialog: function (id) {
                 if (typeof (id) !== "undefined"&& id!== "") {
                    $("#DeleteConfirmationModal #hiddenValue").val(id);
                    $("#DeleteConfirmationModal").modal("show");
                 }
               },getSupplierInfo: function (CR) {
                  getSupplierInfo(CR);
               },
               confirmDelete: function () {
                  $('#DeleteConfirmationModal').modal('hide');
                  var data_id = $(".modal-body #hiddenValue").val();
                  $(".modal-body #hiddenValue").val("");
                  ResetSupplier(data_id);
               },
               showDetails: function (id) {
                  
                  window.location = '/Block/SecretaryBlockDetails?Id=' + id;
               },
               showManagerDetails: function (id) {
                  
                  window.location = '/Block/SecretaryBlockDetails?Id=' + id;
               },
                
               updateResource: function (data) {
                  this.Blocks = data;
                  this.totalCount = this.$refs.vpaginator.totalCount;
                  this.currentPage = this.$refs.vpaginator.currentPage;
                  this.pageSize = this.$refs.vpaginator.pageSize;
               },
               detailsUrl: function (params) {
                  return '/Block/DetailsAsync?id=' + params;
               },
               deleteUrl: function (Id) {
                  return '/Block/DeleteAsync?Id=' + Id;
               },
               search: function () {
                  var queryString = '';
                  queryString = 'CommercialRegistrationNo=' + $("#CommercialRegistrationNo").val().trim() + '&CommercialSupplierName=' + $("#CommercialSupplierName").val().trim();
                  this.resource_url = '/Block/GetSecretaryBlockListAsync?' + queryString
               },
               reset: function () {
                  $("#CommercialRegistrationNo").val('');
                  $("#CommercialSupplierName").val('');
                  this.resource_url = '/Block/GetSecretaryBlockListAsync';
               }
            }
         });
         var supplierGrid = new Vue({
            el: '#SupplierGrid',
            data: {
               Suppliers: [],
               totalCount: 0,
               currentPage: 1,
               pageSize: 10,
               resource_url: '/Block/GetIDMSupplier',
               queryString: ''
            },
            methods: {
               updateResource: function (data) {
                  
                  this.Suppliers = data;
                  this.totalCount = this.$refs.vpaginator.totalCount;
                  this.currentPage = this.$refs.vpaginator.currentPage;
                  this.pageSize = this.$refs.vpaginator.pageSize;
               },
               getSupplierInfo: function (CR) {
                  getSupplierInfo(CR);
               },
               addUrl: function (Id,name) {
                  return '/Block/CreateSecretaryBlock?SupplierId=' + Id + '&name=' + name;
               },
               searchSup: function () {
                  var queryString = 'CommericalRegisterNo=' + $("#CommericalRegisterNo").val().trim() + '&CommericalRegisterName=' + $("#CommericalRegisterName").val().trim();
                  this.resource_url = '/Block/GetIDMSupplier' + '?' + queryString;
                  //this.resource_url = '/Block/GetIDMSupplier' + '?' + this.queryString;
               },
               resetSup: function () {
                  $("#txtCommericalRegisterName").val('');
                  $("#txtCommericalRegisterNo").val('');
                  this.resource_url = '/Block/GetIDMSupplier';
               }
            }
         });
         $('.add-new-vendor').click(function () {
            $('#add-new').click();
         });

      function ResetSupplier(id) {
         $.ajax({
            type: "GET",
            url: '@Url.Action("ResetSupplier", "Block")',
            data: { Id: id },
            success: function (data) {
               if (data.status == "success") {
                  AlertFun(data.message, alertMessageType.Success);
                  grid.resource_url = grid.resource_url + "?d=" + new Date();
               } else {
                  AlertFun(data.message, alertMessageType.Danger);
               }
            },
            error: function () {
               $('#LoadingSite').fadeOut();
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.ErrorMessages.ExpiredActivationCode)', alertMessageType.Danger);
            }
         });
      }
   </script>
}
