@using MOF.Etimad.Monafasat.SharedKernel
@model MOF.Etimad.Monafasat.ViewModel.SupplierBlockModel
@{
   ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockDetails;
   var tableIndex = 0;
}

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/dashboard/index">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item active" aria-current="page">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockedListRequest</li>
      </ol>
   </nav>
}

@Html.AntiForgeryToken()

@section modalTitle{
   @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm
}
@section modalContent{
   <div class="col-12" id="divRejectReason">
      <div class="form-group bmd-form-group" style="padding-top:0">
         <label for="RejectionReason" class="label bmd-label-static">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionReason</label>
         <textarea class="form-control" rows="5" id="txtRejectionReason" name="RejectionReason" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason"></textarea>
         <div class="pull-left">
            <span class="bmd-help text-danger" id="txtRejectionReasonValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterRejectionReason</span>
         </div>
      </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divApprovedTender">
      <div class="form-group bmd-form-group" id="divVerficationCode">
         <input type="number" class="form-control col-md-12" id="txtActivationNo" name="ActivationCode" placeholder="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterVerificationCode" />
         <span class="bmd-help text-danger position-relative" id="txtActivationNoValidation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.PleaseEnterVerificationCode</span>
         <br />
         <p class="text-dark-green">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RemainigTimeToApprove<span class=" text-danger" id="timer"></span></p>
      </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divApprovedSecretary">
      <div class="form-group bmd-form-group" id="divVerficationCode">
         @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ApprovalConfirmation
      </div>
   </div>
}
@section modalButtons{
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnRejectConfirmation">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.RejectionConfirm</button>
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnApproveConfirmation">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnSecApproveConfirmation">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Confirm</button>
   <button type="button" class="btn  btn-primary btn-sm m-1" name="button" id="btnResendVerificationCode"> @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ResendConfirmationCode</button>
   <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Cancel</button>
}


   <form method="Post" action="" class="my-form">
      <input type="hidden" id="ModuleType" value="4" />
      <div class="card">
         <div class="card-body">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialRegistrationNo
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.CommercialRegistrationNo)
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.CommercialSupplierName
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.CommercialSupplierName)
                              </span>
                           </div>
                        </div>
                     </li>

                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.ResolutionNumber
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.ResolutionNumber)
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Punishment
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.Punishment)
                              </span>
                           </div>
                        </div>
                     </li>
                     @if (Model.BlockStatusId == (int)Enums.BlockStatus.RejectedManager && User.IsInRole(RoleNames.MonafasatBlockListSecritary))
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.RejectionReason
                              </div>
                              <div class="col-9 etd-item-info">
                                 <span>
                                    @(Model.ManagerRejectionReason)
                                 </span>
                              </div>
                           </div>
                        </li>
                     }
                  </ul>
               </div>
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <ul class="list-group form-details-list">
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockStartDate
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.FromDateString)
                              </span>
                           </div>
                        </div>
                     </li>
                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockEndDate
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @(Model.ToDateString)
                              </span>
                           </div>
                        </div>
                     </li>
                     @if (!Model.IsOldSystem)
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockReason
                              </div>
                              <div class="col-9 etd-item-info">
                                 <span>
                                    @(Model.SecretaryBlockReason)
                                 </span>
                              </div>
                           </div>
                        </li>
                     }
                     else
                     {
                        <li class="list-group-item">
                           <div class="row">
                              <div class="col etd-item-title">
                                 @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.BlockReason
                              </div>
                              <div class="col-9 etd-item-info">
                                 <span>
                                    @(Model.BlockDetails)
                                 </span>
                              </div>
                           </div>
                        </li>
                     }

                     <li class="list-group-item">
                        <div class="row">
                           <div class="col etd-item-title">
                              @MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.AttachmentId
                           </div>
                           <div class="col-9 etd-item-info">
                              <span>
                                 @if (@Model.AdminFileName != null)
                                 {<a href="#" onclick="DownLoadAttachment('@Model.AdminFileNetReferenceId','@Model.AdminFileName'); return false;" target="_blank" class="btn btn-outline-primary btn-sm col-12" style="white-space: normal;">
                                       @Model.AdminFileName
                                    </a>}
                              </span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 ">
         @if (Model.BlockStatusId == (int)Enums.BlockStatus.ApprovedSecertary && User.IsInRole(RoleNames.MonafasatBlackListCommittee))
         {
            <button class="btn btn-primary" type="button" id="btnApprove" data-toggle="modal" data-target="#myModal">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Accept</button>
            <button class="btn btn-danger" type="button" id="btnReject" data-toggle="modal" data-target="#myModal">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Reject</button>
         }
         @if (Model.BlockStatusId == (int)Enums.BlockStatus.NewSecretary && User.IsInRole(RoleNames.MonafasatBlockListSecritary))
         {
            <button class="btn btn-primary" type="button" id="secApprove" data-toggle="modal" data-target="#myModal">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Confirm</button>
          
         }
         @if (Model.BlockStatusId == (int)Enums.BlockStatus.RejectedManager && User.IsInRole(RoleNames.MonafasatBlockListSecritary))
         {
            <button class="btn btn-primary" type="button" onclick="window.location ='/Block/CreateSecretaryBlock?SupplierBlockId= @(Model.SupplierBlockIdString)'">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Reopen</button>
            @*<button class="btn btn-danger" type="button" onclick="showRejectDialog('@Model.SupplierBlockIdString')" onclick="window.location = '/Block/GetAdminBlockList'">@MOF.Etimad.Monafasat.Resources.BlockResources.DisplayInputs.Reject</button>*@
         }
         <button class="btn btn-outline-primary btn-link pull-right" type="button" onclick="window.location = '@Url.Action("GetManagerBlockList", "Block")'">
            @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.BackButton
            <div class="ripple-container"></div>
         </button>
      </div>
   
   </form>

@section scripts {
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.min.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />

   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script type="text/javascript">
   var token = $('#approval input[name=__RequestVerificationToken]').val();
   $("#btnApproveConfirmation").on("click", function () {
      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("ManagerApproval", "Block")',
         {
            Id: '@Model.SupplierBlockIdString',
            verificationCode: $("#txtActivationNo").val(),
            __RequestVerificationToken: token
         }).done(function () {
            $('#LoadingSite').fadeOut();
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
            setTimeout(function () {
               window.location ='@Url.Action("GetManagerBlockList", "Block")';
            }, 2000);
         }).fail(function (error) {
            $('#LoadingSite').fadeOut();
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '@Url.Action("Logout", "Account")'; return;
            }
         });
   });
   ///////////////////////////////////////////////////////////////////////////////
   function showRejectDialog(id) {
      if (typeof (id) !== "undefined" && id !== "") {
         $("#RejectionReasonModal #hiddenValue").val(id);
         $("#RejectionReasonModal").modal("show");
      }
   }

   function confirmRejection() {
      
      $('#RejectionReasonModal').modal('hide');
      var data_id = $(".modal-body #hiddenValue").val();
      $(".modal-body #hiddenValue").val("");
      var data_Val = $(".modal-body #rejectionReason").val();
      $(".modal-body #rejectionReason").val("");
      window.location = '/Block/ManagerRejectionReason?Id=' + data_id + '&reason=' + data_Val;
      AlertFun("@MOF.Etimad.Monafasat.Resources.BlockResources.Messages.DataSaved", 'success');


   }

   function showApproveDialog(id) {
      if (typeof (id) !== "undefined" && id !== "") {
         $("#ApprovalModal #hiddenValueId").val(id);
         $("#ApprovalModal").modal("show");
      }
   }

   function confirmApproval() {
      $('#ApprovalModal').modal('hide');
      var data_id = $(".modal-body #hiddenValueId").val();
      $(".modal-body #hiddenValue").val("");

      window.location = '/Block/ManagerApproval?Id=' + data_id  ;
      AlertFun("@MOF.Etimad.Monafasat.Resources.BlockResources.Messages.DataSaved", 'success');
   }

    function showcSecApproveDialog(id) {
      if (typeof (id) !== "undefined" && id !== "") {
         $("#ApprovalSecretaryModal #hiddenSecValueId").val(id);
         $("#ApprovalSecretaryModal").modal("show");
      }
   }

   function confirmSecretaryApproval() {
      $('#ApprovalSecretaryModal').modal('hide');
      var data_id = $(".modal-body #hiddenSecValueId").val();
      $(".modal-body #hiddenSecValueId").val("");
      window.location = '/Block/SecretaryApproval?Id=' + data_id  ;
      AlertFun("@MOF.Etimad.Monafasat.Resources.BlockResources.Messages.DataSaved", 'success');
   }

   ////////////////////////////////////////////////////////////////////

   $("#btnApprove").on("click", function () {
      document.getElementById('timer').innerHTML = 05 + ":" + 00;
      startTimer();
      $("#btnResendVerificationCode").prop("disabled", true);
      createVerificationCode();
      $("#divRejectReason").hide();
      $("#divApprovedTender").show();
      $("#btnSecApproveConfirmation").hide();
     $("#btnRejectConfirmation").hide();
      $("#divApprovedSecretary").hide();  $("#btnApproveConfirmation").show();
      $("#divApproveChange").hide();
      $("#divRejectChange").hide();
      $("#btnConfirmingApprovingUpdates").hide();
      $("#btnConfirmRejectUpdate").hide();
   });
   $("#secApprove").on("click", function () {


      $("#btnResendVerificationCode").hide();
      $("#btnSecApproveConfirmation").show();

      $("#divApprovedSecretary").show();
      $("#divRejectReason").hide();
     $("#divApprovedTender").hide();
      $("#btnRejectConfirmation").hide();
      $("#btnApproveConfirmation").hide();
      $("#divApproveChange").hide();
      $("#divRejectChange").hide();
      $("#btnConfirmingApprovingUpdates").hide();
      $("#btnConfirmRejectUpdate").hide();
   });
     var myVar;
   function startTimer() {
      clearTimeout(myVar);
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if (s == 59) { m = m - 1 }
      document.getElementById('timer').innerHTML = m + ":" + s;
      myVar = setTimeout(startTimer, 1000);
      checkTime(m, s, myVar);
      if (m < 0 && s > 0) {
         document.getElementById('timerChangeRequest').innerHTML = "0:00";
         return false;
      }
   }
     function createVerificationCode() {
         $.post('/Block/CreateVerificationCode', { tenderIdString: '@Model.SupplierBlockIdString', __RequestVerificationToken: token }).fail(function (error) {
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
            $("#changeRequestModal").modal('hide');
            $("#myModal").modal('hide');
         });
      }
   function checkSecond(sec) {
      if (sec < 10 && sec >= 0) { sec = "0" + sec };
      if (sec < 0) { sec = "59" };
      return sec;
   }
   function checkTime(min, sec, myVar) {
      if (min <= 0 && sec <= 0) {
         $("#btnResendVerificationCode").prop("disabled", false);
         clearTimeout(myVar)
      };
      return sec;
   }
   var myVar;
   function startTimer() {
      clearTimeout(myVar);
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if (s == 59) { m = m - 1 }
      document.getElementById('timer').innerHTML = m + ":" + s;
      myVar = setTimeout(startTimer, 1000);
      checkTime(m, s, myVar);
      if (m < 0 && s > 0) {
         document.getElementById('timerChangeRequest').innerHTML = "0:00";
         return false;
      }
   }

    $("#btnReject").on("click", function () {
      $("#divRejectReason").show();
      $("#divApprovedTender").hide();
       $("#btnSecApproveConfirmation").hide();
       $("#divApprovedSecretary").hide();
      $("#btnRejectConfirmation").show();
      $("#btnApproveConfirmation").hide();
      $("#btnResendVerificationCode").hide();
      $("#divApproveChange").hide();
      $("#divRejectChange").hide();
      $("#btnConfirmingApprovingUpdates").hide();
       $("#btnConfirmRejectUpdate").hide();

   });

   $("#btnRejectConfirmation").on("click", function () {
      var rejectionReason = $("#txtRejectionReason").val();
      $("#txtRejectionReasonValidation").hide()
      if (rejectionReason == '') {
         $("#txtRejectionReasonValidation").show()
         return false;
      }
      $('#LoadingSite').fadeIn();
      $.post('@Url.Action("ManagerRejectionReason", "Block")',
         {
            SupplierBlockIdString: '@Model.SupplierBlockIdString',
            ManagerRejectionReason: rejectionReason,
            __RequestVerificationToken: token
         }).done(function () {
            
            $("#myModal").modal("hide");
            $('#LoadingSite').fadeOut();
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
            setTimeout(function () {
             window.location ='@Url.Action("GetManagerBlockList", "Block")';
            }, 2000);
         }).fail(function (error) {
             $('#myModal').modal('hide');
            $('#LoadingSite').fadeOut();
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '@Url.Action("Logout", "Account")'; return;
            }
         });
   });
   $("#btnSecApproveConfirmation").on("click", function () {

      $('#LoadingSite').fadeIn();
      
      // update tender status to (Rejected) and set the reason of Rejection
      $.post('@Url.Action("SecretaryApproval", "Block")',
         {
            id: '@Model.SupplierBlockIdString',

            __RequestVerificationToken: token
         }).done(function () {
            
            $("#myModal").modal("hide");
            $('#LoadingSite').fadeOut();
            AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
            setTimeout(function () {
             window.location ='@Url.Action("GetSecretaryBlockList", "Block")';
            }, 2000);
         }).fail(function (error) {
             $('#myModal').modal('hide');
            $('#LoadingSite').fadeOut();
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '@Url.Action("Logout", "Account")'; return;
            }
         });
   });

</script>
