<div class="table-responsive ">
   <table class="table table-striped" id="TenderTable" aria-describedby="Combined Suppliers">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.CommercialNumber</th>
            <th scope="col">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialName</th>
            <th scope="col">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.CombinedType</th>
         </tr>
      </thead>
      <tbody v-if="Tenders && Tenders.length > 0">
         <tr v-for="(tender, $index) in Tenders">
            <td data-label="#"> {{ (currentPage -1) * (pageSize) +  $index + 1}} </td>
            <td data-label="@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.CommercialNumber"> {{tender.commericalRegisterNo}} </td>
            <td data-label="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CommercialName"> {{tender.commericalName}} </td>
            <td data-label="@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Combined"> {{tender.combinedType}} </td>
         </tr>
      </tbody>
      <tbody v-else>
         <tr>
            <td colspan="9">
               @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
            </td>
         </tr>
      </tbody>
   </table>
   <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
</div>
