@model MOF.Etimad.Monafasat.ViewModel.Offer.OfferQuantityTableModel
@{
   ViewData["Title"] = "جداول الكميات";
}
<style>
   .modal {
      z-index: 9999999;
   }
   
   .alert-warning {
      z-index: 1 !important;
   }
</style>

@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item active" aria-current="page">جداول الكميات</li>
      </ol>
   </nav>
}


<div class="card">
   <div class="alert alert-warning p-1">
      <i class="material-icons pull-left p-2">
         warning
      </i>
      <span class="d-inline-block p-2">
         فى حالة عدم تعبئة قيم الجداول تعتبر القيمة صفر
      </span>

   </div>
   <div class="card-body">
      <div id="divQuantityTable">
         @*<h1>@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Loading</h1>*@
      </div>

   </div>

</div>
<div class="row">
   <div class="col-12">
      @{
         <a asp-action="OfferFilesAsync" class="btn btn-default pull-left" asp-controller="Offer" asp-route-OfferIdString="@Model.OfferIdString"> السابق</a>

         if (Model.IsSolidarity)
         {
            <a asp-action="OfferSolidarityAsync" class="btn btn-primary pull-left" asp-controller="Offer" asp-route-OfferIdString="@Model.OfferIdString"> التالى</a>

         }
         else
         {
            <a asp-action="OfferSummary" class="btn btn-primary pull-left" asp-controller="Offer" asp-route-OfferIdString="@Model.OfferIdString"> التالى</a>
         }
         <a asp-action="OfferFilesAsync" class="btn btn-outline-primary pull-right" asp-controller="Offer" asp-route-OfferIdString="@Model.OfferIdString"> @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackToMyTenders</a>
      }
   </div>
</div>
@section scripts
   {
   <script src="~/Etimad-UI/assets/js/jquery.unobtrusive-ajax.js"></script>
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.min.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />
   <script>
      //$(document).ajaxError(function (xhr, status, error) {
      //   
      //   console.log(status)
      // //  AlertFun(error.responseText, alertMessageType.Danger);
      //   $('#LoadingSite').fadeOut();

      //});
      //var loader = false;

      //$('#divQuantityTable form').submit(function () {
      //   loader = true;

      //});
      $(document).ajaxComplete(function () {
        // alert();
         $('.qtableselectpicker').selectpicker('refresh')
     //    $('.selectpicker').selectpicker('refresh');
        
      });

      $(document).ajaxStart(function (e) {
         $('.qtableselectpicker').selectpicker('refresh')
  //    $('.selectpicker').selectpicker('refresh');
      });

      $(document).ajaxSuccess(function (e) {
         $('.qtableselectpicker').selectpicker('refresh')
   //      $('.selectpicker').selectpicker('refresh');


      });
      $(document).ready(function () {
         //$('#LoadingSite').fadeIn();
         $.ajax({
            url: "/Offer/GetQuantityTablesComponent?OfferIdString=@Model.OfferIdString",
            cache: false,
            global: false,
            success: function (html) {
               
               $('#divQuantityTable').html(html);
            }
            , complete: function () {
               $('.qtableselectpicker').selectpicker('refresh')
               loader = false
                  ;
               $('#LoadingSite').fadeOut();

            }
         })
        @*$('#divQuantityTable').load("/Offer/GetQuantityTablesComponent?OfferIdString=@Model.OfferIdString").ajaxStart(function () {
            loader = false;
         }).ajaxComplete(function () {
            
            $('#LoadingSite').fadeOut();
            loader = true;
            }).ajaxError(function () {
               
               AlertFun("حدث خطا غير متوقع ", alertMessageType.Danger);
               $('#LoadingSite').fadeIn();
            });*@
      });
   </script>}
