@using res = MOF.Etimad.Monafasat.Resources
@using MOF.Etimad.Monafasat.SharedKernal
@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<RootConfiguration> rootConfiguration;
@model MOF.Etimad.Monafasat.ViewModel.OfferModel
@{
   var _rootConfiguration = rootConfiguration.Value;
   @if (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.OneFile)
   {
      ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.TechnicalFinancialOfferDetails;
   }
   else
   {
      if (Model.TenderStatusId == (int)Enums.TenderStatus.Approved || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed
         || Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingPending
         || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingRejected || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking)
      {
         ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.TechnicalOfferDetails;
      }
      else
      {
         ViewData["Title"] = @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.FinancialOfferDetails;
      }
   }
   //var tableIndex = 0;
   var localContentManualForCommittee = _rootConfiguration.LocalContentFilesConfiguration.LocalContentManualForCommittee;
}
<style>
   .table-responsive {
      min-height: 100%;
   }
</style>
@section breadcrumb
   {
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MainPage</a></li>
         <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("TenderIndexCheckingStage", "Tender")">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckStageTenders</a></li>
         <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("CheckTenderOffers", "Tender", new { tenderIdString = Util.Encrypt(Model.TenderId) })">@MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.CheckOfferDetails</a></li>
         <li class="breadcrumb-item active" aria-current="page">
            @if (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.OneFile)
            {
               @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.TechnicalFinancialOfferDetails
            }
            else
            {
               if (Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStageApproved || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking
                  || Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking
                  || Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingPending || Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingRejected
                  || Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingApproved || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStage)
               {
                  @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.FinancialOfferDetails
               }
               else
               {
                  @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.TechnicalOfferDetails
               }
            }
         </li>
      </ol>
   </nav>
}
<input type="hidden" id="ModuleType" value="@((int)Enums.DeleteModule.TechniciansReport)" />
<input type="hidden" asp-for="OfferId" id="hdOfferId" />
@Html.AntiForgeryToken()

@if (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding && Model.TenderTypeId != (int)Enums.TenderType.Competition)
{
   <div class="" v-cloak>
      <ul class="nav nav-pills nav-pills-icons etd-wiz-tabs" role="tablist">
         @if (!(Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles
&& (Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingPending
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingRejected
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking)
))
         {
            <li class="nav-item">
               <a class="nav-link active" href="#quantitiesTables" role="tab" data-toggle="tab">
                  <i class="material-icons">file_copy</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.QuantitiesTables
               </a>
            </li>
         }
         @if (!Model.IsSolidarity)
         {
            <li class="nav-item">
               <a class="nav-link" href="#documentsAttachments" role="tab" data-toggle="tab">
                  <i class="material-icons">file_copy</i>
                  @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.DocumentsAttachments
               </a>
            </li>
         }
         else if (Model.IsSolidarity)
         {
            IDictionary
            <string, string>
                combinedParameters = new Dictionary<string, string>
                    ();
            combinedParameters.Add("tenderIdString", Model.TenderIdString);
            combinedParameters.Add("offeridString", Model.OfferIdString);
            @if ((Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles
&& (Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingPending
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingRejected
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking)
))
            {
               <li class="nav-item">
                  <a asp-action="CombinedSuppliersCheckingStage" asp-controller="Offer" asp-all-route-data="@combinedParameters" class="nav-link active">
                     <i class="material-icons">assignment</i>
                     الذهاب لملفات المتضامنين
                  </a>
               </li>
            }
            else
            {
               <li class="nav-item">
                  <a asp-action="CombinedSuppliersCheckingStage" asp-controller="Offer" asp-all-route-data="@combinedParameters" class="nav-link ">
                     <i class="material-icons">assignment</i>
                     @MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.CombinedSuppliers
                  </a>
               </li>
            }
         }
         @if (Model.IsValidToApplyOfferLocalContentChanges.HasValue && Model.IsValidToApplyOfferLocalContentChanges.Value && Model.TenderTypeId != (int)Enums.TenderType.CurrentTender && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects)
         {
            <li class="nav-item">
               <a class="nav-link" href="#localContentDetails" role="tab" data-toggle="tab">
                  <i class="material-icons">assignment</i>
                  تفاصيل المحتوي المحلي للمنشأه
               </a>
            </li>
         }
      </ul>
      <div class="tab-content tab-space p-0">
         @if (!(Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles
&& (Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingPending
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingRejected
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking)
))
         {
            <div class="tab-pane active" id="quantitiesTables">
               <div class="card">
                  <div class="card-body">
                     <div class="col-12">
                        <h4 class="text-primary">@MOF.Etimad.Monafasat.Resources.OfferResources.DisplayInputs.QuantityTables</h4>
                     </div>
                     <div class="col-12">

                        @if (Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.CurrentTender && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects)
                        {
                           <ul class="list-group form-details-list">
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.MandatoryList
                                    </div>
                                    <div class="col-2 etd-item-info">
                                       <span>
                                          <a target="_blank" href="/Tender/GetAllMandatoryListProductsForExport" rel="lightbox" alt="عرض الملف" title="عرض الملف">
                                             @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DownloadThisFile
                                          </a><br />
                                       </span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                           <ul class="list-group form-details-list">
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.FinancialMarketCompanies
                                    </div>
                                    <div class="col-2 etd-item-info">
                                       <span>
                                          <a target="_blank" href="~/StaticFiles/قائمة الشركات المدرجة في السوق المالي.xlsx" rel="lightbox" alt="عرض الملف" title="عرض الملف">
                                             @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DownloadThisFile
                                          </a><br />
                                       </span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                           <ul class="list-group form-details-list">
                              <li class="list-group-item">
                                 <div class="row">
                                    <div class="col-4 etd-item-title">
                                       الدليل الإرشادي لتطبيق المعادلات الحسابية الخاصة بأفضليات المحتوى المحلى
                                    </div>
                                    <div class="col-2 etd-item-info">
                                       <span>
                                          <a target="_blank" href="@localContentManualForCommittee" rel="lightbox" alt="عرض الملف" title="عرض الملف">
                                             @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.DownloadThisFile
                                          </a><br />
                                       </span>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        }

                     </div>

                     <div class="col-12">
                        <div class="card-collapse" style="border:1px solid #ccc;border-radius:6px;overflow:hidden;">
                           @Html.Partial("~/Views/Offer/CheckOffer/Partials/_QuantityTablesChecking.cshtml", Model)
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         }
         @if (!Model.IsSolidarity)
         {
            <div class="tab-pane " id="documentsAttachments">
               @if ((Model.isOldFlow && User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStage))
           || (!(Model.isOldFlow) && User.IsInRole(RoleNames.OffersOppeningSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStage))
           )
               {
                  @await Component.InvokeAsync("OfferAttachmentsUpdateForChecking", new { combinedId = Model.CombinedIdString })
                  <div class="row">
                     <div class="col-12">
                        <button type="button" onclick="SaveAttachmentDetailsData()" class="btn btn-primary">
                           @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.Save
                        </button>
                     </div>
                  </div>
               }
               else
               {
                  @await Component.InvokeAsync("OfferAttachmentsDetailsForCheckingComponent", new { combinedId = Model.CombinedIdString })
               }
            </div>
         }
         @if (Model.IsValidToApplyOfferLocalContentChanges.HasValue && Model.IsValidToApplyOfferLocalContentChanges.Value && Model.TenderTypeId != (int)Enums.TenderType.CurrentTender && Model.TenderTypeId != (int)Enums.TenderType.CurrentDirectPurchase && Model.TenderTypeId != (int)Enums.TenderType.NationalTransformationProjects)
         {
            <div class="tab-pane" id="localContentDetails">
               @await Component.InvokeAsync("OfferLocalContentDetailsComponent", new { offerIdString = Model.OfferIdString })
            </div>
         }
      </div>
   </div>
}
<hr />
<div class="row">
   <div class="col">
      @if (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.OneFile && Model.TenderStatusId != (int)Enums.TenderStatus.Approved)
      {
         @if (Model.TenderTypeId != (int)Enums.TenderType.FirstStageTender && Model.TenderTypeId != (int)Enums.TenderType.ReverseBidding && Model.TenderTypeId != (int)Enums.TenderType.Competition)
         {
            @Html.Partial("~/Views/Offer/Partial/_OffersFinantialCheckingResultAndActions.cshtml")
         }
         @Html.Partial("~/Views/Offer/Partial/_OffersTechnicalCheckingResultAndActions.cshtml")
      }
      else if (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles &&
               (Model.TenderStatusId == (int)Enums.TenderStatus.DirectPurchaseOffersChecking ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStageApproved ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStage ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingPending ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingApproved ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingRejected ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingPending ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingRejected ||
               Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking))
      {
         @Html.Partial("~/Views/Offer/Partial/_OffersTechnicalCheckingResultAndActions.cshtml")
      }
      @if (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles &&
(Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStageApproved ||
Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking ||
Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingPending ||
Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingRejected ||
Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingApproved))
      {
         @Html.Partial("~/Views/Offer/Partial/_OffersFinantialCheckingResultAndActions.cshtml")
      }

      @if (User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersOppenedConfirmed
      || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed
      || Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStageApproved
      || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersChecking
|| Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking)
&& (Model.TenderTypeId == (int)Enums.TenderType.CurrentDirectPurchase || Model.TenderTypeId == (int)Enums.TenderType.CurrentTender || Model.CheckingDateSet || Model.FinancialCheckingDateSet))
      {
         <button type="button" onclick="SaveData()" class="btn btn-primary">
            @res.SharedResources.DisplayInputs.Save
         </button>
      }
      @{
         IDictionary<string, string> parameters = new Dictionary<string, string>();
         parameters.Add("tenderIdString", Model.TenderIdString);
         <a class="btn btn-outline-primary btn-link pull-right" asp-action="CheckTenderOffers" asp-controller="Tender" asp-all-route-data="parameters">@MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.BackButton</a>
      }
   </div>
</div>
@section scripts{
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script src="~/Etimad-UI/assets/js/fineUploderbundle.js"></script>
   <link href="~/Etimad-UI/assets/js/fin-uploader/fin-uploader.css" rel="stylesheet" />
   <script src="~/Etimad-UI/assets/js/jquery.unobtrusive-ajax.js"></script>
   <script>
      $(document).ready(function () {
         if ('@Model.TechnicalOfferStatusId' == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.IdenticalOffer) || $('#technicalOfferStatusId option:selected').val() == "") {
            $('#divRejectionReason').attr('hidden', true);
         }
         if ('@Model.FinantialOfferStatusId' == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.AcceptedOffer) || $('#finantialOfferStatusId option:selected').val() == "") {
            $('#divFinantialRejectionReason').attr('hidden', true);
         }
            @if (!(Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.OneFile ||
        (Model.OfferPresentationWayId == (int)Enums.OfferPresentationWayId.TwoSepratedFiles &&
        (Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersOpenFinancialStage ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingApproved ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingPending ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialOfferCheckingRejected ||
        Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalChecking))))
            {
               <Text>
             $("#quantityTables").addClass("active")
              </text>
            }

         if ('@User.IsInRole(RoleNames.OffersCheckSecretary)' == 'True' && (@Model.TenderStatusId == @((int)Enums.TenderStatus.OffersFinancialChecking))
            && (@Model.TenderTypeId == @((int)Enums.TenderType.CurrentDirectPurchase) || @Model.TenderTypeId == @((int)Enums.TenderType.CurrentTender) || '@(Model.CheckingDateSet)' == 'True' || '@(Model.FinancialCheckingDateSet)' == 'True'))
         {
            $(".isFinancialChecking").attr('disabled', false);
         }
         if ('@User.IsInRole(RoleNames.OffersCheckSecretary)' == 'True' && (@Model.TenderStatusId == @((int)Enums.TenderStatus.OffersOppenedConfirmed) || @Model.TenderStatusId == @((int)Enums.TenderStatus.OffersChecking))
            && (@Model.TenderTypeId == @((int)Enums.TenderType.CurrentDirectPurchase) || @Model.TenderTypeId == @((int)Enums.TenderType.CurrentTender) || '@(Model.CheckingDateSet)' == 'True'|| '@(Model.FinancialCheckingDateSet)' == 'True'))
         {
            $(".canTechnicalChecking").attr('disabled', false);
         }
         if (
            ('@Model.isOldFlow' == 'True' && '@User.IsInRole(RoleNames.OffersCheckSecretary)' == 'True' && (@Model.TenderStatusId == @((int)Enums.TenderStatus.OffersChecking) ||@Model.TenderStatusId == @((int)Enums.TenderStatus.OffersOppenedConfirmed) || @Model.TenderStatusId == @((int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed) || @Model.TenderStatusId == @((int)Enums.TenderStatus.OffersOpenFinancialStage))
               && (@Model.TenderTypeId == @((int)Enums.TenderType.CurrentDirectPurchase) || @Model.TenderTypeId == @((int)Enums.TenderType.CurrentTender) || '@(Model.CheckingDateSet)' == 'True' || '@(Model.FinancialCheckingDateSet)' == 'True'))
            ||
            ('@Model.isOldFlow' == 'False' &&'@User.IsInRole(RoleNames.OffersOppeningSecretary)' == 'True' && (@Model.TenderStatusId == @((int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed) || @Model.TenderStatusId == @((int)Enums.TenderStatus.OffersOpenFinancialStage))
               && (@Model.TenderTypeId == @((int)Enums.TenderType.CurrentDirectPurchase) || @Model.TenderTypeId == @((int)Enums.TenderType.CurrentTender) || '@(Model.CheckingDateSet)' == 'True' || '@(Model.FinancialCheckingDateSet)' == 'True'))
         )
         {
            $(".canFinancialCheck").attr('disabled', false);
         }

      });

      function submitForm(formId) {
         $("#tableContainDiv_" + formId).find("#form0").submit();
      }

      function CollectAlternativeData() {

            var Ids = [];
            var selectedId = 0;
         $("div[id*='tableContainDiv']").find('tbody tr').each(function (index, item) {

               selectedId = 0;
               var isAlternative = $(item).attr('class');
               if (isAlternative == "BaseOffer") {
                  selectedId = $(item).attr('id');
               }
               else {
                  if ($($(item).find('td input[type=radio]:checked')).length == 0) {
                     return;
                  }
                  else {
                  selectedId = $($(item).find('td input[type=radio]:checked')).val();
                  }
               }
               Ids.push(selectedId);
            })
            var token = $('input[name=__RequestVerificationToken]').val();
            var obj = {};
            obj.OfferIdString = '@Model.OfferIdString';
            obj.ChosenItems = Ids;
            $.post("/Offer/SaveAlternativeChoices",{
               choices: obj, __RequestVerificationToken: token
                  }).done(function (e) {
                     $('#LoadingSite').fadeOut();
                     $("#divAlternative").html(e);
                     AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
               }).fail(function (error) {
                     $('#LoadingSite').fadeOut();
                     AlertFun(error.responseJSON.message, alertMessageType.Danger);
                  });
         }

         function checkSpcialChar(event) {
         console.log(event);
         if (event.key == '.' && event.target.value.indexOf('.') > 0) {
            return false
         }
         if (!($.isNumeric(event.target.value))) {
            if (event.keyCode == 8 || (event.key == '.' && event.target.value.split('.').length <= 2)) {
               event.returnValue = true;
               return true;
            }
            event.returnValue = false;
            return false;
         }
         event.returnValue = true;
         return true;
      }
   var attachmentss = [];
   @if (Model != null && Model.Attachment != null)
   {
      @:attachmentss = @Html.Raw(Json.Serialize(Model.Attachment));
   }
   var currentTabIndex = 0;
   function nextTab() {
      $('.etd-wiz-tabs').children().find('a.active').parent().next().children().click();
      if (currentTabIndex != 2)
         currentTabIndex++;
      updateNavigationButtons();
   }
   function prevTab() {
      $('.etd-wiz-tabs').children().find('a.active').parent().prev().children().click();
      if (currentTabIndex != 0)
         currentTabIndex--;
      updateNavigationButtons();
   }
   updateNavigationButtons();
   function updateNavigationButtons() {
      $('#prevButton').show();
      $('#nextButton').show();
      if (currentTabIndex == 0)
         $('#prevButton').hide();
      if (currentTabIndex == 2)
         $('#nextButton').hide();
   }
   var tables = [];
   var finalPrice = 0;
   @if (Model != null && Model.QuantityTable != null)
   {
      @:finalPrice = @Html.Raw(Json.Serialize(Model.FinalPrice));
      @:tables = @Html.Raw(Json.Serialize(Model.QuantityTable));
   }


      function SaveData() {

         if ($('#finantialOfferStatusId').val() == "") {
            $("#spanFinancialResult").show();
            return false;
         }
         else if ($('#technicalEvaluationId').val() == "") {
            $("#spanTechnicalResult").show();
            return false;
         }

         if ($('#technicalOfferStatusId').val() == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.NotIdenticalOffer) && $('#txtRejectionReason').val().trim() == "") {
            $("#RejectionReasonSpan").show();
            return false;
         }

         if ($('#technicalOfferStatusId').val() == "" && $('#txtRejectionReason').val().trim() == "") {
            $("#RejectionReasonSpan").show();
            $("#spanTechnicalResult").show();
            return false;
         }

         if ($('#finantialOfferStatusId').val() == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.NotIdenticalOffer) && $('#txtFinantialRejectionReason').val().trim() == "") {
            $("#finantialRejectionReasonSpan").show();
            return false;
         }

         if ($('#finantialOfferStatusId').val() == "" && $('#txtFinantialRejectionReason').val().trim() == "") {
            $("#finantialRejectionReasonSpan").show();
            $("#spanFinancialResult").show();
            return false;
         }

         app.saveData();//Call Method
      }

      function AjaxStartSpinner(event) {
         event.target.innerHTML = '<i class="fa fa-refresh fa-spin" style="font-size:24px"></i> ';
         event.target.classList.add('btn-warning');
         event.target.disabled = true;
      }
      function AjaxStopSpinner(event) {

         event.target.innerHTML = 'تحديث';
         event.target.disabled = false;
         event.target.classList.remove('btn-warning');

      }

      function UpdateIfCorporationSmallOrMedium(offerId,event) {
         AjaxStartSpinner(event);
         $.get('/Offer/UpdateIfCorporationSmallOrMedium/' + offerId).done(function (result) {
            AjaxStopSpinner(event);
            debugger;
            $('#spanSmallAndMedium').html(result.result);
            location.reload();
         }).fail(function (error) {
            AjaxStopSpinner(event)
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
      }

      function UpdateIsCorporatioIncludedInMoneyMarket(offerId, event) {
         AjaxStartSpinner(event);
         $.get('/Offer/UpdateIsCorporatioIncludedInMoneyMarket/' + offerId).done(function (result) {
            AjaxStopSpinner(event);
            debugger;
            $('#spanIsIncludedInMoneyMarket').html(result.result);
            location.reload();
         }).fail(function (error) {
            AjaxStopSpinner(event)
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
      }
      function UpdateLocalContentPercentage(offerId, event) {
         AjaxStartSpinner(event);
         $.get('/Offer/UpdateLocalContentPercentage/' + offerId).done(function (result) {
            AjaxStopSpinner(event);
            $('#spanLocalContentPerce').html(result.result);
               location.reload();
         }).fail(function (error) {
            AjaxStopSpinner(event)
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
      }
      function UpdateLocalContentDesiredPercentage(offerId, event) {
         AjaxStartSpinner(event);
         $.get('/Offer/UpdateLocalContentDesiredPercentage/' + offerId).done(function (result) {
            AjaxStopSpinner(event);
            $('#spamLocalContentDesiredPerce').html(result.result);
               location.reload();
         }).fail(function (error) {
            AjaxStopSpinner(event)
            if (error.responseText != "Logout") {
               AlertFun(error.responseJSON.message, alertMessageType.Danger);
            }
            else if (error.responseText == "Logout") {
               window.location = '/account/logout'; return;
            }
         });
      }

    var app = new Vue({
      //el: '#financialOfferDetails',
      data: {
         isEdit: true,
         isEmpty: false,
         isNumber: false,
         QuantitiesTables: tables,
      },
      created: function () {
      },
      methods: {
         nextTab: function () {
            if (!this.isEdit) {
               $('.etd-wiz-tabs').children().find('a.active').parent().next().children().click();
            } else {
               AlertFun('@MOF.Etimad.Monafasat.Resources.SharedResources.Messages.PleaseMakeSureOfSavingData', 'warning')
            }
         },
         prevTab: function () {
            if (!this.isEdit) {
               $('.etd-wiz-tabs').children().find('a.active').parent().prev().children().click();
            } else {
               AlertFun('@MOF.Etimad.Monafasat.Resources.SharedResources.Messages.PleaseMakeSureOfSavingData', 'warning')
            }
         },
         SumItem: function (price, quantity) {
            return price * quantity;
         },

         saveData: function () {
            $('#LoadingSite').fadeIn();
            var obj = {};
            obj.OfferIDString = $('#hdOfferId').val();
            obj.Discount = $("#tb_discount").val();
            obj.DiscountNotes = $("#tb_Notes").val();
            obj.FinalPrice = $("#txtFinal").val();
            obj.CombinedIdString = $('#hdCombinedIdString').val();

           //Attachmets Details
            var objAtt = {};
             objAtt.OfferIdString = "@Model.OfferIdString";
               @if ((Model.isOldFlow && User.IsInRole(RoleNames.OffersCheckSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed) && Model.CombinedSupplierModel.Count() == 1)
                  ||
                  (!Model.isOldFlow && User.IsInRole(RoleNames.OffersOppeningSecretary) && (Model.TenderStatusId == (int)Enums.TenderStatus.OffersFinancialChecking || Model.TenderStatusId == (int)Enums.TenderStatus.OffersTechnicalCheckingConfirmed) && Model.CombinedSupplierModel.Count() == 1)
                  )
               {
              <text>
               objAtt.OfferLetterNumber = $("#OfferLetterNumber").val();
               objAtt.offerLetterDate = $("#offerLetterDate").val();
               objAtt.CombinedIdString = $("#CombinedIdString").val();
               objAtt.SpecificationsFiles = app.Specifications;
               objAtt.BankGuaranteeFiles = app.BankGuarantees;
               objAtt.IsFinaintialOfferLetterAttached = $("input[name='IsFinaintialOfferLetterAttached']:checked").val();
               objAtt.IsFinantialOfferLetterCopyAttached = $("input[name='IsFinantialOfferLetterCopyAttached']:checked").val();
               objAtt.IsOfferLetterAttached = $("input[name='IsOfferLetterAttached']:checked").val();
               objAtt.IsChamberJoiningAttached = $("input[name='IsChamberJoiningAttached']:checked").val();
               objAtt.IsChamberJoiningValid = $("input[name='IsChamberJoiningValid']:checked").val();
               objAtt.IsCommercialRegisterAttached = $("input[name='IsCommercialRegisterAttached']:checked").val();
               objAtt.IsCommercialRegisterValid = $("input[name='IsCommercialRegisterValid']:checked").val();
               objAtt.IsOfferCopyAttached = $("input[name='IsOfferCopyAttached']:checked").val();
               objAtt.IsPurchaseBillAttached = $("input[name='IsPurchaseBillAttached']:checked").val();
               objAtt.IsSaudizationAttached = $("input[name='IsSaudizationAttached']:checked").val();
               objAtt.IsSaudizationValidDate = $("input[name='IsSaudizationValidDate']:checked").val();
               objAtt.IsSocialInsuranceAttached = $("input[name='IsSocialInsuranceAttached']:checked").val();
               objAtt.IsSocialInsuranceValidDate = $("input[name='IsSocialInsuranceValidDate']:checked").val();
               objAtt.IsVisitationAttached = $("input[name='IsVisitationAttached']:checked").val();
               objAtt.IsZakatAttached = $("input[name='IsZakatAttached']:checked").val();
               objAtt.IsZakatValidDate = $("input[name='IsZakatValidDate']:checked").val();
               objAtt.IsBankGuaranteeAttached = $("input[name='IsBankGuaranteeAttached']:checked").val();
               objAtt.IsSpecificationAttached = $("input[name='IsSpecificationAttached']:checked").val();
               objAtt.IsSpecificationValidDate = $("input[name='IsSpecificationValidDate']:checked").val();
               objAtt.TechnicalOfferStatusId = $("#technicalOfferStatusId").val();
               objAtt.FinantialOfferStatusId = $("#finantialOfferStatusId").val();
               objAtt.RejectionReason = $("#txtRejectionReason").val();
               objAtt.FinantialRejectionReason = $("#txtFinantialRejectionReason").val();
               objAtt.Notes = $("#txtNotes").val();
               objAtt.FinantialNotes = $("#txtFinantialNotes").val();
               objAtt.CombinedOwner = true;
               objAtt.CombinedIdString = "@Model.CombinedIdString";
             </text>

            }
            //
            var insertObj = {};
            for (var i = 0; i < app.QuantitiesTables.length; i++) {
               if (app.QuantitiesTables[i].openingDiscount > app.QuantitiesTables[i].openingTotalPrice) {
                  AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.OfferResources.ErrorMessages.DiscountAmountLargerThanPrice)', alertMessageType.Danger);
                  return false;
               }
            }
            insertObj.tables = app.QuantitiesTables;
            insertObj.model = obj;
            var checkingModel = {};
            checkingModel.OfferIdString = '@Model.OfferIdString';
            checkingModel.TechnicalOfferStatusId = $("#technicalOfferStatusId").val();
            checkingModel.FinantialOfferStatusId = $("#finantialOfferStatusId").val();
            checkingModel.RejectionReason = $("#txtRejectionReason").val();
            checkingModel.FinantialRejectionReason = $("#txtFinantialRejectionReason").val();
            checkingModel.Notes = $("#txtNotes").val();
            checkingModel.FinantialNotes = $("#txtFinantialNotes").val();
            checkingModel.IsBindedToMandatoryList = $("input[name='IsBindedToMandatoryList']:checked").val();
            checkingModel.TechniciansReportAttachmentsRef = $("#TechniciansReportAttachmentsRef").val();
            var token = $('input[name=__RequestVerificationToken]').val();

            $('#LoadingSite').fadeIn();
            if ('@Model.TenderStatusId' == '@((int)Enums.TenderStatus.OffersOppenedConfirmed)'||'@Model.TenderStatusId' == '@((int)Enums.TenderStatus.OffersChecking)' || '@Model.TenderStatusId' == '@((int)Enums.TenderStatus.Approved)'|| '@Model.TenderStatusId' == '@((int)Enums.TenderStatus.OffersTechnicalOppeningConfirmed)'|| '@Model.TenderStatusId' == '@((int)Enums.TenderStatus.OffersTechnicalChecking)') {
               $.post('/Offer/SaveOfferCheckingOneFile', {
                  tables: insertObj, model: objAtt, checkingResult: checkingModel, __RequestVerificationToken: token
               }).done(function (e) {
                  $('#LoadingSite').fadeOut();
                  window.location = "/Tender/CheckTenderOffers?tenderIdString=@Model.TenderIdString";
                  AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
               }).fail(function (error) {
                  $('#LoadingSite').fadeOut();
                  AlertFun(error.responseJSON.message, alertMessageType.Danger);
               });
            }
            else {
                  var obj = {};
                  obj.FinantialOfferLetterNumber = $("#OfferLetterNumber").val();
                  obj.FinantialOfferLetterDate = $("#offerLetterDate").val();
                  //obj.CombinedIdString = $("#CombinedIdString").val();
                  obj.BankGuaranteeFiles = app.BankGuarantees;
                  obj.IsFinaintialOfferLetterAttached = $("input[name='IsFinaintialOfferLetterAttached']:checked").val();
                  obj.IsFinantialOfferLetterCopyAttached = $("input[name='IsFinantialOfferLetterCopyAttached']:checked").val();
                  obj.IsBankGuaranteeAttached = $("input[name='IsBankGuaranteeAttached']:checked").val();
                  obj.FinantialOfferStatusId = $("#finantialOfferStatusId").val();
                  obj.FinantialRejectionReason = $("#txtFinantialRejectionReason").val();
                  obj.FinantialNotes = $("#txtFinantialNotes").val();
                  obj.IsBindedToMandatoryList = $("input[name='IsBindedToMandatoryList']:checked").val();
                  obj.OfferIdString = $('#hdOfferId').val();
                  var token = $('input[name=__RequestVerificationToken]').val();
                  $('#LoadingSite').fadeIn();
                     $.post("/Offer/AddFinantialCheckingResult", {
                        checkingResult: obj, __RequestVerificationToken: token
                  }).done(function () {
                     $('#LoadingSite').fadeOut();
                     AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.Messages.DataSaved)', 'success')
                     setTimeout(function () {
                        window.location = "/Tender/CheckTenderOffers?tenderIdString=@Model.TenderIdString";
                     }, 2000);
                  }).fail(function (error) {
                     $('#LoadingSite').fadeOut();
                     if (error.responseText != "Logout") {
                        AlertFun(error.responseJSON.message, alertMessageType.Danger);
                     }
                     else if (error.responseText == "Logout") {
                        window.location = '/account/logout'; return;
                     }
                  });
            }
         },
      }
   });

         $("#technicalOfferStatusId").change(function () {
            var selectedValue = $('#technicalOfferStatusId option:selected').val();
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.NotIdenticalOffer)) {
               $('#divRejectionReason').attr('hidden', false);
               $("#spanTechnicalResult").hide()
            }
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferTechnicalEvaluationStatusId.IdenticalOffer) || selectedValue == "") {
               $('#divRejectionReason').attr('hidden', true);
               $('#txtRejectionReason').val(null);
               $("#spanTechnicalResult").hide()
            }
         });
         $("#finantialOfferStatusId").change(function () {
            var selectedValue = $('#finantialOfferStatusId option:selected').val();
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.RejectedOffer)) {
               $('#divFinantialRejectionReason').attr('hidden', false);
               $("#spanFinancialResult").hide()
            }
            if (selectedValue == @Convert.ToInt16(MOF.Etimad.Monafasat.SharedKernel.Enums.OfferAcceptanceStatusId.AcceptedOffer) || selectedValue == "") {
               $('#divFinantialRejectionReason').attr('hidden', true);
               $('#txtFinantialRejectionReason').val(null);
               $("#spanFinancialResult").hide()
            }
         });

      $('input[name="IsBindedToMandatoryList"]').change(function () {
            var IsBindedToMandatoryList = $('input[name="IsBindedToMandatoryList"]:checked').val();
            if (IsBindedToMandatoryList == "false") {
               $('#finantialOfferStatusId').val(2).change()
               $('#divFinantialRejectionReason').attr('hidden', false);
               $("#spanFinancialResult").hide()
               if ($('#txtFinantialRejectionReason').val().includes("عدم التزام المورد بالقائمة الالزامية") == false) {
                  $('#txtFinantialRejectionReason').val($('#txtFinantialRejectionReason').val() + ' عدم التزام المورد بالقائمة الالزامية')
               }
            }
         });

   $("#btnSend").click(function () {
      $('#vsNoDataFound').hide();
      $('#vsNoAttachmentsDataFound').hide();
   });

      var totalPricevalue = 0;
      var totalDiscountvalue = 0;
      var totalVatvalue = 0;
   $("input[name=tblTotalPrice]").each(function () {
      var txval = $(this).val();
      totalPricevalue += parseFloat(txval);
      $("#txtTotPrice").text(totalPricevalue);
      });
      $("input[name=tblTotalDiscount]").each(function () {
      var txval = $(this).val();
      totalDiscountvalue += parseFloat(txval);
      $("#txtTotAfterDiscount").text(totalDiscountvalue);
      });
      $("input[name=tblTotalVat]").each(function () {
         var txval = $(this).val();
         totalVatvalue += parseFloat(txval);
         $("#txtTotAfterVat").text(totalVatvalue);
      });
   $('a[data-toggle="collapse"]').click(function () {
      $(this).toggleClass('btn-outline-primary');
      $(this).toggleClass('btn-primary');
      });

   if (finalPrice == null) {
      $("#txtFinal").val(totalPricevalue - totalDiscountvalue + totalVatvalue);
   }
   else
      $("#txtFinal").val(finalPrice);

      $("input[name=OpenTxtPrice]").on("input", function () {
         if ($(this).val() > 9999999999) {
            $(this).val(0);

         }
      var prc = 0;
      var dscnt = 0;
      var vat = 0;
      if ($(this).val() != "")
         prc = parseFloat($(this).val());
      else
         prc = 0;
      if ($('#OpenTxtDiscount').val() != "")
         dscnt = parseFloat($('#OpenTxtDiscount').val());
      else
         dscnt = 0;
      if ($('#OpenTxtVat').val() != "")
         vat = parseFloat($('#OpenTxtVat').val());
      else
         vat = 0;

      var totl = prc - dscnt + vat;
      $('#txtBayanFinal').text(totl);
      });
      $("input[name=OpenTxtDiscount]").on("input", function () {
         if ($(this).val() > 9999999999) {
            $(this).val(0);

         }
      var prc = 0;
      var dscnt = 0;
      var vat = 0;
      if ($(this).val() != "")
         dscnt = parseFloat($(this).val());
      else
         dscnt = 0;
      if ($('#OpenTxtPrice').val() != "")
         prc = parseFloat($('#OpenTxtPrice').val());
      else
         prc = 0;
       if ($('#OpenTxtVat').val() != "")
          vat = parseFloat($('#OpenTxtVat').val());
       else
          vat = 0;

      var totl = 0;
      if (prc == 0) {
         totl = 0;
      }
      else {
         totl = prc - dscnt + vat;
      }
      $('#txtBayanFinal').text(totl);
      });

      $("input[name=OpenTxtVat]").on("input", function () {
         if ($(this).val() > 9999999999) {
            $(this).val(0);

         }
      var prc = 0;
      var dscnt = 0;
      var vat = 0;
      if ($(this).val() != "")
         vat = parseFloat($(this).val());
      else
         vat = 0;
      if ($('#OpenTxtPrice').val() != "")
         prc = parseFloat($('#OpenTxtPrice').val());
      else
      prc = 0;
      if ($('#OpenTxtDiscount').val() != "")
         dscnt = parseFloat($('#OpenTxtDiscount').val());
      else
         dscnt = 0;
      var totl = 0;
      if (prc == 0) {
         totl = 0;
      }
      else {
         totl = prc - dscnt + vat;
      }
      $('#txtBayanFinal').text(totl);
      });

      function RedirectURL(ids, names) {
         window.open("/Upload/getfile/" + ids + ":" + names, '_blank');
      }

      function SaveAttachmentDetailsData() {
         var obj = {};
         obj.FinantialOfferLetterNumber = $("#finantialOfferLetterNumber").val();
         obj.FinantialOfferLetterDate = $("#finantialOfferLetterDate").val();
         obj.CombinedIdString = $("#CombinedIdString").val();
         obj.BankGuaranteeFiles = vueObj.BankGuarantees;
         obj.IsFinaintialOfferLetterAttached = $("input[name='IsFinaintialOfferLetterAttached']:checked").val();
         obj.IsFinantialOfferLetterCopyAttached = $("input[name='IsFinantialOfferLetterCopyAttached']:checked").val();
         obj.IsBankGuaranteeAttached = $("input[name='IsBankGuaranteeAttached']:checked").val();
         obj.OfferIdString ="@Model.OfferIdString";
         obj.CombinedOwner = "@Model.CombinedOwner.ToString().ToLower()";
         obj.CombinedIdString = "@Model.CombinedIdString";

         var token = $('input[name=__RequestVerificationToken]').val();
         $('#LoadingSite').fadeIn();
               $.post("/Offer/SaveCombinedOfferCheckingAttachments",{
                  model: obj,  __RequestVerificationToken: token
            }).done(function () {
               $('#LoadingSite').fadeOut();
               AlertFun('@Html.Raw(MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.ProgressDoneSuccessfully)', alertMessageType.Success);
               window.location = '/Tender/CheckTenderOffers?tenderIdString=@Model.TenderIdString';

            }).fail(function (error) {
               $('#LoadingSite').fadeOut();
               if (error.responseText != "Logout") {
                  AlertFun(error.responseJSON.message, alertMessageType.Danger);
               }
               else if (error.responseText == "Logout") {
                  window.location = '/account/logout'; return;
               }
            });
      }

   </script>
}



