<div class="row" v-if="Users && Users.length > 0">
   <div class="monafasausers-item monafasa-item col-xl-4 col-lg-4 col-md-6  col-sm-12 col-xs-12" v-for="(usr, $index) in Users">
      <div class="card">
         <div class="card-body">
            @Html.Partial("_UserListActions.cshtml")
            <h5 class="card-category card-category-social text-primary">
               <a :href="detailsUrl(usr.nationalId)">
                  <i class="material-icons  text-dark-green" style="border: 1px solid #ccc;display: inline;border-radius: 100%;padding: 5px;">people</i> <span class="d-inline-block" style="padding: 0 5px;"> {{usr.fullName}} </span>
               </a>
            </h5>
            <div class="clearfix"></div>
            <div class="row">
               <ul class="list-group form-details-list">
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col etd-item-title">
                           #
                        </div>
                        <div class="col-8 etd-item-info">
                           <span>{{(currentPage -1) * (pageSize) + $index + 1}}</span>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col etd-item-title">
                           @MOF.Etimad.Monafasat.Resources.TenderResources.DisplayInputs.Agency
                        </div>
                        <div class="col-8 etd-item-info">
                           <span>
                              {{usr.agencyNames}}
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col etd-item-title">
                           @MOF.Etimad.Monafasat.Resources.UsersResources.DisplayInputs.MobileNumber
                        </div>
                        <div class="col-8 etd-item-info">
                           <span>
                              {{usr.mobileNumber}}
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col etd-item-title">
                           @MOF.Etimad.Monafasat.Resources.UsersResources.DisplayInputs.Email
                        </div>
                        <div class="col-8 etd-item-info">
                           <span>
                              {{usr.email}}
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="row">
                        <div class="col etd-item-title">
                           @MOF.Etimad.Monafasat.Resources.UsersResources.DisplayInputs.NationalId
                        </div>
                        <div class="col-8 etd-item-info">
                           <span>
                              {{usr.nationalId}}
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item" v-if="usr.roles && usr.roles.length > 0">
                     <div class="row">
                        <div class="col etd-item-title">
                           @MOF.Etimad.Monafasat.Resources.UsersResources.DisplayInputs.Roles
                        </div>
                        <div class="col-8 etd-item-info">
                           <div class="row">
                              <span v-for="(role, $index) in usr.roles" v-if="$index < 5">
                                 {{ role.roleNameAr != null ? role.roleNameAr : '' }}
                              </span>
                              <br />
                              <button :id="'showmorerolesBtn' + $index" class="btn btn-link" type="button" v-if="usr.roles.length >= 5" v-on:click="toggleRolesText($index, true)" style="display:block">@MOF.Etimad.Monafasat.Resources.UsersResources.Messages.ViewMore</button>
                              <br />
                              <div class="row" :id="'showmoreroles' + $index" v-if="usr.roles.length >=5" style="display:none">
                                 <span v-for="(role, $index) in usr.roles" v-if="$index >= 5">
                                    {{ role.roleNameAr != null ? role.roleNameAr : '' }}
                                 </span>
                                 <br />
                              </div>
                              <button :id="'showlessrolesBtn' + $index" class="btn btn-link" type="button" v-if="usr.roles.length >= 5" v-on:click="toggleRolesText($index, false)" style="display:none">@MOF.Etimad.Monafasat.Resources.UsersResources.Messages.ViewLess</button>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="col-12" v-else>
   <div class="row text-center">
      <div class="card">
         <div class="card-body text-center">
            <i class="text-primary material-icons" style="font-size:3rem">report</i>
            <br />
            @MOF.Etimad.Monafasat.Resources.SharedResources.DisplayInputs.NoData
         </div>
      </div>
   </div>
</div>
<div class="col-12 m-5 m-auto">
   <pagination :visible_pages="3" ref="vpaginator" :resource_url="resource_url" @@update="updateResource"></pagination>
</div>



